.ant-select {
  width: 100%;
  color: #fff;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  min-height: 4.4rem;
  padding: 0 11px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;

  background: none !important;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #239f40;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none;
  border-color: #fff;
}
.ant-select-single .ant-select-selector {
  display: flex;
  align-items: center;
}
.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  min-height: 4.4rem;
}
.ant-select-arrow {
  color: #fff;
}
.ant-select-clear {
  background: none;
  color: #e70e0e;
  margin-right: 2rem !important;
  &:hover {
    color: #e70e0e;
  }
}

.ant-picker-focused {
  outline: none !important;
  box-shadow: none !important;
}

.ant-dropdown {
  z-index: 9999 !important;
}
