.banner-promotion {
    position: relative;
    .img-position {
        position: absolute;
        top: 0;
    }
    .content-inner {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translate(-50%, 0);
        .title {
            font-size: 4.8rem;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }
    }
}

.keyframe-rotate {
    animation: animationRotate 1s linear infinite;
}

.ant-select-single.formSelect {
    color: #000;
    .ant-select-selector {
        .ant-select-selection-item,
        .ant-select-selection-placeholder {
            display: flex;
            align-items: flex-end;
            padding: 0.8rem 0;
            margin-right: 40px;
        }
        /* .ant-select-selection-placeholder {
      height: 100%;
    } */
    }
    &:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: transparent;
        border-right-width: 0;
    }
    &.ant-select-focused~.underline {
        width: 100% !important;
        transition: 0.5s linear !important;
    }
}

.ant-select-single.formSelectAccount {
    color: #000;
    .ant-select-selector {
        height: 4.56rem;
        margin-top: 0.5rem;
        .ant-select-selection-item,
        .ant-select-selection-placeholder {
            height: 4.56rem;
            display: flex;
            align-items: flex-end;
            padding: 0.8rem 0;
        }
        /* .ant-select-selection-placeholder {
      height: 100%;
    } */
    }
    &:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: transparent;
        border-right-width: 0;
    }
    &.ant-select-focused~.underline {
        width: 100% !important;
        transition: 0.5s linear !important;
    }
}

.avatar-form-single {
    .ant-upload {
        border-radius: 99.9rem;
    }
}

@keyframes animationRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.button-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    border: 0.1rem solid #d9d9d9;
    transition: all 0.3s;
    min-width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 0.1rem;
    background-color: #fff;
    &.first-page {
        margin-right: 0.5rem;
    }
    &.last-page {
        margin-left: 0.5rem;
    }
    &:hover {
        color: #239f40;
        border-color: #239f40;
        & * {
            color: #239f40;
        }
    }
}

.wrapper-modal-search {
    background-color: #420b0d;
    position: relative;
    max-width: 100vw;
    padding-bottom: 0;
    .ant-modal-content {
        background-color: unset;
        .ant-modal-close {
            margin-top: 10rem;
            margin-right: 10rem;
            @include mobilem {
                margin-top: 5rem;
                margin-right: 5rem;
            }
            @include mobile {
                margin-top: 3rem;
                margin-right: 3rem;
            }
        }
        .logo-footer {
            text-align: center;
        }
        .image-box {
            margin-top: 10rem;
            margin-bottom: 16rem;
            @include mobilem {
                margin-top: 5rem;
                margin-bottom: 10rem;
            }
            img {
                margin: 0 auto;
                width: 13.6rem;
                height: 5.2rem;
            }
        }
        .title-search {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 7.2rem;
            text-align: center;
            color: #fff;
            margin-bottom: 5rem;
        }
        .ant-modal-body {
            height: 100vh;
            .wrapper-box-search {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                margin-bottom: 37.7rem;
                @include mobile {
                    flex-wrap: wrap;
                }
                .ant-input-affix-wrapper {
                    width: 104rem;
                    max-width: 100%;
                    background-color: unset;
                    border: none;
                    border-bottom: 0.1rem solid #fff;
                    outline: none;
                    height: 4.4rem;
                    border-radius: 0;
                    &:focus {
                        box-shadow: none;
                    }
                    .ant-input-prefix {
                        margin-right: 0.4rem;
                        img {
                            width: 1.8rem;
                        }
                    }
                    input {
                        background-color: unset;
                        color: #fff;
                        font-size: 1.4rem;
                    }
                }
                .ant-input-affix-wrapper-focused {
                    box-shadow: none;
                }
                .button-search {
                    flex-shrink: 0;
                    .main-button {
                        padding: 0 2rem;
                        height: 4.4rem;
                        font-size: 1.4rem;
                        .icon img {
                            width: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    .wrapper-image {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}