.form-filter-product {
    .ant-select-arrow,
    .ant-select-clear {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: -0.6rem;
        font-size: 1.2rem;
        right: 1.1rem;
    }
    .label-filter {
        width: calc(100% - 10rem);
        display: flex;
        align-items: center;
        margin: 0 -1.2rem;
        margin-bottom: 0.1rem;
        .item {
            color: #4f4f4f;
            padding: 0 1.2rem;
            width: calc(100% / 4);
            font-family: 'Roboto';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 150%;
            /* 21px */
        }
    }
    .box {
        @include flex(flex-end, space-between);
        @include max-media(1300px) {
            flex-direction: column;
        }
        width: 100%;
        gap: 3rem;
        .items {
            // width: calc(100% - 6rem);
            flex: 1;
            margin: 0 -1.2rem;
            display: flex;
            align-items: flex-end;
            @include max-media(1300px) {
                flex-direction: column;
                width: 100%;
                gap: 2.4rem;
                margin: 0;
            }
            .item {
                width: calc(100% / 4);
                padding: 0 1.2rem;
                .label-form {
                    color: #4f4f4f;
                }
                @include max-media(1300px) {
                    width: 100%;
                }
                .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                    border-bottom: 0.1rem solid #ccc;
                }
                .ant-select {
                    color: #4f4f4f;
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 150%;
                    /* 24px */
                }
                .ant-select-selection-item {
                    font-weight: 700;
                }
                .ant-select-arrow {
                    color: #4f4f4f;
                }
            }
            .itemAccesories {
                width: calc(100% / 3);
                padding: 0 1.2rem;
                .label-form {
                    color: #4f4f4f;
                }
                @include max-media(1300px) {
                    width: 100%;
                }
                .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                    border-bottom: 0.1rem solid #ccc;
                }
                .ant-select {
                    color: #4f4f4f;
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 150%;
                    /* 24px */
                }
                .ant-select-selection-item {
                    font-weight: 700;
                }
                .ant-select-arrow {
                    color: #4f4f4f;
                }
            }
        }
        .button-search {
            @include flex(center, center);
            height: 4.5rem;
            @include max-media(1300px) {
                width: 100%;
            }
            .icon {
                img {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
            .text {
                white-space: nowrap;
                font-family: 'Roboto';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 150%;
                /* 24px */
            }
        }
    }
    .ant-select-selection-placeholder {
        color: #000 !important;
        font-weight: 400;
    }
}

.box-tag {
    display: flex;
    // grid-template-columns: repeat(5, minmax(0, 1fr));
    @include max-media(1100px) {
        flex-wrap: wrap;
        width: fit-content;
        margin-top: 3rem;
        justify-content: center;
    }
    gap: 1rem;
    .items-tag {
        margin: 2rem 0;
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: center;
        background: #239f40;
        color: #fff;
        border-radius: 9999999px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background: #1e7e37;
        }
        @include max-media(1100px) {
            margin: 0.5rem 0;
            width: fit-content;
        }
    }
    .active-tag {
        background: red;
        &:hover {
            opacity: 0.8;
            background: red;
        }
    }
}

.sort-select {
    width: 100%;
    padding: 0 1.2rem;
    .label-form {
        color: #4f4f4f;
    }
    @include tablet {
        width: 100%;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-bottom: 0.1rem solid #ccc;
        min-height: 3.6rem;
    }
    .ant-select {
        color: #4f4f4f;
        font-family: 'Roboto';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
        /* 24px */
    }
    .ant-select-selection-item {
        font-weight: 700;
    }
    .ant-select-arrow {
        color: #4f4f4f;
    }
}