.prev-pagination-custom {}

.ant-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
        padding: 0 .1rem;
        border-radius: .8rem!important;
        // border: .1rem solid #F1F1F1;
        // border-color: $primary-color;
        &.ant-pagination-item {
            margin-right: .5rem!important;
            >a {
                padding: 0;
                font-size: 1.6rem;
            }
            &:hover {
                color: #239F40;
                border-color: #239F40;
                >a {
                    color: #239F40;
                }
            }
        }
        &.ant-pagination-item-active {
            border: 0;
            background: #239F40;
            >a {
                color: #fff;
            }
            &:hover {
                >a {
                    color: #fff;
                }
            }
        }
        a,
        button {
            border-radius: 4px !important;
        }
    }
    .ant-pagination-item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .8rem!important;
        &:hover {
            color: #239F40;
            border-color: #239F40;
        }
    }
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-item {
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3rem;
    min-width: 3.2rem;
}

.ant-pagination-prev,
.ant-pagination-next {
    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.button-pagination.first-page,
.button-pagination.last-page {
    img {
        width: 1.6rem;
    }
}

.ant-pagination .ant-pagination-item-link {
    font-size: 0.75rem;
    border-width: .1rem;
    border-color: #d9d9d9;
}

.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
    margin-right: 0.5rem;
}