    .title-product-sale {
        @include flex(flex-end, space-between);
        @include largem {
            flex-direction: column;
            @include flex(flex-start, flex-start);
        }
        .title-left {
            // .icon {
            // }
            .text {
                margin-top: -5rem;
                color: #2c0709;
                font-family: 'SVN-Engine';
                font-size: 6.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                @include tablet {
                    font-size: 3.4rem;
                }
                /* 96px */
            }
        }
        .title-right {
            @include flex(center, center);
            gap: 2rem;
            .text {
                color: #c82127;
                font-family: 'Roboto';
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 24px */
            }
            .times {
                @include flex(center, center);
                gap: 1rem;
                .time {
                    color: #fff;
                    @include flex(center, center);
                    flex-direction: column;
                    background: #c82127;
                    border-radius: 2.4rem;
                    padding: 1rem 1.8rem;
                    .num {
                        font-family: 'Roboto';
                        font-size: 3.2rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .line {
                        width: 100%;
                        height: 0.2rem;
                        margin: 0.4rem 0;
                        background: #fff;
                        opacity: 0.1;
                    }
                    .txt {
                        font-family: 'Roboto';
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 21px */
                    }
                }
            }
        }
    }
    
    .title-product {
        text-align: center;
        display: flex;
        flex-direction: column;
        .icon {
            @include flex(center, center);
            height: 20%;
            >img {
                @include largem {
                    height: 10%;
                }
                @include desktop {
                    // height: auto;
                }
                // @include mobile {
                //     width: 15%;
                // }
            }
        }
        .text {
            margin-top: -5rem;
            color: #2c0709;
            font-family: 'SVN-Engine';
            font-size: 6.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 96px */
            @include tablet {
                font-size: 5rem;
            }
            @include mobile {
                font-size: 4rem;
            }
        }
    }
    
    .list-search {
        width: 100%;
        position: relative;
        .title-search {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 800px) {
                gap: 2rem;
            }
        }
        .ant-carousel {
            font-size: 1.4rem;
        }
        .icon-center {
            @include flex(center, center);
            @include max-media(1000px) {
                width: 12%;
                margin: 0 auto;
            }
            @include tablet {
                width: 14%;
            }
        }
        .content-text {
            @include flex(center, center);
            // margin-bottom: 3rem;
            @include max-media(800px) {
                margin-bottom: 0;
            }
            >span {
                // margin-top: -5rem;
                color: #2c0709;
                font-family: 'SVN-Engine';
                font-size: 6.4rem;
                // line-height: 1.5;
                /* 96px */
                text-transform: uppercase;
                @include max-media(1000px) {
                    font-size: 5.4rem;
                }
                @include max-media(800px) {
                    margin-top: -3rem;
                }
                @include tablet {
                    font-size: 3.4rem;
                    margin-top: -2rem;
                }
            }
        }
    }