@font-face {
    font-family: 'Noir';
    src: url('Regular.woff2') format('woff2'),
        url('Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir';
    src: url('Medium.woff2') format('woff2'),
        url('Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

