.billContainer {
  @apply w-[100%] pb-[7rem];
}

.breadcrumb {
  @apply w-full;
}

.tabTitle {
  @apply text-center mt-36;

  img {
    @apply m-auto;
  }

  h2 {
    @apply font-bold xl:text-[64px] text-[48px] -translate-y-24 text-[#2C0709];
    font-family: "SVN-Engine";
  }

  p {
    @apply  text-[#382E2E];
  }
}

.billFormSearch {
  @apply w-full lg:flex gap-3 justify-between py-[30px] px-[25px] rounded-[24px] bg-[#F5F5F5];

  div {
    @apply relative  mb-8 lg:mb-0;

    p {
      @apply font-bold text-[#382E2E];
    }

    input {
      @apply mt-[16px] w-full py-[10px] bg-[#F5F5F5] border-b-[1px] border-[#CCCCCC];

      &:focus {
        // @apply outline-none border-[#382E2E] transition;
        @apply outline-none border-[#239f40];
      }
    }

    .underline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #382e2e;
      transition: 0.5s ease-in-out;
    }

    input:focus ~ .underline {
      width: 100%;
      transition: 0.5s ease-in-out;
    }
  }

  button {
    @apply flex gap-2 w-[130px] h-[44px] py-[10px] px-[20px] rounded-[30px] bg-[#239F40] text-[#FFFFFF] mt-[42px] hover:bg-[#007134];

    img {
      @apply mt-1;
    }
  }
}

.billContentSearch {
  @apply w-full py-[30px] px-[100px] rounded-[24px] bg-[#F5F5F5] mt-8;
  .titleBillSearch {
    @apply flex justify-center font-semibold text-[24px] w-full;
  }
  .logoExpress {
    @apply flex justify-center py-6;
  }
  .boxContentTracking {
    @apply grid grid-cols-3 gap-x-4 gap-y-16 justify-center mt-10;
    .itemInfoTracking {
      @apply grid justify-center;
      .title {
        @apply font-semibold;
      }
      p {
        @apply text-center;
      }
    }
  }
}

.cardSection {
  @apply w-full flex md:flex-row flex-col gap-6 justify-center my-5 sm:my-10 md:my-[60px] lg:my-[100px];

  .cardItem {
    @apply md:w-[50%] w-full mt-12 lg:mt-0 m-auto;
    >img{
      width: 100%;
    }
  }
}
