.footer {
  padding: 0.4rem 1rem;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #7790b6;
  /* border-top: 2px solid #7790b6; */
  /* background-color: #fff; */
  transition: 0.3s;
  display: flex;
  height: 32px !important;
  align-items: flex-end;
}

.footer p {
  margin: 0;
}
