.nested-table table > thead > tr > th {
  background-color: #eef2f5 !important;
  color: #636262 !important;
  font-weight: 600 !important;
  padding: 12px !important;
}

.nested-table tr,
.nested-table td,
.nested-table th,
.nested-table table {
  border-color: #ece9e9 !important;
  height: auto;
  line-height: 2rem;
}

.nested-table table {
  /* border-left: 1px solid #c3c3c3 !important; */
  width: 100% !important;
}

.nested-table th,
.nested-table td {
  padding: 0.5rem !important;
  line-height: 1rem;
  /* height: auto !important; */
  min-height: 32px !important;
}
