@font-face {
  font-family: "Tahoma";
  src: url("Tahoma\ Regular\ font.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tahoma";
  src: url("Tahoma\ Regular\ font.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
