@font-face {
    font-family: 'SVN-Engine';
    src: url('SVN-Engine-Regular.woff2') format('woff2'),
        url('SVN-Engine-Regular.woff') format('woff'),
        url('SVN-Engine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

