.cartPopup {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.cartPopupHidden {
  width: 0;
  height: 0;
}

.container {
  @apply w-full sm:w-[500px] lg:w-[546px] flex flex-col;
  position: fixed;
  z-index: 1500;
  font-family: 'Montserrat', sans-serif !important;
  transition: 0.5s !important;
  right: 0;
  background-color: #ffffff;
  // top: 10rem;
}
.heightStiker {
    @media screen and (max-width: 1400px) {
        height: calc(100vh - 7rem);
    }
    @media screen and (min-width: 1400px) {
        height: calc(100vh - 10rem);
    }
      
}

.cartHidden {
  transform: translateX(646px);
}

@media (max-width: 1400px) {
  .cartPopup {
    top: 7rem;
  }
}

.stickyCart {
  top: 7rem;
}

.miniCartContainer {
  @apply flex-1 flex flex-col py-[16px] sm:py-[24px];

  h1 {
    @apply text-[32px] lg:text-[48px] text-[#2C0709] font-bold text-center;
  }

  .cartClose {
    position: absolute;
    top: 3rem;
    left: 1.875rem;
    cursor: pointer;
  }

  .cartOverlayTop {
    @apply absolute top-0 left-0 right-0 h-12 select-none pointer-events-none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
    transform: translateY(-5px);
  }

  .cartOverlayBottom {
    @apply absolute bottom-0 left-0 right-0 h-12 select-none pointer-events-none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
    transform: translateY(5px);
  }

  .cartListWrapper {
    @apply relative flex-1 flex flex-col;
  }

  .cartList {
    @apply relative w-full max-h-[calc(100vh-350px)] overflow-y-auto overflow-x-hidden flex-1 px-[16px] sm:px-[24px];
    &::-webkit-scrollbar {
      width: 3px;
    }
    .cartItem {
      @apply w-full pr-[15px] min-h-[70px] flex items-center justify-between mb-[20px] last:mb-[32px];

      .wrapperInfo {
        @apply flex items-center gap-[12px];
        input[type='checkbox'] {
          @apply w-[15px] accent-[#C82127] cursor-pointer;
        }
        .cartItemImage {
          @apply w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] rounded-[12px] sm:block cursor-pointer;
        }
        .cartItemInfo {
          p {
            @apply text-[12px] sm:text-[16px] text-[#2C0709] font-bold;
          }
          .quantity {
            @apply w-[92px] h-[32px] flex rounded-[46px] border-[1px] border-[#EEEEEE] mt-[12px];
            img {
              @apply w-[12px];
            }
            p {
              @apply sm:-translate-y-1;
            }
          }
        }
      }

      .price {
        @apply text-[#C82127] text-[14px] lg:text-[20px] font-bold py-[20px];
      }
    }
  }

  .total {
    @apply mt-6 flex justify-between;
    p {
      @apply lg:text-[20px] text-[#2C0709] font-bold;
    }
    .totalPrice {
      @apply text-[#C82127];
    }
  }

  .cartButton {
    @apply w-full flex justify-between mt-6;
    button {
      @apply w-[49%] h-[44px] py-[10px] px-[20px] border-[1px] border-[#239F40] text-center rounded-[54px] font-bold;
      p,
      img {
        @apply -translate-y-1;
      }
      &:last-child {
        @apply relative;
        img {
          @apply w-[16px] h-[16px] absolute top-[14px] sm:left-[55px];
        }
        p {
          @apply translate-x-2;
        }
      }
      &:hover {
        @apply bg-[#239F40] text-[#FFFFFF];
        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    .buttonOrder {
      @apply bg-[#239F40] text-[#fff];
      img {
        filter: brightness(0) invert(1);
      }

      &:hover {
        @apply bg-[#007134];
      }
    }
  }
}
.gearCart {
  @apply absolute bottom-[8%] right-3 w-[145px] h-[145px] z-[-10];
}

.emptyCartContainer {
  @apply relative w-full h-full m-auto;
  .mainContent {
    @apply text-center h-[150px] translate-y-[70%];
    h1 {
      @apply text-[#2C0709] text-[48px] font-bold;
    }
    button {
      @apply w-[218px] h-[44px] py-[10px] px-[20px] text-[#FFFFFF] bg-[#239F40] rounded-[54px] mt-12;
    }
  }
}

.gearEmptyCart {
  @apply absolute top-[2%] right-[2%];
}

.emptyCart {
  @apply absolute left-[22%] bottom-[2%] z-10;
}

.emptyCartFooter {
  @apply absolute bottom-0;
}
