.loginContainer {
  @apply w-[100%] lg:h-[750px] xl:h-[850px] flex justify-between;
}

@media (min-width: 1480px) {
  .loginContainer {
    @apply h-[850px];
  }
}

@media (max-width: 1400px) {
  .loginContainer {
    @apply -translate-y-12;
  }
}

.subtract {
  @apply lg:w-[960px] xl:w-[760px] h-[950px];
}

.car {
  @apply absolute top-1/2 left-[15%] lg:w-[540px] xl:w-[640px];
}

.gear {
  @apply absolute top-1/3 right-[-15%];
}

.loginForm {
  @apply w-full lg:w-[85%] xl:w-[65%] mt-20 mb-20 lg:ml-8 xl:ml-0;
}

.logo {
  width: 136px;
  height: 52px;
  margin: auto;
}

.verticalLogo {
  @apply absolute w-[60px] right-28 top-80 hidden;
}

@media (min-width: 1425px) {
  .verticalLogo {
    @apply block;
  }
}
.stripes {
  @apply absolute w-[56px] right-0 top-60 hidden xl:block;
}

.loginPageTab {
  @apply flex justify-center text-center mb-6 mt-12 xl:mt-16 w-[324px] md:w-[384px] xl:w-[484px] m-auto bg-[#e9f5ec] border-0 rounded-[40px] p-2;
}

.loginTab {
  @apply w-[160px] md:w-[200px] xl:w-[237px] h-[40px] border rounded-[40px] text-center text-[16px] leading-6 m-auto lg:m-0 font-bold;
  padding: 7px 20px 10px 20px;
  line-height: 24px;
}

.formLabel {
  @apply text-[14px] leading-4 font-bold;
}

.loginInput {
  @apply w-full border-0 border-b-[1px] border-[#CCCCCC] p-[8px] mt-4;
  &::placeholder {
    color: #cccccc;
    font-size: 14px;
  }
}

.underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #239f40;
  transition: 0.4s linear;
}

.loginInput:focus {
  outline: none;
  &::placeholder {
    color: #000;
    font-size: 14px;
  }
}

.loginInput:focus ~ .underline {
  width: 100%;
  transition: 0.5s linear;
}

.app-main {
  display: block !important;
}
