.headerContainer {
  @apply w-[100%] fixed z-50;
  z-index: 1051 !important;
  background-color: #fff;
  font-size: 12pt;
  border-bottom: 3px solid #c82127;
}

.headerContainer .header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 12pt;
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.headerContainer .header .logo {
  width: 136px;
  height: 52px;
}

.headerContainer .header .menu ul {
  display: flex;
  gap: 28px;
  margin: 0;
  align-items: flex-end;
  height: 27px;
  width: 680px;
  justify-content: space-between;
}

.headerContainer .header .menu ul li {
  padding: 2px;
}

.headerContainer .header .menu ul li span {
  height: 27px;
}

.headerContainer .header .menu ul li a {
  color: #382e2e !important;
}

.headerContainer .header .menu ul li a:hover {
  color: #239f40 !important;
  transition: 0.3s;
}

.headerContainer .header .menu .menuActive {
  color: #239f40 !important;
  font-weight: 700;
  transition: 0.3s;
}

.headerContainer .header .menu .menuActive img {
  width: 16px;
  margin: auto;
}

.headerContainer .header .sticky {
  display: flex;
  gap: 16px;
  align-items: center;
}

.headerContainer .header .sticky button {
  padding: 2px;
}

.headerContainer .header .sticky img {
  width: 20px;
  height: 20px;
}

.headerContainer .header .sticky .nation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerContainer .header .sticky .nation img {
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

.headerContainer .header .sticky .nation i {
  color: #d9d9d9;
}