.cartStepperContainer {
  @apply lg:max-w-[1230px] m-auto px-[15px] mt-[50px] lg:mt-[100px];

  .cartStepper {
    @apply flex;

    .step {
      @apply relative;
      .stepInfo.active {
        img {
          filter: brightness(0) invert(1);
        }

        p {
          @apply text-[#FFFFFF];
        }
      }
      .stepInfo {
        @apply absolute w-full text-center top-[25%] sm:top-[35%] lg:top-[25%];

        img {
          @apply w-[16px] h-[16px] sm:w-[20px] sm:h-[20px] m-auto;
        }

        p {
          @apply hidden lg:block text-[16px] text-[#2C0709] font-bold mt-1;
        }
      }
    }
  }
}