.cartContainer {
  @apply w-[100%] pb-[7rem];
}

.cartDetail {
  @apply max-w-[1230px] mt-[50px] lg:mt-[100px] m-auto px-[15px] pb-[7rem] lg:flex justify-between;

  .cartLeftSection {
    @apply lg:w-[50%] xl:w-[60%];
  }

  .leftSection {
    // @apply lg:w-[50%] xl:w-[60%];

    .leftSectionTitle {
      @apply flex justify-between items-center;

      div {
        @apply flex;

        h1 {
          @apply text-[32px] xl:text-[48px] text-[#2C0709] font-bold;
        }

        span {
          @apply ml-[10px] w-[29px] h-[29px] py-[4px] px-[10px] rounded-full bg-[#E9F5EC] text-[#239F40] ;
        }
      }

      button {
        @apply w-[210px] h-[44px] py-[10px] px-[20px] rounded-[54px] border-[1px] border-[#239F40];

        div {
          @apply inline-flex text-center items-center gap-[5px] -translate-y-1;

          img {
            @apply w-[14px] h-[14px];
          }

          p {
            @apply text-[16px] text-[#2C0709] font-bold ml-2;
          }
        }
      }
    }

    .cartInfo {
      @apply w-full;

      input[type="checkbox"] {
        @apply cursor-pointer accent-[#C82127];
      }

      .cartInfoHead {
        @apply flex h-[150px] items-center;

        &:first-child {
          @apply h-[60px] text-[#2C0709] xl:text-[20px] font-bold;

          div:nth-child(2) {
            @apply ml-[2rem];
          }

          div:nth-child(3) {
            @apply ml-[1rem] sm:ml-0;
          }
        }

        &:not(:last-child) {
          @apply border-b-[1px] border-[#CCCCCC];
        }

        div:nth-child(2) {
          @apply w-[40%] sm:w-[60%];
        }

        div:nth-child(3),
        div:nth-child(4) {
          @apply w-[25%] sm:w-[15%];
        }

        div:nth-child(4) {
          @apply flex justify-end;
        }
      }

      .cartItem {
        .product {
          @apply flex justify-start ml-[2rem];

          img {
            @apply w-[90px] h-[90px] rounded-[12px] hidden sm:block;
          }

          .itemInfo {
            @apply w-full;

            .itemTitle {
              @apply text-[14px] sm:text-[16px] text-[#2C0709] font-bold;
            }

            .itemDescription {
              @apply text-[14px] sm:text-[16px] text-[#382E2E];
            }

            .itemCode {
              @apply mt-[17px] text-[12px] sm:text-[14px] text-[#382E2E];
            }
          }
        }

        .itemQuantity {
          @apply flex items-center w-[92px] h-[33px] border-[1px] border-[#EEEEEE] sm:-translate-x-6 lg:-translate-x-3 rounded-[46px];
        }

        .itemPrice {
          @apply w-[15%] flex justify-end sm:text-[16px] xl:text-[20px] text-[#C82127] font-bold;
        }
      }
    }
  }

  .cartRightSection {
    @apply w-full lg:w-[45%] xl:w-[36%];
  }

  .rightSection {
    @apply bg-[#E9F5EC] rounded-[24px] mb-24 mt-8 pb-[5rem] h-fit;

    .summaryContainer {
      @apply  text-center pt-[40px] lg:pt-0 w-full;

      h3 {
        @apply text-[24px] text-[#2C0709] font-bold;
      }

      .summaryInfo {
        @apply flex justify-between mb-[20px];

        p:first-child {
          @apply text-[16px] text-[#2C0709];
        }

        &.cartPrice {
          p:last-child {
            @apply text-[#C82127] font-bold;
          }
        }

        &.shipping {
          p:last-child {
            @apply font-bold;
          }
        }

        &.total {
          p {
            @apply text-[20px] font-bold;
          }

          p:last-child {
            @apply text-[#C82127];
          }
        }
      }

      .underline {
        @apply w-full h-[1px] bg-[#E0E0E0] mb-[30px];
      }

      .voucher {
        @apply w-full h-[40px] rounded-[54px] bg-[#FFFFFF] flex justify-between mb-[30px];

        input {
          @apply w-[70%] rounded-[54px] px-[20px];

          &:focus {
            @apply outline-none;
          }
        }

        button {
          @apply text-[14px] sm:text-[16px] w-[106px] h-[40px] py-[8px] px-[20px] text-[#FFFFFF] font-bold bg-[#239F40] hover:bg-[#007134] rounded-[54px];
        }
      }

      .orderButton {
        @apply w-[184px] h-[44px] py-[10px] px-[20px] text-[#FFFFFF] font-bold bg-[#239F40] hover:bg-[#007134] rounded-[54px] flex items-center m-auto justify-center gap-3;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

//Payment Information Page
.shippingInfo {
  @apply mt-4;

  h3 {
    @apply lg:text-[24px] font-bold text-[#C82127];
  }

  .shippingInfoRow:not(:last-child) {
    @apply flex gap-[24px];

    div.formItem {
      @apply relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }
    }

    .formInput {
      @apply w-full border-0 border-b-[1px] border-[#CCCCCC] p-[10px] mt-6;

      &::placeholder {
        color: #cccccc;
        font-size: 14px;
      }
    }

    .underline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #239f40;
      transition: 0.4s linear;
    }

    .formInput:focus {
      outline: none;
    }

    .formInput:focus~.underline {
      width: 100%;
      transition: 0.5s linear;
    }
  }

  .shippingInfoCol {
    @apply w-full;

    div {
      @apply w-[100%] relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }
    }
  }

  .register {
    @apply mt-[20px];

    p {
      @apply text-[16px] text-[#2C0709];

      span {
        @apply text-[#C82127] font-bold;
      }
    }
  }
}

.additionalInfo {
  @apply mt-[50px];

  h3 {
    @apply lg:text-[24px] font-bold text-[#C82127];
  }

  div {
    @apply relative mt-[20px];

    p {
      @apply text-[16px] font-bold text-[#2C0709] mb-[10px];

      span {
        @apply text-[#C82127];
      }
    }

    textarea {
      @apply w-full h-[88px] p-[10px] resize-none border-b-[1px] border-[#CCCCCC];

      &::placeholder {
        color: #c9c9c9;
        font-size: 14px;
      }
    }

    .underline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #239f40;
      transition: 0.4s linear;
      transform: translateY(-7px);
    }

    textarea:focus {
      outline: none;
    }

    textarea:focus~.underline {
      width: 100%;
      transition: 0.5s linear;
    }
  }
}

.paymentMethod {
  @apply mt-[50px];

  h3 {
    @apply lg:text-[24px] font-bold text-[#C82127];
  }

  .formRadio {
    @apply mt-[20px] grid grid-cols-2 gap-[24px];

    .radioItem {
      @apply w-full relative flex justify-center gap-[10px] border-[1px] border-solid border-[#CCCCCC] rounded-[12px] cursor-pointer;

      input {
        accent-color: #239f40;
        position: absolute;
        left: 30px;
        top: 40%;
      }

      p {
        @apply text-[16px] text-[#382E2E] font-bold whitespace-pre-line;
      }

      input,
      p {
        @apply sm:-translate-x-6;
      }

      img {
        @apply h-0 xxs:h-[20px] md:h-[35px] absolute bottom-1 right-4;
      }

      // div {
      //     @apply w-full h-full relative;
      //     label {
      //         @apply w-full h-full absolute;
      //     }
      // }
    }

    .radioItem:has(> input:checked) {
      background-color: #e9f5ec;

      p {
        color: #239f40;
      }

      img {
        filter: invert(57%) sepia(57%) saturate(5832%) hue-rotate(107deg) brightness(93%) contrast(73%);
      }
    }
  }
}

@media (min-width: 500px) {
  .radioItem {
    @apply py-[18px];
  }
}

@media (max-width: 500px) {
  .radioItem {
    @apply py-[5px] px-[10px];
  }
}

.totalProduct {
  @apply flex;

  p {
    @apply text-[16px] text-[#2C0709] font-bold translate-y-0.5;
  }

  span {
    @apply ml-[10px] w-[26px] h-[27px] py-[3px] px-[9px] rounded-[53px] bg-[#239F40] text-[14px] text-[#FFFFFF];
  }
}

.paymentLeftSection {
  @apply lg:w-[50%] xl:w-[55%];
}

.paymentRightSection {
  @apply w-full lg:w-[45%] xl:w-[40%] h-[670px];
}

.paymentProductItem {
  .product {
    @apply flex gap-[10px];
    align-items: center;

    img {
      @apply w-[58px] h-[58px] rounded-[12px];
    }

    .itemInfo {
      .itemTitle {
        @apply text-[16px] text-[#2C0709] font-bold text-left;
        display: -webkit-box;
        max-width: 300px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p:last-child {
        text-align: left;
        // margin-top: 10px;
      }
    }
  }
}

.comeback {
  @apply flex translate-y-6 cursor-pointer;

  &:hover {
    img {
      filter: invert(57%) sepia(57%) saturate(5832%) hue-rotate(107deg) brightness(93%) contrast(73%);
    }

    p {
      @apply text-[#239F40];
    }
  }
}

//Order Confirmation Page
.orderConfirmContainer {
  @apply max-w-[1230px] mt-[100px] m-auto px-[15px] pb-[7rem];

  h1 {
    @apply text-[24px] sm:text-[48px] text-center text-[#2C0709] font-bold;
  }

  .report {
    @apply lg:w-[460px] m-auto text-[16px] text-center mt-[10px];
  }

  .confirmTicketContainer {
    @apply relative pb-[65px] h-full;

    .orderConfirmIcon {
      @apply m-auto mt-[32px] md:mt-[68px];
    }

    .orderSumary {
      @apply mt-[30px] md:mt-[50px] mx-[30px] sm:mx-0;

      h3 {
        @apply text-[24px] text-[#2C0709] font-bold text-center;
      }

      .orderInfoTitle {
        @apply sm:w-[71%] m-auto mt-[30px] grid sm:grid-cols-2 lg:flex gap-3 w-full grid-cols-1;

      
        div {
          @apply lg:w-[25%]  w-full flex items-end justify-between sm:block text-center;

          p:last-child {
            @apply font-bold mt-2;
          }
        }

        p {
          // @apply w-[25%]
        }
      }

      // .orderInfo {
      //     @apply font-bold mt-2;
      // }
    }

    .bankingInfo {
      @apply w-[87%] m-auto mt-[30px] border-t-[1px] border-[#E0E0E0];

      h3 {
        @apply text-[24px] text-[#2C0709] font-bold text-center mt-[30px];
      }

      .bankingAccount {
        @apply xl:w-[840px] m-auto flex mt-[30px] justify-between items-center;

        .bankingLeft {
          @apply w-full ;

          img {
            @apply mb-[20px];
          }

          .bankingInfoTitle {
            @apply grid grid-cols-1 sm:flex gap-3 sm:grid-cols-2 w-full col-span-1;

            div {
              @apply sm:w-[33%];

              p:last-child {
                @apply font-bold mt-2;
              }
            }
          }
        }
      }
    }

    .bankTicket {
      @apply absolute top-[-20px] -z-10 md:block hidden h-[120%];
    }
  }

  .buttonContainer {
    @apply flex gap-[10px] lg:gap-[24px] justify-center mt-[50px];

    button {
      @apply w-[211px] h-[44px] py-[8px] px-[20px] border-[1px] border-[#239F40] rounded-[45px] font-bold text-[14px] sm:text-[16px];

      &:last-child {
        @apply bg-[#239F40] text-[#FFFFFF] hover:bg-[#007134];
      }
    }
  }
}