@keyframes moveclouds {
    0% {
        // margin-left: 1000px;
        transform: translateX(1000px);
    }
    100% {
        // margin-left: -1000px;
        transform: translateX(-1000px);
    }
}

.cloud {
    // z-index: 100 !important;
    width: 350px;
    height: 120px;
    background: #fff;
    background: linear-gradient(to left, #fff 100%);
    background: -webkit-linear-gradient(to left, #fff 100%);
    background: -moz-linear-gradient(to left, #fff 100%);
    background: -ms-linear-gradient(to left, #fff 100%);
    background: -o-linear-gradient(to left, #fff 100%);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: fixed;
    margin: 120px auto 20px;
    transition: ease 1s;
    &::before {
        width: 180px;
        height: 180px;
        top: -90px;
        right: 50px;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
    }
    &::after {
        width: 100px;
        height: 100px;
        top: -50px;
        left: 50px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }
    &::after,
    &::before {
        content: "";
        position: absolute;
        background: #fff;
        z-index: -1;
    }
}

.x1 {
    top: -50px;
    left: 100px;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.9;
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.3;
    }
}

.x1_5 {
    top: -80px;
    left: 250px;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-animation: moveclouds 17s linear infinite;
    -moz-animation: moveclouds 17s linear infinite;
    -o-animation: moveclouds 17s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.3;
    }
}

.x2 {
    left: 250px;
    top: 30px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.35;
    }
}

.x3 {
    left: 250px;
    bottom: 0px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.8;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.45;
    }
}

.x4 {
    left: 470px;
    bottom: 20px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.5;
    }
}

.x5 {
    left: 200px;
    top: 300px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
    @media screen and (max-width: 768px) {
        scale: 0.6;
    }
}

.buttonRedirectHome {
    @apply w-9/12 bg-white rounded p-1 text-[#329932] flex items-center justify-center;
    text-decoration: none;
    &:hover {
        @apply text-white;
    }
}