.bill-of-landing {
    .banner-promotion {
        .img-position {
            position: absolute;
            right: 5%;
            top: 40%;
            @include max-media(1400px) {
                top: 30%;
            }
            @include max-media(1300px) {
                top: 20%;
            }
            @include max-media(1100px) {
                top: 15%;
            }
            @include max-media(750px) {
                top: 10%;
            }
            @include max-media(650px) {
                top: 5%;
            }
            @include max-media(500px) {
                top: 35%;
            }
            .img {
                width: 31.5rem;
                @include max-media(950px) {
                    width: 24rem;
                }
                @include max-media(600px) {
                    width: 20rem;
                }
                @include max-media(500px) {
                    width: 14rem;
                }
                @include max-media(400px) {
                    width: 10rem;
                }
            }
        }
    }
}