.sec-catalog-otp {
   padding: 4rem 0;
   display: flex;
   flex-direction: column;
   gap: 4rem;
}

.catalog-otp {
   position: relative;
   z-index: 11;
}

.cata-otp {
   padding: 6.4rem 0;
   padding-bottom: 9rem;
   position: relative;
   z-index: 6;
}

.cata-otp-wrapper {
   // padding: 2rem;
   border-radius: var(--rs);
   background-color: white;

   @include max($mobile) {}
}

.cata-otp-list {
   --rg: 1rem;
   --cg: 1rem;
   min-height: 30vh;
}

.cata-otp-item {
   @include max($res-mobile) {
      width: calc(100% /3);
   }

   @include max($mobile) {
      width: 50%;
   }
}

.cata-otp-wr {
   border-radius: var(--rs);
   border: .1rem solid $color-border-01;
   position: relative;
   cursor: pointer;
   height: 100%;
   display: flex;
   flex-direction: column;

   @include hover {
      border-radius: var(--rs) var(--rs) 0 0;

      .cata-otp-control {
         opacity: 1;
         visibility: visible;
      }

      .cata-otp-content {
         background-color: white;
      }
   }
}

.cata-otp-img {
   // @include imgPd(280, 384);
   @include imgPd(1, 1);

   border-radius: var(--rs) var(--rs) 0 0;

   img {
      @include imgCover;
   }
}

.cata-otp-content {
   padding: 1.2rem;
   border-top: .1rem solid #E2E8F0;
   background-color: #F8FAFC;
   border-radius: 0 0 var(--rs) var(--rs);
   flex: 1
}

.cata-otp-name {
   @include lc(2);
   text-transform: capitalize;
   font-weight: 600;

   @include hover {
      color: var(--c-pri);
   }

   @include max($mobile) {
      font-size: 1.4rem;
   }
}

.cata-otp-control {
   --h-btn: 4.5rem;
   --pd: 1.2rem;
   position: absolute;
   border-radius: var(--rs);
   top: 0;
   left: 0;
   width: 100%;
   height: calc(100% + var(--h-btn) + (var(--pd) * 2));
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   border: .1rem solid var(--c-pri);
   transition: .2s ease-in-out;

   pointer-events: none;
   opacity: 0;
   visibility: hidden;
   z-index: 2;
}

.cata-otp-control .inner {
   padding: var(--pd);
   background-color: white;
   border-radius: 0 0 var(--rs) var(--rs);
   pointer-events: visible;
}

.cata-otp-control .btn {
   padding: 1rem;
}

.catalog {}

.catalog-area {
   position: relative;
   cursor: pointer;
   user-select: none;
}

.catalog-area-img {
   border-radius: var(--rs);
   border: .1rem solid $color-border-01;
   min-height: 20vw;

   img {
      width: 100%;
      display: block;
      border-radius: inherit;
   }
}

.catalog-marker {
   position: absolute;
   border-radius: 100rem;
   left: 296px;
   top: 113px;
   display: flex;
   justify-content: center;
   align-items: center;
   // z-index: 11;

   &::before {
      @include pseudo;
      @include full-size(-.5rem);
      background-color: rgba($color: $red, $alpha: .5);
      border-radius: inherit;

      // animation: loang 1.5s infinite;
      @include max($mobile) {
         @include full-size(-.2rem);
      }
   }

   &::after {
      @include pseudo;
      @include full-size(-1rem);
      background-color: rgba($color: $red, $alpha: .1);
      border-radius: inherit;

      // animation: loang 1.5s infinite;
      @include max($mobile) {
         @include full-size(-.5rem);

      }
   }


   .number {
      color: white;
      min-width: inherit;
      min-height: inherit;
      background-color: var(--c-pri);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100rem;
      position: relative;
      z-index: 1;
   }
}

@keyframes loang {
   0% {
      transform: scale(1);
   }

   10%,
   80% {
      transform: scale(1.2);
      opacity: .1;
   }

   81%,

   100% {
      opacity: 0;
   }
}

.catalog-form {
   position: absolute;
   // top: calc(100% + 1rem);
   // left: 0;
   width: 30rem;
   background-color: white;
   z-index: 2;
   border-radius: .8rem;
   overflow: hidden;
   font-size: 1.5rem;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   display: flex;
   flex-direction: column;

   z-index: 50;
}

.catalog-form-top {
   padding: 1rem;
   background-color: var(--c-pri);
   color: white;
   display: flex;
   gap: 1rem;
   justify-content: space-between;
}

.catalog-form-close.disable {
   background-color: #ddd;
}

.catalog-form-close i {
   font-family: "Font Awesome 6 Pro";
   font-size: 1.3rem;
}

.catalog-form-body {
   position: relative;

   // padding: 1rem;
   ul {
      li {


         &:not(:last-child) {
            border-bottom: .1rem solid $color-border-01;
         }

         @include hover {
            background-color: #f2f2f2;
         }
      }

   }

   .checkbox-row {
      padding: .8rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      cursor: pointer;
   }

   .checkbox {
      width: 2rem;
      height: 2rem;
      border: .1rem solid $color-border-01;
      border-radius: .4rem;
      position: relative;
      top: .2rem;
      flex-shrink: 0;

      &::before {
         content: "\f00c";
         @include mid;
         font-family: "Font Awesome 5 Pro";
         color: var(--c-pri);
         opacity: 0;
      }
   }

   input:checked~.checkbox {
      border-color: var(--c-pri);

      &::before {
         opacity: 1;
      }
   }
}

.catalog-form-body-inner {
   max-height: 25rem;
   overflow: hidden auto;
}

.catalog-form-bot {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 1rem;
   padding: .6rem .8rem;
   background-color: #f1f1f1;
   border-top: .1rem solid $color-border-01;

   .btn {
      padding: .4rem 1.6rem;
      border-radius: .4rem;
      font-weight: 400;
      height: unset;
   }
}

.catalog-form-control {
   padding: .8rem;
   display: flex;
   flex-wrap: wrap;
   gap: .4rem;

}

.catalog-form-input {
   position: relative;
   width: 100%;

   input {
      padding: 1.2rem;
      border: .1rem solid $color-border-01;
      font-size: 1.4rem;
   }
}

.catalog-form-input {
   z-index: 2;
}

.catalog-form-body .error,
.catalog-form-input .error {
   position: absolute;
   top: 100%;
   right: .8rem;
   padding: .2rem .8rem;
   border-radius: .4rem;
   background-color: var(--c-six);
   font-size: 1.2rem;
   color: white;

   &::before {
      @include pseudo;
      bottom: 100%;
      right: .8rem;
      @include borderArrow("up", .3rem, var(--c-six));
   }

   &.--second {
      bottom: 0;
      z-index: 5;
      top: unset;
      width: 100%;
      text-align: center;
      border-radius: 0;

      &::before {
         opacity: 0;
      }
   }

}

.catalog-sp {
   position: absolute;
   top: calc(100% + 1rem);
   left: 0;
   background-color: white;
   width: 36rem;
   border-radius: .8rem;
   transition: .3s ease-in-out;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   @include hidden(0, 0);

   &.--mobile {
      width: 30rem;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      z-index: calc(var(--z) + 3) !important;
      top: unset;
      bottom: 0;
      border-radius: 0;
   }

   @include max($mobile) {
      width: 30rem;
   }

   &::before {
      @include pseudo;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 1rem;
   }
}



.catalog-marker:hover .catalog-sp {
   @include show;
   z-index: 2;
}

@include max($res-mobile) {
   .catalog-marker.open .catalog-sp {
      @include show;
      z-index: 2;
   }
}

.catalog-btn {
   min-width: 14rem;

   @include max($mobile) {
      padding: .8rem 1.6rem;
   }

   .loading-custom {
      --line-bd: .3rem;
   }
}

.catalog-form-empty {
   padding: .8rem;
}

.catalog-form-empty .inner {
   padding: 2rem;
   border-radius: .8rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-align: center;
   border: .1rem solid $color-border-01;
}

.catalog-form-empty img {
   width: 4rem;
   margin: 0 auto;
}

.catalog-area .loading-custom {
   background-color: rgba($color: white, $alpha: .5);
}

.catalog-otp-show .re-head {
   text-align: left;
}

.catalog-otp-show .re-head .t-title {
   font-size: clamp(2rem, 0.7324rem + 4.0563vw, 4rem);
}



.prose {}

.prose-list {
   --cg: 1rem;
   --rg: 1rem;
}

.prose-item {
   &:not(:last-child) {
      border-bottom: .1rem solid $color-border-01;
   }

   &.--second {
      border: none;

      .prose-wr {
         border: .1rem solid $color-border-01;
         transition: .3s ease-in-out;

         @include hover {
            box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.15);
            border-color: transparent;
         }
      }
   }

   &.col-6 {
      @include max(900px) {
         width: 100%;
      }
   }

}

.prose-wr {
   display: flex;
   gap: 1rem;
   padding: 1.2rem;
   border-radius: .8rem;
   cursor: pointer;

   @include max($mobile) {
      gap: .8rem;
      padding: .8rem;
      border-radius: .6rem;
   }

   &.--second {}
}

.prose-img {
   width: 6.4rem;
   flex-shrink: 0;
   position: relative;
}

.prose-close {
   position: absolute;
   width: 1.6rem;
   height: 1.6rem;
   top: -.8rem;
   left: -.8rem;
   border-radius: 100rem;
   background-color: $red;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   z-index: 2;
   font-size: 1rem;
   cursor: pointer;

   i {
      font-family: "Font Awesome 5 Pro";
   }
}

.prose-img .inner {
   @include imgPd(1, 1);
   border-radius: .8rem;
   border: .1rem solid $color-border-01;

   img {
      @include imgCover;
   }
}

.prose-name {
   font-weight: 600;
   font-size: 1.4rem;
}

.prose-price {
   display: flex;
   flex-wrap: wrap;
   gap: .4rem;
   font-size: 1.4rem;

   .price {
      color: var(--c-pri);
      font-weight: 600;

      &.old {
         color: #94A3B8;
         font-weight: 400;
         text-decoration: line-through;
      }
   }
}

.prose-code {
   font-size: 1.2rem;
}

// Css product
.pro-item .pro-wr {
   border: 0.1rem solid #e0e0e0;
   border-radius: var(--brs);
   background: #fff;
   height: 100%;
}

.catalog-form-body-inner .name {
   font-size: 1.4rem;
   font-weight: 600;
}

.btn-add-cart-second {

   width: 4rem;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   background-color: $green;
   border-radius: 100rem;
   position: relative;

   @include max($mobile) {
      width: 3rem;
      height: 3rem;
   }
}

.product-position {
   position: absolute;
   width: 3.2rem;
   height: 3.2rem;
   border-radius: 100rem;
   background-color: $red;
   top: 1rem;
   left: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   z-index: 5;
}