.home-page {
    width: 100%;
    position: relative;
    .banner {
        flex-shrink: 0;
        height: 48vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        .content-banner {
            width: 100%;
            position: relative;
            display: flex;
            flex: 1;
            .img {
                width: 100%;
                >img {
                    width: 100%;
                    height: 100%;
                    @media screen and (max-width: 500px) {
                        height: auto;
                    }
                }
            }
            .text-group {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 5rem;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                font-family: 'SVN-Engine';
                width: 100%;
                .title {
                    font-size: 12.8rem;
                    font-weight: 400;
                    line-height: 1.5;
                    /* 192px */
                    letter-spacing: 2.5.6rem;
                    @include largem {
                        font-size: 10rem;
                    }
                    @include tablet {
                        font-size: 8rem;
                    }
                }
                .text {
                    font-size: 4.8rem;
                    font-weight: 400;
                    line-height: 1.5;
                    /* 72px */
                    letter-spacing: 0.9.6rem;
                    margin-top: -3rem;
                    @include largem {
                        font-size: 4rem;
                    }
                    @include tablet {
                        font-size: 3rem;
                    }
                    >span {
                        color: #c82127;
                    }
                }
            }
            .cars {
                width: 80%;
                margin: 0 auto;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                @include largem {
                    width: 70%;
                }
                @include tablet {
                    width: 55%;
                }
                @media screen and (max-width: 478px) {
                    width: 70%;
                    // bottom: 25%;
                }
                @media screen and (max-width: 400px) {
                    width: 60%;
                    // bottom: 35%;
                }
                @media screen and (max-width: 350px) {
                    width: 60%;
                    // bottom: 42%;
                }
            }
        }
        @include mobile {
            // min-height: 30rem;
        }
    }
    .box-search {
        width: 100%;
        position: relative;
        padding-bottom: 34.5rem;
        overflow: hidden;
        @include max-media(1199px) {
            padding-bottom: 20rem;
        }
        @include tablet {
            padding-bottom: 14rem;
        }
        .ant-select {
            font-size: 1.4rem;
        }
        .ant-select-arrow {
            width: 1.2rem;
            font-size: 1.2rem;
        }
        .bg-search {
            position: absolute;
            right: -10%;
            z-index: -1;
            filter: grayscale(50%);
            opacity: 0.1;
            top: 0;
            // top: -30%;
            // @include max-media(1200px) {
            //     top: -20%;
            // }
            // @include max-media(1000px) {
            //     top: -10%;
            // }
            // @include tablet {
            //     top: 0%;
            // }
        }
        .group-box {
            width: 100%;
            padding-bottom: 10rem;
            @include tablet {
                padding-bottom: 5rem;
            }
            .box {
                @include flex(flex-end, space-between);
                width: 100%;
                border-radius: 2.4rem;
                background: #353535;
                box-shadow: rem 0.8rem 2.4rem rem rgba(0, 0, 0, 0.1);
                padding: 3rem 2.5rem;
                gap: 3rem;
                .items {
                    width: calc(100% - 10rem);
                    margin: 0 -1.2rem;
                    display: flex;
                    align-items: center;
                    .item {
                        width: calc(100% / 3);
                        padding: 0 1.2rem;
                        .label-form {
                            color: #fff;
                        }
                        @include max-media(500px) {
                            padding: 0 0.8rem;
                        }
                        .ant-input {
                            background-color: transparent;
                            border: none;
                            padding: 10px 0 10px 0;
                            border-bottom: 1px solid #fff;
                            border-radius: 0;
                            color: #fff;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
                .button-search {
                    @include flex(center, center);
                    @include tablet {
                        width: 100%;
                    }
                    .icon {
                        width: 1.8rem;
                        height: 1.8rem;
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        font-family: 'Roboto';
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 1.5;
                        @include max-media(1000px) {
                            font-size: 1.4rem;
                        }
                    }
                }
                @include max-media(1000px) {
                    gap: 2rem;
                }
                @include max-media(768px) {
                    flex-wrap: wrap;
                    gap: 2rem 0;
                    .items {
                        width: 100%;
                        margin: 0;
                    }
                    .button-search {
                        width: 100%;
                        .main-button {
                            width: 100%;
                        }
                    }
                }
                @include max-media(475px) {
                    .items {
                        flex-wrap: wrap;
                        row-gap: 1.6rem;
                        .item {
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .list-search {
            width: 100%;
            position: relative;
            .ant-carousel {
                font-size: 1.4rem;
            }
            .icon-center {
                @include flex(center, center);
                @include max-media(1000px) {
                    width: 12%;
                    margin: 0 auto;
                }
                @include tablet {
                    width: 14%;
                }
            }
            .content-text {
                @include flex(center, center);
                margin-bottom: 3rem;
                >span {
                    color: #2c0709;
                    font-family: 'SVN-Engine';
                    font-size: 6.4rem;
                    line-height: 1.5;
                    /* 96px */
                    text-transform: uppercase;
                    @include max-media(1000px) {
                        font-size: 5.4rem;
                    }
                    @include max-media(800px) {
                        margin-top: -3rem;
                    }
                    @include tablet {
                        font-size: 3.4rem;
                        margin-top: -2rem;
                    }
                }
            }
            .inner-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .progress {
                    position: relative;
                    padding-left: 4.5rem;
                    &::before {
                        display: inline-block;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 1.5rem;
                        width: 1rem;
                        height: 90%;
                        border-left: 0.2rem solid #ccc;
                    }
                    .progress-item {
                        position: relative;
                        counter-increment: list;
                        padding-bottom: 10rem;
                        cursor: pointer;
                        &:last-child {
                            padding-bottom: 0;
                            &::before {
                                height: 0;
                            }
                        }
                        &::before {
                            display: inline-block;
                            content: '';
                            position: absolute;
                            left: -3rem;
                            height: 100%;
                            width: 1rem;
                        }
                        &::after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            left: -4.5rem;
                            width: 3.2rem;
                            height: 3.2rem;
                            border: 0.2rem solid #ccc;
                            border-radius: 50%;
                            background-color: #fff;
                            @include max-media(1000px) {
                                left: -4.2rem;
                                width: 2.5rem;
                                height: 2.5rem;
                            }
                        }
                        &.is-done {
                            &::before {
                                border-left: 0.2rem solid green;
                            }
                            &::after {
                                content: '';
                                background: url('/icons/check.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                font-size: 1rem;
                                color: #fff;
                                text-align: center;
                                border: 0.2rem solid green;
                                background-color: green !important;
                            }
                        }
                        &.current {
                            &::after {
                                border: 0.4rem solid green;
                                background-color: white;
                            }
                        }
                        .progress-text {
                            color: #239f40;
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 1.5;
                            /* 21px */
                            margin-bottom: 0.4rem;
                            @include max-media(1000px) {
                                font-size: 1.2rem;
                            }
                        }
                        .progress-title {
                            text-transform: uppercase;
                            color: #2c0709;
                            font-size: 2rem;
                            font-weight: 700;
                            line-height: 1.5;
                            /* 3rem */
                            @include max-media(1000px) {
                                font-size: 1.6rem;
                            }
                        }
                    }
                    @include tablet {
                        display: none;
                    }
                }
                .search-content {
                    width: 80%;
                    .slider-group {
                        width: 100%;
                        .wrapper-carousel {
                            position: relative;
                            .arrow-button-prev {
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 2.5rem;
                                z-index: 2;
                                &:hover {
                                    .icon {
                                        background: #239f40;
                                        color: #fff;
                                    }
                                }
                                .icon {
                                    background: #fff;
                                    cursor: pointer;
                                    position: absolute;
                                    @include flex(center,
                                    center);
                                    width: 3.2rem;
                                    height: 3.2rem;
                                    color: #239f40;
                                    border-radius: 50%;
                                    border: 1px solid #239f40;
                                }
                                .icon-prev {
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                            .arrow-button-next {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 2.5rem;
                                z-index: 2;
                                &:hover {
                                    .icon {
                                        background: #239f40;
                                        color: #fff;
                                    }
                                }
                                .icon {
                                    background: #fff;
                                    cursor: pointer;
                                    position: absolute;
                                    @include flex(center,
                                    center);
                                    width: 3.2rem;
                                    height: 3.2rem;
                                    color: #239f40;
                                    border-radius: 50%;
                                    border: 1px solid #239f40;
                                }
                                .icon-next {
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        .car-company-slider {
                            width: 100%;
                            margin-bottom: 5rem;
                            position: relative;
                            border-radius: 2.4rem;
                            border: 0.1rem solid #e0e0e0;
                            overflow: hidden;
                            @include max-media(1000px) {
                                margin-bottom: 2.5rem;
                            }
                            &.car-type {
                                .car-item {
                                    padding: 0;
                                    .img {
                                        width: 15rem;
                                        margin: 0 auto;
                                        height: 10.3rem;
                                        >img {
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            &.select-end {
                                margin-bottom: 0;
                                text-align: center;
                                .car-item {
                                    padding: 1rem 0;
                                    .img {
                                        width: 15rem;
                                        margin: 0 auto;
                                        height: 10.3rem;
                                        margin-bottom: 1rem;
                                        @include max-media(900px) {
                                            height: 7.3rem;
                                        }
                                        >img {
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .text {
                                        color: #2c0709;
                                        font-family: 'Roboto';
                                        font-weight: 700;
                                        line-height: 1.5;
                                        padding: 0 1rem;
                                    }
                                    // &:hover {
                                    //     .text {
                                    //         color: $white;
                                    //     }
                                    // }
                                }
                            }
                            .ant-carousel {
                                .slick-slide {
                                    border-right: 0;
                                }
                                .slick-active:first-child {
                                    .car-item {
                                        background: red($color: #000000);
                                        border-top-left-radius: 2.4rem;
                                        border-bottom-left-radius: 2.4rem;
                                    }
                                }
                                .slick-active+.slick-active+.slick-active+.slick-active {
                                    .car-item {
                                        border-radius: 0 2.4rem 2.4rem 0;
                                    }
                                }
                                .slick-list .slick-slide.slick-active {
                                    border-right: 0.1rem solid #e0e0e0 !important;
                                }
                                .slick-current {
                                    .car-item {
                                        border-radius: 2.4rem 0 0 2.4rem;
                                    }
                                }
                            }
                            .car-item {
                                padding: 3rem;
                                cursor: pointer;
                                transition: all .3s;
                                border-color: transparent;
                                border-width: .2rem;
                                @include flex(center,
                                center);
                                @include max-media(900px) {
                                    padding: 2.5rem;
                                }
                                &:hover {
                                    // background: $green;
                                    border-color: $green;
                                    border-width: 0.2rem;
                                }
                                &.first {
                                    .img {
                                        width: 11rem;
                                        margin: 0 auto;
                                        >img {
                                            height: 1005;
                                        }
                                    }
                                }
                                &.isSelect {
                                    // background: $green;
                                    border-color: $green;
                                    border-width: 0.2rem;
                                    // border-top-left-radius: 2.4rem;
                                    // border-bottom-left-radius: 2.4rem;
                                    // border-radius: 2.4rem;
                                    .text {
                                        color: #fff;
                                    }
                                }
                                .img {
                                    height: 4.4rem;
                                    @include flex(center,
                                    center);
                                    >img {
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                            }
                            .arrow-button {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 2.5rem;
                                z-index: 2;
                                &:hover {
                                    .icon {
                                        background: #239f40;
                                        color: #fff;
                                    }
                                }
                                .icon {
                                    background: #fff;
                                    cursor: pointer;
                                    position: absolute;
                                    @include flex(center,
                                    center);
                                    width: 3.2rem;
                                    height: 3.2rem;
                                    color: #239f40;
                                    border-radius: 50%;
                                    border: 1px solid #239f40;
                                }
                                .icon-next {
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                    @include tablet {
                        width: 100%;
                    }
                }
            }
        }
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            padding-left: 0;
            padding-right: 0;
            border-radius: 0;
        }
        .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
            width: 100%;
            left: 0;
        }
        .ant-select-dropdown {
            border-radius: 0.8rem;
            padding: 1.6rem;
        }
        .ant-select-item {
            font-size: 1.4rem;
            line-height: 1.2;
            padding: 1.6rem 2.4rem;
            border-bottom: 1px solid #e0e0e0;
        }
        .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
            background: $green;
            color: $white;
            border-radius: 0.8rem;
        }
        .ant-select-open .ant-select-selection-placeholder {
            color: $white;
        }
        .ant-select-open.ant-select:not(.ant-select-disabled) .ant-select-selector {
            border-color: $green;
        }
    }
    .about-section {
        width: 100%;
        padding-bottom: 20rem;
        @include max-media($large-m) {
            padding-bottom: 10rem;
        }
        @include max-media($tablet) {
            padding-bottom: 5rem;
        }
        .inner {
            position: relative;
            z-index: 1;
            .img-position {
                position: absolute;
                left: 0;
                z-index: 3;
                bottom: 30%;
                @include max-media(1530px) {
                    left: -5%;
                }
                @include max-media(1400px) {
                    bottom: 45%;
                }
                @include max-media(1210px) {
                    left: -10%;
                }
                @include max-media(800px) {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .img-main {
                    width: 50%;
                    position: relative;
                    @include max-media(1400px) {
                        width: 40%;
                    }
                    .pos1 {
                        left: calc(100% + 7rem);
                        top: 10%;
                        width: 50%;
                        position: absolute;
                    }
                    .pos2 {
                        position: absolute;
                        left: calc(100% + 4rem);
                        top: 50%;
                        width: 17%;
                    }
                    .pos3 {
                        width: 28%;
                        position: absolute;
                        left: calc(100% + 5rem);
                        top: 76%;
                        @include max-media(1400px) {}
                    }
                    .pos4 {
                        top: 100%;
                        width: 66%;
                        left: 3rem;
                        position: absolute;
                    }
                }
            }
            .img-position-right {
                position: absolute;
                right: 0;
                width: 20%;
                z-index: 3;
                bottom: -70%;
            }
            .bg-about-top {
                position: absolute;
                pointer-events: none;
                width: 100%;
                bottom: 100%;
                left: 0;
                right: 0;
                >img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .bg-about-mid {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                .img {
                    width: 100%;
                    height: 100%;
                    >img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .bg-about-bot {
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                right: 0;
                margin-bottom: 10rem;
                >img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .content-about-section {
                position: relative;
                z-index: 1;
                margin-left: auto;
                padding: 14rem 0;
                width: calc(10 / 12 * 100%);
                @include max-media(1600px) {
                    padding: 11rem 0;
                }
                @include max-media(1200px) {
                    width: 100%;
                }
                @include max-media(1300px) {
                    padding: 7rem 0;
                }
                @include max-media(1000px) {
                    padding: 5rem 0;
                }
                @include tablet {
                    padding: 2rem 0;
                }
                .content-inner {
                    @include flex(flex-end,
                    flex-end);
                    margin: 0 -4.5rem;
                    @include max-media(1200px) {
                        margin: 0;
                        margin-left: auto;
                        display: grid;
                        align-items: center;
                        grid-template-columns: 50% 50%;
                        gap: 2rem;
                    }
                    @include max-media(1000px) {
                        margin: 0;
                        margin-left: auto;
                        display: grid;
                        align-items: center;
                        grid-template-rows: 20rem 20rem;
                    }
                    @include max-media(800px) {
                        margin: 0;
                        margin-left: auto;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 17rem 17rem;
                    }
                    .item {
                        padding: 0 4.5rem;
                        text-align: center;
                        width: 25%;
                        @include max-media(1200px) {
                            width: 100%;
                        }
                        @include max-media(800px) {
                            padding: 0 1rem;
                        }
                        .img {
                            width: 4.8rem;
                            margin: 0 auto;
                            margin-bottom: 2rem;
                            >img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .text {
                            font-family: Roboto;
                            line-height: 1.5;
                            /* 3rem */
                            color: #fff;
                            .title {
                                font-size: 1.6rem;
                                font-weight: 700;
                                margin-bottom: 0.4rem;
                                @include max-media(600px) {
                                    font-size: 1.4rem;
                                }
                            }
                            .subtext {
                                font-size: 1.2rem;
                                font-weight: 400;
                                @include max-media(600px) {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            @include max-media(1200px) {
                .img-position,
                .img-position-right {
                    display: none;
                }
            }
        }
    }
    .catalog-section {
        padding-bottom: 10rem;
        position: relative;
        overflow: hidden;
        .bg-left {
            position: absolute;
            left: 0;
            top: -20rem;
            width: 70%;
            opacity: 0.4;
            z-index: -1;
            >img {
                width: 100%;
                height: 100%;
            }
        }
        .bg-right {
            position: absolute;
            left: 70%;
            top: -20rem;
            width: 70%;
            opacity: 0.4;
            z-index: -1;
            >img {
                width: 100%;
                height: 100%;
            }
        }
        .title {
            @include flex(flex-end,
            space-between);
            margin-bottom: 3rem;
            flex-wrap: wrap;
            .title-left {
                .text {
                    color: #2c0709;
                    font-family: 'SVN-Engine';
                    font-size: 6.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    @include max-media(1000px) {
                        font-size: 5.4rem;
                    }
                    @include tablet {
                        font-size: 3.4rem;
                    }
                }
            }
            .title-right {
                margin-left: auto;
                margin-bottom: 20px;
                @include tablet {
                    margin-bottom: 8px;
                }
                @include largem {
                    // margin-bottom: 20px;
                }
                .text-all {
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    /* 24px */
                }
            }
        }
        .content-home-catalog {
            --brs: 2.4rem;
            --lg-brs: 16.4rem;
            .items,
            .item {
                .inner-content .txt {
                    font-size: 1.8rem;
                    color: #fff;
                    font-weight: 700;
                    @include tablet {
                        font-size: 1.4rem;
                    }
                }
                .img {
                    overflow: hidden;
                    border-radius: var(--brs);
                    position: relative;
                    width: 100%;
                    &:before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 124, 33, 0.6);
                        border-radius: inherit;
                        opacity: 0;
                        transition: opacity 0.5s;
                        z-index: 1;
                    }
                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.5s all ease-in-out;
                        border-radius: inherit;
                    }
                    .button-center {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: opacity 0.5s;
                        z-index: 2;
                        cursor: pointer;
                        .inner-button {
                            border-radius: 50%;
                            background: #fff;
                            color: #2c0709;
                            @include flex(center,
                            center);
                        }
                        @include largem {
                            display: none;
                        }
                    }
                    &:hover {
                        >img {
                            transform: scale(1.5);
                        }
                        &:before {
                            opacity: 1;
                        }
                        .button-center {
                            opacity: 1;
                        }
                    }
                }
            }
            .gallery-top {
                display: flex;
                align-items: center;
                gap: 2.4rem;
                margin-bottom: 2.4rem;
                .items {
                    width: 50%;
                }
                .item-left {
                    width: 50%;
                    .img {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 588/439;
                        border-radius: var(--lg-brs) var(--brs);
                        .inner-content {
                            position: absolute;
                            width: 100%;
                            bottom: 3rem;
                            left: 0;
                            z-index: 2;
                            padding: 0 4rem;
                            .icon {
                                margin-bottom: 1rem;
                            }
                            .txt {
                                color: #fff;
                                font-family: 'Roboto';
                                font-size: 3.2rem;
                                font-weight: 700;
                                line-height: 1.5;
                                /* 48px */
                            }
                            @include mobilem {
                                padding: 0 2rem;
                                .text {
                                    font-size: 2.4rem;
                                }
                            }
                        }
                        .button-center {
                            .inner-button {
                                width: 10.2rem;
                                height: 10.2rem;
                                .inner-text {
                                    text-align: center;
                                    .total,
                                    .text {
                                        font-family: 'Roboto';
                                        font-size: 1.4rem;
                                        font-weight: 700;
                                        line-height: 1.5;
                                        /* 21px */
                                    }
                                    .text {
                                        margin-bottom: 0.6rem;
                                    }
                                    .icon {
                                        width: 2.8rem;
                                        height: 2.8rem;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .item-right {
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;
                    .item {
                        .img {
                            aspect-ratio: 588/207;
                            .inner-content {
                                position: absolute;
                                width: 100%;
                                bottom: 3rem;
                                left: 0;
                                z-index: 2;
                                padding: 0 4rem;
                                .icon {
                                    margin-bottom: 1rem;
                                }
                                @include tablet {
                                    bottom: 2rem;
                                    padding: 0 2rem;
                                }
                            }
                            .button-center {
                                .inner-button {
                                    width: 8.2rem;
                                    height: 8.2rem;
                                    .inner-text {
                                        text-align: center;
                                        .total,
                                        .text {
                                            font-family: 'Roboto';
                                            font-size: 1.4rem;
                                            font-weight: 700;
                                            line-height: 1.5;
                                            /* 21px */
                                        }
                                        .icon {
                                            width: 2.5rem;
                                            height: 2.5rem;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @include mobilem {
                    --gap: 1.2rem;
                    flex-direction: column;
                    gap: var(--gap);
                    margin-bottom: var(--gap);
                    .item-left,
                    .item-right {
                        width: 100%;
                    }
                    .item-right {
                        gap: var(--gap);
                    }
                }
            }
            .gallery-bottom {
                @include flex(flex-start,
                flex-start);
                gap: 2.4rem;
                .item {
                    width: calc(100% / 4);
                    .img {
                        aspect-ratio: 1/1;
                        .inner-content {
                            position: absolute;
                            bottom: 2rem;
                            left: 0rem;
                            z-index: 2;
                            width: 100%;
                            padding: 0 4rem;
                            .icon {
                                margin-bottom: 1rem;
                            }
                            @include largem {
                                padding: 0 1.6rem;
                                bottom: 1.6rem;
                            }
                        }
                        .button-center {
                            .inner-button {
                                width: 6.2rem;
                                height: 6.2rem;
                                .inner-text {
                                    text-align: center;
                                    font-size: 1.2rem;
                                    .total,
                                    .text {
                                        font-family: 'Roboto';
                                        font-size: 1.2rem;
                                        font-weight: 700;
                                        line-height: 1.5;
                                        /* 21px */
                                    }
                                    .icon {
                                        width: 2rem;
                                        height: 2rem;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
                @include mobilem {
                    gap: 1.2rem;
                }
                @include mobile {
                    flex-wrap: wrap;
                    .item {
                        width: calc(50% - (1.2rem / 2));
                    }
                }
            }
            @include largem {
                --brs: 1.6rem;
                --lg-brs: 12rem;
            }
            @include large {
                --lg-brs: 8rem;
            }
            @include mobilem {
                .inner-content .icon img {
                    width: 2.4rem;
                }
            }
        }
        @include tablet {
            padding-bottom: 6rem;
        }
    }
    .product-sale {
        padding-bottom: 4.3rem;
        @include largem {
            padding-bottom: 2rem;
        }
        .inner-product-sale {
            position: relative;
            padding-bottom: 11.6rem;
            @include largem {
                padding-bottom: 5rem;
            }
            .bg-road {
                position: absolute;
                bottom: 0rem;
                z-index: -1;
            }
            .title {
                margin-bottom: 3rem;
            }
            .product-sale-slider {
                position: relative;
                margin-bottom: 3rem;
                .arrow-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 2.5rem;
                    z-index: 2;
                    &.next {
                        right: 0;
                    }
                    &.prev {
                        left: 0;
                    }
                    &:hover {
                        .icon {
                            background: #239f40;
                            color: #fff;
                        }
                    }
                    .icon {
                        background: #fff;
                        cursor: pointer;
                        @include flex(center,
                        center);
                        width: 3.2rem;
                        height: 3.2rem;
                        color: #2c0708;
                        border-radius: 50%;
                    }
                }
                .slick-list {
                    display: flex;
                    .slick-slide {
                        &>div {
                            height: 100%;
                            & .item-slider {
                                height: 100%;
                                & .inner-slider-item {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .item-slider {
                    .inner-slider-item {
                        background: #c82127;
                        border-radius: 2.4rem;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;
                        text-align: center;
                        height: 100%;
                        cursor: pointer;
                        .image {
                            position: relative;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 1/1;
                            width: fit-content;
                            &:hover {
                                &:before {
                                    background: none;
                                }
                                .cart-icon {
                                    opacity: 1;
                                }
                                .hot {
                                    opacity: 1;
                                }
                            }
                            >img {
                                border-radius: 2.4rem;
                                width: 100%;
                                height: 100%;
                                object-fit: fill;
                            }
                            /* &:before {
                position: absolute;
                content: "";
                inset: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 2.4rem;
                transition: all 0.3s linear;
              } */
                            .out-of-stock {
                                &:before {
                                    position: absolute;
                                    content: '';
                                    inset: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(255, 255, 255, 0.5);
                                    border-radius: 2.4rem 2.4rem rem rem;
                                    transition: all 0.3s linear;
                                }
                            }
                            .hot {
                                position: absolute;
                                top: 1rem;
                                right: 1rem;
                                @include flex(center,
                                center);
                                opacity: 0;
                                transition: opacity 0.3s linear;
                                .bg {
                                    width: 5.2rem;
                                    height: 5.2rem;
                                }
                                .text {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: #c82127;
                                    font-family: 'Roboto';
                                    font-size: 1.4rem;
                                    font-weight: 700;
                                    line-height: 1.5;
                                    /* 21px */
                                }
                            }
                            .hot-icon {
                                position: absolute;
                                bottom: 1rem;
                                left: 1rem;
                            }
                            .cart-icon {
                                @include flex(center,
                                center);
                                position: absolute;
                                bottom: 1rem;
                                right: 1rem;
                                background: #239f40;
                                width: 4.2rem;
                                height: 4.2rem;
                                border-radius: 3.2rem;
                                opacity: 0;
                                transition: opacity 0.3s linear;
                            }
                        }
                        .text-inner {
                            color: #fff;
                            .name {
                                text-align: center;
                                font-family: 'Roboto';
                                font-size: 1.6rem;
                                font-weight: 700;
                                line-height: 1.5;
                                /* 24px */
                                margin-bottom: 0.8rem;
                                min-height: 2lh;
                            }
                            .price {
                                display: flex;
                                gap: 1rem;
                                justify-content: center;
                                margin-bottom: 1.5rem;
                                align-items: flex-end;
                                .price-new {
                                    font-family: 'Roboto';
                                    font-size: 2rem;
                                    font-weight: 700;
                                    line-height: 1.5;
                                    /* 3rem */
                                }
                                .price-old {
                                    display: flex;
                                    align-items: flex-end;
                                    font-family: 'Roboto';
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    /* 21px */
                                    text-decoration: line-through;
                                    padding-bottom: 0.3rem;
                                }
                            }
                            .fire {
                                @include flex(center,
                                center);
                                width: 16.2rem;
                                border-radius: 3rem;
                                margin: 0 auto;
                                background: #e29295;
                                position: relative;
                                overflow: hidden;
                                .layer {
                                    position: absolute;
                                    left: 0;
                                    width: 0%;
                                    height: 100%;
                                    background: #fff;
                                    border-radius: 3rem;
                                    z-index: 1;
                                }
                                .text {
                                    @include flex(center,
                                    center);
                                    width: 100%;
                                    position: relative;
                                    z-index: 2;
                                    color: #c82127;
                                    .img {
                                        position: absolute;
                                        left: 2.2rem;
                                        bottom: 0.6rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper {
                    .swiper-wrapper {
                        align-items: stretch;
                    }
                    .swiper-slide {
                        height: 100%;
                    }
                }
            }
            .button-all {
                @include flex(center,
                center);
                .text-all {
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    /* 24px */
                }
            }
        }
    }
    .on-world {
        padding-bottom: 10rem;
        @media screen and (max-width: 768px) {
            padding-bottom: 30rem;
        }
        @media screen and (max-width: 580px) {
            padding-bottom: 27rem;
        }
        @media screen and (max-width: 500px) {
            padding-bottom: 23rem;
        }
        @media screen and (max-width: 400px) {
            padding-bottom: 20rem;
        }
        .inner-on-world {
            position: relative;
            .title {
                @include flex(flex-end,
                space-between);
                margin-bottom: 5rem;
                @include tablet {
                    margin-bottom: 2.4rem;
                }
                .title-left {
                    .text {
                        color: #2c0709;
                        font-family: 'SVN-Engine';
                        font-size: 6.4rem;
                        font-weight: 400;
                        line-height: 1.2;
                        margin-bottom: 3rem;
                        @include max-media(1000px) {
                            font-size: 5.4rem;
                        }
                        @include tablet {
                            margin-bottom: 1.6rem;
                            font-size: 3.4rem;
                        }
                    }
                    .sub-title {
                        width: 45%;
                        font-family: 'Roboto';
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.5;
                        /* 24px */
                        @include tablet {
                            width: 100%;
                        }
                    }
                }
            }
            .content-on-world {
                display: flex;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                }
                .content-left {
                    width: calc(5 / 12 * 100%);
                    max-width: 46rem;
                    .content-slide {
                        width: 100%;
                        @include flex(center,
                        center);
                        flex-wrap: wrap;
                        border-radius: 2.4rem;
                        overflow: hidden;
                        margin-bottom: 4rem;
                        position: relative;
                        .car-item {
                            width: 50%;
                            padding: 3rem;
                            cursor: pointer;
                            border: 0.2rem solid #e0e0e0;
                            transition: all 0.2s linear;
                            @include flex(center,
                            center);
                            &:hover {
                                border: 0.2rem solid $green;
                                z-index: 10;
                            }
                            &:nth-child(1) {
                                border-top-left-radius: 2.4rem;
                                transform: translateY(2px);
                            }
                            &:nth-child(2) {
                                border-top-right-radius: 2.4rem;
                                transform: translate(-2px, 2px);
                            }
                            &:nth-child(3) {
                                // border-top: none;
                                // border-right: none;
                            }
                            &:nth-child(4) {
                                transform: translatex(-2px);
                            }
                            &:nth-child(5) {
                                border-bottom-left-radius: 2.4rem;
                                transform: translateY(-2px);
                            }
                            &:last-child {
                                border-bottom-right-radius: 2.4rem;
                                transform: translate(-2px, -2px);
                            }
                            &.first {
                                border-top-left-radius: 2.4rem;
                                .img {
                                    width: 11rem;
                                    margin: 0 auto;
                                    >img {
                                        height: 1005;
                                    }
                                }
                            }
                            &.isSelect {
                                border-width: 0.2rem;
                                border-color: $green;
                                border-top: 0.2rem solid $green;
                                z-index: 10;
                                .text {
                                    color: #fff;
                                }
                            }
                            .img {
                                @include flex(center,
                                center);
                                height: 4.4rem;
                                >img {}
                            }
                        }
                    }
                    .page-dot {
                        @include flex(center,
                        center);
                        gap: 0.4rem;
                        .item-dot {
                            width: 1rem;
                            height: 1rem;
                            border-radius: 1rem;
                            background: #c0ebca;
                            cursor: pointer;
                            &.isActive {
                                background: #239f40;
                            }
                        }
                    }
                    @include tablet {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .content-right {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100vw;
                    .inner-content-right {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 45%;
                        @include large {
                            width: 55%;
                        }
                        @media screen and (max-width: 768px) {
                            width: 80%;
                        }
                        .the-road {
                            position: relative;
                            .the-car__wrapper {
                                width: 95%;
                                margin: 0 auto;
                                right: 0;
                                position: absolute;
                                bottom: 25%;
                                .isActive {
                                    -webkit-animation: bounceInRight 1s;
                                    animation: bounceInRight 1s;
                                }
                                @media screen and (max-width: 768px) {
                                    right: 8%;
                                    width: 100%;
                                    bottom: auto;
                                }
                            }
                            @keyframes bounceInRight {
                                from,
                                60%,
                                75%,
                                90%,
                                to {
                                    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                                    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                                }
                                from {
                                    opacity: 0;
                                    -webkit-transform: translate3d(300rem, 0, 0) scaleX(3);
                                    transform: translate3d(300rem, 0, 0) scaleX(3);
                                }
                                60% {
                                    opacity: 1;
                                    -webkit-transform: translate3d(-2.5rem, 0, 0) scaleX(1);
                                    transform: translate3d(-2.5rem, 0, 0) scaleX(1);
                                }
                                75% {
                                    -webkit-transform: translate3d(1rem, 0, 0) scaleX(0.98);
                                    transform: translate3d(1rem, 0, 0) scaleX(0.98);
                                }
                                90% {
                                    -webkit-transform: translate3d(-0.5rem, 0, 0) scaleX(0.995);
                                    transform: translate3d(-0.5rem, 0, 0) scaleX(0.995);
                                }
                                to {
                                    -webkit-transform: translate3d(0, 0, 0);
                                    transform: translate3d(0, 0, 0);
                                }
                            }
                        }
                    }
                    @include tablet {
                        // display: none;
                    }
                }
            }
            .animation-arrow {
                position: absolute;
                right: 0;
                .anima {
                    .triangle {
                        &:nth-child(1) {
                            animation: BTT 1.5s linear 3s infinite;
                        }
                        &:nth-child(2) {
                            animation: BTT 1.5s linear 2.5s infinite;
                        }
                    }
                }
            }
            .text-position {
                position: absolute;
                right: 12%;
                bottom: 120%;
                transform: rotate(-90deg) translateX(15%);
                z-index: -1;
                >span {
                    text-transform: uppercase;
                    color: #c82127;
                    font-family: 'SVN-Engine';
                    font-size: 9.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }
            .city-position {
                position: absolute;
                width: 50%;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
            @include tablet {
                .animation-arrow,
                .text-position {
                    display: none;
                }
            }
        }
    }
    .product-us {
        position: relative;
        width: 100%;
        .bg-product-us {
            position: absolute;
            top: -5rem;
            z-index: -1;
            width: 100%;
            >img {
                width: 100%;
                min-height: 35rem;
                object-fit: cover;
            }
            .img-position {
                width: 30%;
                position: absolute;
                right: 0;
                top: 5rem;
            }
            .arrow-red {
                position: absolute;
                bottom: -0.7rem;
                left: 4.8rem;
                z-index: 2;
                @include mobile {
                    left: 0;
                }
            }
            .arrow-white {
                width: 8%;
                position: absolute;
                bottom: 7.7rem;
                left: 9rem;
                z-index: 1;
            }
        }
        .content-product-us {
            .title {
                text-align: center;
                margin-bottom: 3rem;
                .icon {
                    @include flex(center,
                    center);
                }
                .text {
                    color: #fff;
                    font-family: 'SVN-Engine';
                    font-size: 6.4rem;
                    line-height: 1.5;
                    @include tablet {
                        font-size: 3.4rem;
                    }
                    /* 96px */
                }
            }
            .list-product {
                padding-bottom: 5rem;
            }
            .button-all {
                @include flex(center,
                center);
                .text-all {
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    /* 24px */
                }
            }
        }
    }
    .diary-section {
        width: 100vw;
        padding-bottom: 19.3rem;
        padding-top: 10rem;
        @include largem {
            padding-top: 6rem;
            padding-bottom: 10rem;
        }
        @include max-media(1300px) {
            margin: 0 auto;
        }
        @include max-media(640px) {
            padding: 0 1.5rem 6rem;
        }
        .inner-diary-section {
            width: 100%;
            .title {
                @include flex(flex-end,
                space-between);
                margin-bottom: 2.3rem;
                @include mobile {
                    justify-content: space-between;
                    margin-top: 5rem;
                    align-items: flex-end;
                }
                .title-left {
                    .text {
                        color: #2c0709;
                        font-family: 'SVN-Engine';
                        font-size: 6.4rem;
                        line-height: 1.5;
                        /* 96px */
                        @include max-media(1000px) {
                            font-size: 5.4rem;
                        }
                        @include tablet {
                            font-size: 3.4rem;
                        }
                    }
                }
                .title-right {
                    width: fit-content;
                    .button-all {
                        @include flex(center,
                        center);
                        .text-all {
                            font-family: 'Roboto';
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 1.5;
                            /* 24px */
                        }
                    }
                }
            }
            .diary-slider {
                position: relative;
                width: 100%;
                .swiper-slide-active {
                    .arrow-group {
                        opacity: 1 !important;
                    }
                }
                .swiper-slide {
                    .arrow-group {
                        opacity: 0;
                    }
                }
                .arrow-group {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    z-index: 5;
                    transform: translateY(-50%);
                    .containers {
                        position: relative;
                    }
                    .arrow-button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        &:hover {
                            .icon {
                                background: #239f40;
                                color: #fff;
                            }
                        }
                        &.prev {
                            left: 1.6rem;
                        }
                        &.next {
                            right: 1.6rem;
                        }
                        .icon {
                            background: #fff;
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            @include flex(center,
                            center);
                            font-size: 3.2rem;
                            @include max-media(1000px) {
                                width: 3rem;
                                height: 3rem;
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
                .item-slider {
                    width: 100%;
                    .inner-slider-item {
                        cursor: pointer;
                        height: 60rem;
                        @include max-media(1200px) {
                            height: 50rem;
                        }
                        @include max-media(1000px) {
                            height: 40rem;
                        }
                        .image {
                            border-radius: 2.4rem;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 2.4rem;
                            }
                            .text-inner {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                padding: 0 5.6rem;
                                padding-bottom: 3rem;
                                color: #fff;
                                font-family: 'Roboto';
                                @include max-media(1000px) {
                                    padding: 0 3.6rem;
                                    padding-bottom: 3rem;
                                }
                                @include tablet {
                                    padding: 0 2.6rem;
                                    padding-bottom: 2rem;
                                }
                                .date {
                                    font-weight: 400;
                                    font-size: 1.6rem;
                                    line-height: 1.5;
                                    /* 36px */
                                    @include max-media(1000px) {
                                        font-size: 1.4rem;
                                    }
                                }
                                .name {
                                    font-weight: 700;
                                    font-size: 2.4rem;
                                    line-height: 1.5;
                                    /* 36px */
                                    @include max-media(1000px) {
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .customer-rate {
        width: 100vw;
        position: relative;
        padding-bottom: 4rem;
        .title {
            text-align: center;
            // padding-bottom: 5rem;
            .icon {
                @include flex(center,
                center);
            }
            .text {
                color: #2c0709;
                font-family: 'SVN-Engine';
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.5;
                @include tablet {
                    font-size: 3.4rem;
                }
                /* 96px */
            }
        }
        .bg-otp {
            position: absolute;
            top: -4.8rem;
            z-index: -1;
            .img {
                width: 76%;
                margin: 0 auto;
            }
        }
        .img-position {
            width: 24.4rem;
            position: absolute;
            right: 0;
            top: -10rem;
            @include tablet {
                width: 14.4rem;
            }
        }
        .content-customer-rate {
            position: relative;
            height: 50rem;
            overflow: hidden;
            @include max-media(1000px) {
                height: 40rem;
            }
            .layer-car {
                position: absolute;
                bottom: 0;
                .img {
                    width: 50%;
                    margin: 0 auto;
                }
            }
            .elip {
                position: absolute;
                bottom: 5rem;
                @include max-media(660px) {
                    bottom: 12rem;
                }
            }
            .arrow-group {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                @include flex(center,
                center);
                cursor: pointer;
                .arrow-button {
                    &:hover {
                        .icon {
                            color: #239f40;
                        }
                    }
                    .icon {
                        font-size: 3.2rem;
                    }
                }
            }
            .swiper {
                overflow: unset;
                height: fit-content;
                transform: translateY(100%);
                .swiper-wrapper {
                    align-items: center;
                    .swiper-slide {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    [class='swiper-slide'] {
                        transform: translateY(10%);
                        transition: transform 0.3s ease-out;
                    }
                    .swiper-slide-prev {
                        transform: translateY(-50%);
                        transition: transform 0.3s ease-out;
                    }
                    .swiper-slide-next {
                        transform: translateY(-50%);
                        transition: transform 0.3s ease-out;
                    }
                    [class='swiper-slide swiper-slide-duplicate'] {
                        transform: translateY(10%);
                        transition: transform 0.3s ease-out;
                    }
                    .swiper-slide-active {
                        transform: translateY(-70%);
                        .item-slide {
                            .inner-item {
                                .content-inner {
                                    color: #fff;
                                    &:before {
                                        border: 0;
                                        background: #c82127;
                                    }
                                    .icon {
                                        filter: brightness(0) invert(1);
                                    }
                                    .name,
                                    .note {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .item-slide {
                // width: 33.3rem;
                // height: 33.3rem;
                border-radius: 50%;
                width: 24rem;
                @include max-media(1000px) {
                    width: 18rem;
                }
                .inner-item {
                    @include flex(center,
                    center);
                    // color: #fff;
                    cursor: pointer;
                    .content-inner {
                        text-align: center;
                        padding: 0.5rem 2.2rem;
                        position: relative;
                        height: 20rem !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        @include max-media(1200px) {
                            height: 23rem !important;
                        }
                        @include max-media(1000px) {
                            height: 20rem !important;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            width: 26rem;
                            height: 26rem;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: #e9f5ec;
                            border: 0.2rem solid #239f40;
                            z-index: -1;
                            @include max-media(1000px) {
                                width: 20rem;
                                height: 20rem;
                            }
                        }
                        .icon {
                            @include flex(center,
                            center);
                        }
                        .description {
                            font-size: 1.2rem;
                            -webkit-line-clamp: initial;
                            .description .description {
                                -webkit-line-clamp: 4;
                            }
                            @include max-media(1000px) {
                                font-size: 1rem;
                            }
                        }
                        .name {
                            color: #c82127;
                            font-family: 'Roboto';
                            font-size: 1.2rem;
                            font-weight: 700;
                            line-height: 1.5;
                            /* 24px */
                        }
                        .note {
                            color: #382e2e;
                            font-family: 'Roboto';
                            font-size: 1.2rem;
                            line-height: 1.5;
                            /* 24px */
                        }
                    }
                }
            }
        }
    }
}

@keyframes BTT {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.ShoppingCart_formRadio__mW9Vw {
    flex-wrap: wrap;
    display: flex !important;
    .ShoppingCart_radioItem__SnLag {
        width: calc(50% - 1.2rem) !important;
        padding-left: 3rem;
        padding-right: 3rem;
        justify-content: flex-start;
        @media screen and (max-width: 480px) {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
        @media screen and (min-width: 500px) {
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }
        input,
        p {
            --tw-translate-x: 0 !important;
        }
        p {
            line-height: 1;
        }
    }
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And .MiniCart_cartItem__0lLXp .MiniCart_wrapperInfo___axf4 .MiniCart_cartItemInfo__bPIbr p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.MiniCart_miniCartContainer__Yz3A0 {
    // width: 100% !important;
    // padding: 0 2rem;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And {
    // height: 33rem;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And .MiniCart_cartItem__0lLXp .MiniCart_price__VSMeb {
    text-align: right;
    word-break: break-word;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And .MiniCart_cartItem__0lLXp .MiniCart_wrapperInfo___axf4 input[type='checkbox'] {
    flex-shrink: 0;
    height: 1.5rem;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And .MiniCart_cartItem__0lLXp:last-child {
    margin-bottom: 0;
}

.MiniCart_cartPopup__Nk1sQ {
    z-index: 9999 !important;
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_rightSection__Zfque .ShoppingCart_summaryContainer__vikr1 .ShoppingCart_summaryInfo__jiVpL {
    .main-button {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartItem__7kws5 .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix .ShoppingCart_itemTitle__Onrbl {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    @media screen and (max-width: 480px) {
        -webkit-line-clamp: 1;
    }
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_rightSection__Zfque .ShoppingCart_summaryContainer__vikr1 .ShoppingCart_summaryInfo__jiVpL>div {
    width: 100%;
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_rightSection__Zfque .ShoppingCart_summaryContainer__vikr1 {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 640px) {
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartInfoHead__McNla div:nth-child(2) {
        width: 60% !important;
    }
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_rightSection__Zfque .ShoppingCart_summaryContainer__vikr1 {
        padding: 5rem;
    }
}

.ShoppingCart_paymentMethod__BxCFu .ShoppingCart_formRadio__mW9Vw .ShoppingCart_radioItem__SnLag {
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 0rem !important;
    input {
        position: static !important;
    }
    p {
        font-size: 1.6rem !important;
        @media screen and (max-width: 480px) {
            font-size: 1.4rem !important;
        }
    }
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_leftSectionTitle__sa5lj button {
    display: block;
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_shippingInfoRow___NY2k:not(:last-child) .ShoppingCart_formInput__FgnXy {
    padding: 0.7rem 1rem !important;
}

.ShoppingCart_paymentProductItem__pKXf_ .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix .ShoppingCart_itemTitle__Onrbl {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@include mobilem {
    .ShoppingCart_cartDetail__k72Gr,
    .ShoppingCart_cartContainer__FvEuG {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: $mobile) {
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartItem__7kws5 .ShoppingCart_product__EKpdn {
        margin-left: 0.8rem;
    }
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartItem__7kws5 .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix .ShoppingCart_itemCode__29kra {
        margin-top: 0.8rem;
    }
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartItem__7kws5 .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix .ShoppingCart_itemTitle__Onrbl {
        font-size: 1.3rem;
    }
    .ShoppingCart_cartDetail__k72Gr .ShoppingCart_leftSection__2bMo4 .ShoppingCart_cartInfo__foeKr .ShoppingCart_cartItem__7kws5 .ShoppingCart_itemQuantity__uH4rK button {
        font-size: 1.3rem;
        margin: 0.5rem;
    }
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_shippingInfoRow___NY2k:not(:last-child) div.ShoppingCart_formItem__xyWHv p {
    font-size: 1.6rem !important;
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_shippingInfoRow___NY2k:not(:last-child) .ShoppingCart_formInput__FgnXy {
    font-size: 1.4rem !important;
    &::-webkit-input-placeholder {
        font-size: 1.4rem !important;
    }
    &::-moz-input-placeholder {
        font-size: 1.4rem !important;
    }
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_shippingInfoCol__AmRCG div p {
    font-size: 1.6rem !important;
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_register__MjloD {
    font-size: 2rem !important;
    p {
        font-size: 1.6rem !important;
    }
}

.ShoppingCart_additionalInfo__wQF0I {
    div {
        margin-top: 2rem !important;
        p {
            font-size: 1.6rem !important;
            margin-bottom: 1rem !important;
        }
        textarea {
            height: 8.8rem !important;
            padding: 1rem !important;
            font-size: 1.4rem !important;
            &::-webkit-input-placeholder {
                font-size: 1.4rem !important;
            }
            &::-moz-input-placeholder {
                font-size: 1.4rem !important;
            }
        }
    }
    @media (min-width: 1024px) {
        h3 {
            font-size: 2.4rem !important;
        }
    }
}

.ShoppingCart_shippingInfo__pKITU .ShoppingCart_shippingInfoRow___NY2k:not(:last-child) {
    margin-top: 3rem;
    gap: 2.4rem !important;
}

.ShoppingCart_cartDetail__k72Gr .ShoppingCart_rightSection__Zfque {
    border-radius: 2.4rem !important;
}

.ShoppingCart_totalProduct__aaAna {
    p {
        font-size: 1.6rem !important;
    }
    span {
        margin-left: 1rem !important;
        height: 2.7rem !important;
        width: 2.6rem !important;
        border-radius: 5.3rem !important;
        padding: 0.3rem 0.9rem !important;
        font-size: 1.4rem !important;
        display: flex;
        justify-content: center;
    }
}

.ShoppingCart_paymentProductItem__pKXf_ .ShoppingCart_product__EKpdn {
    // margin-top: 2rem !important;
    gap: 1rem !important;
}

.ShoppingCart_paymentProductItem__pKXf_ .ShoppingCart_product__EKpdn img {
    width: 5.8rem !important;
    height: 5.8rem !important;
    border-radius: 1.2rem !important;
}

.ShoppingCart_paymentProductItem__pKXf_ .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix .ShoppingCart_itemTitle__Onrbl {
    font-size: 1.6rem !important;
}

.ShoppingCart_paymentProductItem__pKXf_ .ShoppingCart_product__EKpdn .ShoppingCart_itemInfo__HiWix p:last-child {
    // margin-top: 1rem !important;
}

.ShoppingCart_comeback__DGlsJ {
    >img {
        width: 1.8rem;
    }
}

.rc-virtual-list-scrollbar {
    right: -10px !important;
}

.marquee {
    position: relative;
    width: 55vw;
    max-width: 70%;
    margin: 0 auto;
    height: 206px;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
}

.track>p {
    margin: 20px 0;
    // font-size: 8rem;
    // font-family: Antonio;
    // -webkit-text-fill-color: rgba(255, 255, 255, 0);
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: #f4955c;
    text-transform: uppercase;
    >span {
        color: #c82127;
    }
}

.ant-dropdown-menu-item {
    width: 100%;
    &:hover div {
        background-color: #f5f5f5 !important;
    }
}