.wrapper-product {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    min-height: 10rem;
    .product-list {
        --gap: 2.4rem;
        @include flex(flex-start, flex-start);
        flex-wrap: wrap;
        margin-left: calc(-0.5 * var(--gap));
        margin-right: calc(-0.5 * var(--gap));
        margin-bottom: calc(-1 * var(--gap));
        .product-item {
            --brs: 2.4rem;
            cursor: pointer;
            padding-left: calc(0.5 * var(--gap));
            padding-right: calc(0.5 * var(--gap));
            margin-bottom: var(--gap);
            align-self: stretch;
            width: calc(100% / 4);
            cursor: pointer;
            @include max-media(1200px) {
                width: calc(100% / 3);
            }
            @include large {
                --brs: 1.6rem;
            }
            @include max-media(900px) {
                width: 50%;
            }
            @include tablet {
                --brs: 0.8rem;
            }
            @include max-media(500px) {
                width: 100%;
            }
            .inner-item {
                border: 0.1rem solid #e0e0e0;
                border-radius: var(--brs);
                background: #fff;
                height: 100%;
            }
            .image {
                position: relative;
                aspect-ratio: 1/1;
                border-radius: var(--brs) var(--brs) 0px 0px;
                overflow: hidden;
                &:hover {
                    >img {
                        transform: scale(1.5);
                    }
                    &:before {
                        background: none;
                    }
                    .cart-icon {
                        opacity: 1;
                        img {
                            width: 1.6rem;
                        }
                        &.cursor-not-allowed {
                            .spinner {
                                transform: translate(-50%, -50%);
                            }
                            img {
                                opacity: 0;
                            }
                        }
                    }
                    .countdown-discount {
                        opacity: 1;
                    }
                }
                >img {
                    border-radius: var(--brs) var(--brs) 0px 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s all ease-in-out;
                }
                .startTenPoint {
                    @apply flex top-5 right-5 text-[14px] items-center justify-center bg-primary w-14 h-14 absolute z-20;
                    width: 5.5rem;
                    height: 5.5rem;
                    background: #c82127;
                    background: url(../../../public/icons/discountBg.svg) no-repeat center center;
                }
                // &:before {
                //   position: absolute;
                //   content: "";
                //   inset: 0;
                //   width: 100%;
                //   height: 100%;
                //   background: rgba(255, 255, 255, 0.5);
                //   border-radius: 2.4rem 2.4rem 0px 0px;
                //   transition: all 0.3s linear;
                // }
                .hot {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    @include flex(center, center);
                    .bg {
                        width: 5.2rem;
                        height: 5.2rem;
                    }
                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        font-family: "Roboto";
                        font-size: 1.4rem;
                        font-weight: 700;
                        line-height: 150%;
                        /* 21px */
                    }
                }
                .cart-icon {
                    @include flex(center, center);
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    background: #239f40;
                    width: 4.2rem;
                    height: 4.2rem;
                    border-radius: 3.2rem;
                    opacity: 0;
                    transition: opacity 0.3s linear;
                    cursor: pointer;
                }
                .countdown-discount {
                    @apply flex left-5 text-[14px] items-center justify-center w-14 h-14 absolute z-20 gap-1;
                    // position: relative;
                    color: #c82127;
                    z-index: 10;
                    position: absolute;
                    top: 2.25rem;
                    left: 7.25rem;
                    opacity: 0;
                    transition: opacity 0.3s linear;
                    cursor: pointer;
                    .times {
                        @include flex(center, center);
                        @apply border-2;
                        .time {
                            min-width: 3rem;
                            @include flex(center, center);
                            flex-direction: column;
                            padding: 0.5rem 0;
                            .num {
                                font-family: "Roboto";
                                font-size: 1.25rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                            .line {
                                width: 100%;
                                height: 0.2rem;
                                margin: 0.4rem 0;
                                background: #fff;
                                opacity: 0.1;
                            }
                            .txt {
                                font-family: "Roboto";
                                font-size: 1rem;
                                font-style: normal;
                                font-weight: 400;
                                // line-height: 150%;
                                /* 21px */
                            }
                        }
                    }
                    // background: url(../../../public/icons/discountBg.svg) no-repeat center center;
                }
            }
            .out-of-stock {
                &:before {
                    position: absolute;
                    content: "";
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: var(--brs) var(--brs) 0px 0px;
                    transition: all 0.3s linear;
                }
            }
            .text-inner {
                color: #2c0709;
                padding: 2rem 1rem;
                .name {
                    text-align: center;
                    font-family: "Roboto";
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 150%;
                    /* 24px */
                    margin-bottom: 0.4rem;
                }
                .price {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    margin-bottom: 1.5rem;
                    line-height: 1.5;
                    .price-new {
                        color: #c82127;
                        font-family: "Roboto";
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
                    .price-old {
                        color: #7f8080;
                        display: flex;
                        align-items: flex-end;
                        font-family: "Roboto";
                        font-size: 1.4rem;
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                }
            }
        }
        .product-item-slide {
            padding: 0;
        }
        @include large {
            --gap: 1.6rem;
        }
    }
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}