.pro {}

.pro-slider .swiper,
.pro-list {
   --cg: 1.6rem;
   --rg: 1.6rem;

   @include max($mobile) {
      --cg: .8rem;
      --rg: .8rem;
   }
}


.pro-slider .swiper-slide,
.pro-item {
   @include max(1400px) {
      width: 25%;
   }

   @include max(900px) {
      width: calc(100% /3);
   }

   @include max(700px) {
      width: 50%;
   }

   @include max(360px) {
      width: 100%;
   }
}

.pro-wrapper {
   padding: 1.6rem;
   background-color: white;
   // border: .1rem solid $color-border-01;
   border-radius: var(--rs);
   box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.10);

   @include max($mobile) {
      padding: .8rem;
   }
}

.pro-wr {
   --h-action: 6rem;
   background-color: white;
   border-radius: .8rem;
   border: .1rem solid $color-border-01;
   display: flex;
   flex-direction: column;
   height: 100%;
   transition: .2s ease-in-out;
   position: relative;

}



.pro-img {
   position: relative;
}

.pro-img .inner {
   @include imgPd(1, 1);
   border-radius: .8rem .8rem 0 0;

   img {
      @include imgCover;
      transition: .2s ease-in-out;
   }
}





.pro-content {
   padding: 1rem;
}




.pro-content {
   display: flex;
   flex-direction: column;
   gap: .8rem;
   flex: 1;

   @include max($mobile) {
      gap: .4rem;
   }
}









.pro-loading-block {
   position: relative;

   .loading-custom {
      background-color: rgba($color: white, $alpha: .6);
   }
}



.pro-skeleton {
   padding: 1rem;
   border-radius: var(--rs) !important;

   .pro-img .inner .ant-skeleton {
      @include full;
      position: absolute;
   }

   .pro-content {
      padding: 0;
      margin-top: 1rem;
   }

   .ant-skeleton-image {
      width: 100% !important;
      height: 100% !important;

      svg {
         width: 70% !important;
         height: 70% !important;
      }
   }
}