.wrapper-product-detail {
  .dropdown-delivery {
    @apply text-[#382E2E];

    &:not(.ant-select-customize-input) .ant-select-selector {
      @apply border-b-[#B0B0B0];
    }
    &:not(.ant-select-customize-input).ant-select-focused:not(.ant-select-disabled)
      .ant-select-selector {
      @apply border-b-[#B0B0B0];
    }

    .ant-select-arrow {
      @apply text-[#D9D9D9];
    }
  }

  .wrapper-form {
    //Empty review
    .emptyContainer {
      .rating_star {
        svg {
          @apply w-[16px] h-[16px];
        }

        & > li {
          @apply mr-[4px];
        }

        .ant-rate-star-second {
          color: #ccc;
        }
        .ant-rate-star-full .ant-rate-star-second {
          color: inherit;
        }
      }
      .empty {
        @apply text-center mt-[10px];
        img {
          @apply m-auto;
        }
        h3 {
          @apply mt-[30px] text-[24px] text-[#C82127] font-bold;
        }
        p {
          @apply mt-[10px];
        }
      }
      .flexItem {
        @apply sm:flex gap-[30px] mt-[60px] items-center;
        h3 {
          @apply text-[24px] text-[#C82127] font-bold;
        }
      }
      .wrapper-rating {
        @apply mt-[38px];
        .qualify {
          @apply flex gap-[10px] mt-[8px] items-center;
          p {
            @apply font-bold;
          }
          img {
            @apply -translate-y-0.5;
          }
        }
      }

      .reviewForm {
        @apply sm:flex grid gap-[24px] justify-between mt-[20px];
        .formItem {
          @apply relative;

          p {
            @apply text-[16px] font-bold text-[#2C0709];

            span {
              @apply text-[#C82127];
            }
          }

          .formInput {
            @apply lg:w-full border-0 border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5] p-[10px] mt-2;

            &::placeholder {
              color: #cccccc;
              font-size: 14px;
            }
          }

          .formUnderline {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #239f40;
            transition: 0.4s linear;
          }

          .formInput:focus {
            outline: none;
          }

          .formInput:focus ~ .formUnderline {
            @apply w-[90%] ml-[10px] lg:w-[100%] lg:ml-0;
            transition: 0.5s linear;
          }

          .hidePw {
            @apply absolute w-[16px] h-[16px] bottom-5 right-[2%] cursor-pointer;
          }
        }
      }
      .writeReview {
        .formItem {
          @apply relative mt-[20px];

          p {
            @apply text-[16px] font-bold text-[#2C0709] mb-[10px];

            span {
              @apply text-[#C82127];
            }
          }

          textarea {
            @apply w-full h-[88px] p-[10px] resize-none border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5];

            &::placeholder {
              color: #c9c9c9;
              font-size: 14px;
            }
          }

          .formUnderline {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #239f40;
            transition: 0.4s linear;
            transform: translateY(-7px);
          }

          textarea:focus {
            outline: none;
          }

          textarea:focus ~ .formUnderline {
            width: 100%;
            transition: 0.5s linear;
          }
        }
      }
      .actionReview {
        @apply sm:flex grid gap-3 mt-[30px];
        .btnContainer {
          @apply flex gap-[50px] items-center;
          .ant-upload-list-picture {
            display: none !important;
          }
          button.upload {
            @apply w-[233px] h-[44px] bg-[#E9F5EC] border-[1px] border-[#239F40] text-[#239F40] font-bold rounded-[40px] py-[7px] px-[20px] flex justify-center items-center gap-[1px];
          }
        }
        button.sendReview {
          @apply sm:w-[150px] w-[120px] whitespace-nowrap h-[44px] sm:ml-auto bg-[#239F40] border-[1px] border-[#239F40] hover:bg-[#007134] text-[#FFFFFF] font-bold rounded-[40px] py-[10px] px-[20px] flex justify-center items-center gap-[5px];
        }

        .switch-anonymous {
          @apply bg-[#ccc];
          &.ant-switch-checked {
            @apply bg-[#239f40];
          }
        }
      }
    }
  }
}
