.promotion-page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10rem;
    .banner-page {
        padding-bottom: 12rem;
        @media screen and (max-width: 900px) {
            padding-bottom: 7rem;
        }
        @media screen and (max-width: 500px) {
            padding-bottom: 5rem;
        }
        @media screen and (max-width: 400px) {
            padding-bottom: 3rem;
        }
        .banner-promotion {
            width: 100%;
            position: relative;
            // .content-inner {
            //   top: 2rem;
            //   padding: 0 4rem;
            //   @include max-media(2000px) {
            //     padding: 0 18rem !important;
            //   }
            //   @include max-media(1535px) {
            //     padding: 0 4rem !important;
            //   }
            //   @include max-media(1300px) {
            //     padding: 0 !important;
            //   }
            //   .breadcrum {
            //     @include max-media(700px) {
            //       font-size: 1.8rem;
            //     }
            //   }
            // }
            .img-position {
                position: absolute;
                right: 5%;
                top: 40%;
                @include max-media(1400px) {
                    top: 30%;
                }
                @include max-media(1300px) {
                    top: 20%;
                }
                @include max-media(1100px) {
                    top: 15%;
                }
                @include max-media(750px) {
                    top: 10%;
                }
                @include max-media(650px) {
                    top: 5%;
                }
                @include max-media(500px) {
                    top: 35%;
                }
                .img {
                    width: 31.5rem;
                    @include max-media(950px) {
                        width: 24rem;
                    }
                    @include max-media(600px) {
                        width: 20rem;
                    }
                    @include max-media(500px) {
                        width: 14rem;
                    }
                    @include max-media(400px) {
                        width: 10rem;
                    }
                }
            }
        }
    }
    .title-promotion {
        margin-bottom: 5rem;
    }
    .content-inner-promotion {
        .filter-promotion {
            margin-bottom: 5rem;
        }
        .list-product {
            margin-bottom: 5rem;
        }
        .pagination-promotion {
            @include flex(center, center);
        }
    }
}