.accountBoxRight {
  @apply w-full lg:w-[74.5%] lg:p-[50px] pt-[20px] pb-[30px] px-[10px] xs:px-[15px] sm:px-[25px] md:px-[35px];

  h3 {
    @apply text-[20px] text-[#2C0709] font-bold text-left lg:pl-0 pl-10;
  }

  .accountInfo {
    @apply lg:flex gap-[25px] mt-[20px] mb-[50px];

    .avatar {
      @apply w-[101px] m-auto lg:m-0;

      img {
        @apply w-[101px] h-[101px] rounded-full;
      }

      div {
        @apply flex gap-[4px] mt-[10px];

        img {
          @apply w-[12px] h-[12px];
        }

        p {
          @apply text-[14px] text-[#2C0709];
        }
      }
    }

    .formInfo {
      @apply lg:grid lg:grid-cols-2 gap-[10px] lg:gap-[24px] w-full lg:w-[85%] lg:mt-0 mt-[5rem] lg:px-0 px-10;
      // width: calc(100% - 101px - 24px);
      .formItem {
        @apply w-full relative lg:mb-0 mb-8;

        &:nth-child(3),
        &:nth-child(4) {
          @apply mt-[2px];
        }
        p {
          @apply text-[16px] font-bold text-[#2C0709] ml-[10px] lg:ml-0;

          span {
            @apply text-[#C82127];
          }
        }
      }
    }
  }

  .formInput {
    @apply w-[90%] lg:w-full border-0 border-b-[1px] border-[#CCCCCC] p-[10px] mt-2 ml-[10px] lg:ml-0;

    &::placeholder {
      color: #cccccc;
      font-size: 14px;
    }
  }

  .formUnderline {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #239f40;
    transition: 0.4s linear;
  }

  .formInput:focus {
    outline: none;
  }

  .formInput:focus ~ .formUnderline {
    @apply w-[90%] lg:w-full ml-[10px] lg:ml-0;
    transition: 0.5s linear;
  }

  .deliveryInfo {
    @apply w-full lg:flex gap-[25px] justify-between mt-[20px];

    .formItem {
      @apply relative w-full lg:w-[33%] mt-[10px] lg:mt-0;

      p {
        @apply text-[16px] font-bold text-[#2C0709] ml-[10px] lg:ml-0;

        span {
          @apply text-[#C82127];
        }
      }
    }
  }

  .addressInfo {
    @apply relative mt-[30px];

    p {
      @apply text-[16px] font-bold text-[#2C0709] ml-[10px] lg:ml-0;

      span {
        @apply text-[#C82127];
      }
    }
  }
  .saveBtnContainer {
    @apply w-full text-center lg:text-left;
    button.saveBtn {
      @apply w-[130px] h-[44px] mt-[30px] py-[10px] px-[20px] bg-[#239F40] text-[#FFFFFF] rounded-[45px] hover:bg-[#007134];
    }
  }
}

//Change Password Tab
.changePwContainer {
  @apply relative;
  img.backgroundImg {
    @apply absolute -bottom-[50px] -right-[50px] hidden lg:block z-20;
  }
  img.cityBg {
    @apply z-10;
  }
}
.changePassword {
  @apply mt-[20px] w-[58%];

  .formItem {
    @apply w-full mt-[30px] relative z-20;

    p {
      @apply text-[16px] font-bold text-[#2C0709];

      span {
        @apply text-[#C82127];
      }
    }

    .formInput {
      @apply lg:w-full border-0 border-b-[1px] border-[#CCCCCC] p-[10px] mt-2;

      &::placeholder {
        color: #cccccc;
        font-size: 14px;
      }
    }

    .formUnderline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #239f40;
      transition: 0.4s linear;
    }

    .formInput:focus {
      outline: none;
    }

    .formInput:focus ~ .formUnderline {
      @apply w-[90%] ml-[10px] lg:w-[100%] lg:ml-0;
      transition: 0.5s linear;
    }

    .hidePw {
      @apply absolute w-[16px] h-[16px] bottom-5 right-[2%] cursor-pointer;
    }
  }
}

//Order History Tab
.orderSearch {
  @apply w-full lg:flex gap-[20px] mt-[30px];

  .searchInput {
    @apply lg:w-[65%] xl:w-[75%] relative;

    .formInput {
      @apply w-full border-0 border-b-[1px] border-[#CCCCCC] py-[10px] px-[20px];

      &::placeholder {
        color: #c9c9c9;
        font-size: 14px;
      }
    }

    .formUnderline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #239f40;
      transition: 0.4s linear;
    }

    .formInput:focus {
      outline: none;
    }

    .formInput:focus ~ .formUnderline {
      width: 100%;
      transition: 0.5s linear;
    }
  }
  button.searchBtn {
    @apply py-[10px] px-[20px] bg-[#239F40] rounded-[45px] font-bold lg:text-[16px] text-[#FFFFFF] hover:bg-[#007134];
  }
}
.tableContainer {
  @apply mt-[30px] w-full;
}
table.orderList {
  @apply w-full table-auto;
  thead {
    @apply border-b-[1px] border-[#E9E9E9];
  }
  tbody tr {
    @apply h-[50px];
    &:first-child {
      @apply mt-3;
    }
  }
  tr th,
  tr td {
    @apply w-[20%] text-left;
  }
  tr td:nth-child(3) {
    @apply w-[23%];
  }
  tbody tr td span {
    @apply inline-table w-[90px] h-[26px] text-[12px] lg:w-[115px] lg:h-[32px] py-[4px] px-[16px] rounded-[37px] lg:text-[14px] font-bold text-center;
    p {
      @apply translate-y-2;
    }
    &.waiting {
      @apply bg-[#FFF2D6] text-[#F6AF15];
    }
    &.canceled {
      @apply bg-[#FFDED6] text-[#F63E15];
    }
    &.shipping {
      @apply bg-[#D8EAFD] text-[#1582F6];
    }
    &.success {
      @apply bg-[#E8F5EB] text-[#239F40];
    }
  }
  tbody tr td:last-child div {
    @apply flex lg:justify-end gap-[5px] xl:gap-[10px] cursor-pointer align-middle;
    .arrow {
      @apply block;
    }
    .greenArrow {
      @apply hidden;
    }
    &:hover {
      @apply text-[#239F40];
      .arrow {
        @apply hidden;
      }
      .greenArrow {
        @apply block;
      }
    }
  }
  tbody:before {
    line-height: 1em;
    content: ".";
    color: white;
    display: block;
  }
}

.paginationBar {
  @apply mt-[30px] w-full;
}

//Order Detail Tab
.orderDetailTitle {
  @apply xs:flex;
  p {
    @apply text-[20px] text-[#C82127] font-bold ml-[4px];
  }
  span {
    @apply h-[32px] py-[4px] px-[16px] ml-[10px] inline-flex justify-center align-middle bg-[#FFF2D6] text-[#F6AF15] rounded-[37px];
  }
}

.orderStepperContainer {
  @apply w-full m-auto mt-[33px] mb-[30px];

  .orderStepper {
    @apply flex justify-around;

    .step {
      @apply relative;
      .stepInfo.active {
        img {
          filter: brightness(0) invert(1);
        }

        p {
          @apply text-[#FFFFFF];
        }
      }
      .stepInfo {
        @apply absolute w-full text-center top-[35%] xs:top-[40%] sm:top-1/4;

        img {
          @apply w-[16px] h-[16px] xs:w-[24px] xs:h-[24px] sm:w-[28px] sm:h-[28px] m-auto;
        }

        p {
          @apply hidden sm:block text-[14px] xl:text-[16px] text-[#2C0709] font-bold mt-2;
        }
        span {
          @apply text-[14px] text-[#FFFFFF];
        }
      }
      .stepInfo.firstStep {
        @apply top-[16%] lg:top-[12%] xs:top-[25%] sm:top-[15%];
      }
    }
  }
}

.infoItem {
  @apply flex gap-[4px] mt-[10px];
  p:first-child {
    @apply font-bold;
  }
}

.orderListInfo {
  @apply lg:flex justify-between mt-[30px];
  .leftInfo {
    @apply lg:w-[55%];
    h4 {
      @apply font-bold text-[#2C0709];
    }
    .orderItem {
      @apply flex justify-between mt-[20px];
      .orderItemLeft {
        @apply flex gap-[10px];
        img {
          @apply w-[52px] h-[52px] rounded-[12px];
        }
        div {
          p:first-child {
            @apply font-bold text-[#031230];
          }
          p:last-child {
            @apply mt-1;
          }
        }
      }
      .price {
        @apply text-[#C82127] font-bold;
      }
    }
  }
  .rightInfo {
    @apply lg:w-[40%] bg-[#F5F5F5] rounded-[24px] py-[30px] px-[20px];
    .rightInfoItem {
      @apply flex justify-between;
      &:first-child {
        p:last-child {
          @apply text-[#C82127] font-bold;
        }
      }
      // &:nth-child(2) {
      //     @apply mt-[14px];
      //     p:last-child {
      //         @apply font-bold;
      //     }
      // }
    }
    .paymentMethod {
      @apply flex mt-[14px] flex-wrap;
      p:first-child {
        @apply w-[105%];
      }
      p:last-child {
        @apply text-right font-bold;
      }
    }
    .rightLine {
      @apply w-full h-[1px] bg-[#DFDFDF] mt-[20px];
    }
    .totalOrder {
      @apply text-[20px] font-bold mt-[20px];
      p:last-child {
        @apply text-[#C82127];
      }
    }
  }
}

.btnContainer {
  @apply flex justify-end mt-[20px];
  button {
    @apply py-[10px] px-[20px] border-[1px] border-[#239F40] rounded-[45px] font-bold hover:bg-[#239F40] hover:text-[#FFFFFF];
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .accountBox {
    @apply flex max-w-[760px];
  }
  .accountBoxLeft {
    @apply w-[40%];
    ul li {
      @apply text-[14px];
    }
  }
  .changePassword {
    @apply w-[70%] ml-[15%];
    .formItem {
      p {
        @apply ml-[10px];
      }
      img.hidePw {
        @apply right-[10%];
      }
    }
  }
  .orderSearch {
    @apply flex ml-[20px] text-[14px];
    .searchInput {
      @apply w-[55%];
    }
  }
  .tableContainer {
    @apply px-[10px] text-[14px];
    table tbody tr td:last-child div {
      p {
        @apply text-[#239F40];
      }
      .arrow {
        @apply hidden;
      }
      .greenArrow {
        @apply hidden;
      }
    }
  }
  .orderDetailTitle {
    @apply text-center;
    p {
      @apply text-center;
    }
    span {
      // @apply ml-[32%];
    }
  }
  .infoItem {
    @apply ml-[20px];
  }
  .orderListInfo {
    @apply px-[10px];
    .rightInfo {
      @apply mt-[10px];
    }
  }
  .btnContainer {
    @apply w-[90%] mx-auto;
  }
}

@media (max-width: 768px) {
  .accountInfo {
    .formInfo {
      @apply mt-[20px];
    }
  }
  .changePassword {
    @apply w-[80%] px-[10px] ml-[11%];
    .formItem {
      p {
        @apply ml-[10px];
      }
      img.hidePw {
        @apply right-[10%];
      }
    }
  }
  .orderSearch {
    .searchInput {
      @apply w-[65%] ml-[15%];
    }
  }
  .searchBtnContainer {
    @apply mt-[10px] w-full text-center text-[12px];
  }
  .tableContainer {
    @apply text-[10px] px-[10px];
    span {
      @apply text-[12px];
    }
    table tbody tr td:last-child div {
      p {
        @apply text-[#239F40];
      }
      .arrow {
        @apply hidden;
      }
      .greenArrow {
        @apply hidden;
      }
    }
    .paginationBar {
      display: flex;
      justify-content: center;
      vertical-align: middle;
    }
  }
  .orderDetailTitle {
    @apply text-center;
    p {
      @apply text-center;
    }
    span {
      // @apply ml-[32%];
    }
  }
  .infoItem {
    @apply ml-[20px];
  }
  .orderListInfo {
    @apply px-[10px];
    .rightInfo {
      @apply mt-[10px];
    }
  }
  .btnContainer {
    @apply w-[90%] mx-auto;
  }
}

.shippingInfo {
  @apply mt-4;

  h3 {
    @apply lg:text-[24px] font-bold text-[#C82127];
  }

  .shippingInfoRow:not(:last-child) {
    @apply flex gap-[24px];

    div.formItem {
      @apply relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }
    }

    .formInput {
      @apply w-full border-0 border-b-[1px] border-[#CCCCCC] p-[10px] mt-6;

      &::placeholder {
        color: #cccccc;
        font-size: 14px;
      }
    }

    .underline {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #239f40;
      transition: 0.4s linear;
    }

    .formInput:focus {
      outline: none;
    }

    .formInput:focus ~ .underline {
      width: 100%;
      transition: 0.5s linear;
    }
  }

  .shippingInfoCol {
    @apply w-full;

    div {
      @apply w-[100%] relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }
    }
  }

  .register {
    @apply mt-[20px];

    p {
      @apply text-[16px] text-[#2C0709];

      span {
        @apply text-[#C82127] font-bold;
      }
    }
  }
}
