.fx-skeleton {
  position: relative;
  overflow: hidden;
  pointer-events: none !important;
  user-select: none !important;
  .skeholder {
    background: #ecedf2;
    color: transparent;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    animation: shimmer 2s infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
