html {
  font-size: 62.5%;
  //   scroll-behavior: smooth;

  @media screen and (min-width: 2000px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;
  line-height: 1.55;
  font-weight: 400;
  color: #031230;
  overflow: hidden auto;
}

.ant-card {
  color: #414141;
}

.label-form {
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 2.4rem */
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading-blue {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: rgb(0, 98, 255);
    }
  }
}

.loading-white {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: rgb(255, 255, 255);
    }
  }
}

.loading-black {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: rgb(0, 0, 0);
    }
  }
}

.main-button {
  background: #239f40;
  padding: 1rem 2rem;
  border-radius: 3rem;

  @media screen and (max-width: 768px) {
    padding: .75rem 1.5rem;
  }
}

button {
  &:focus-visible {
    outline: none;
  }
}

.text {
  &.weight-500 {
    font-weight: 500;
  }

  &.weight-600 {
    font-weight: 600;
  }

  &.weight-700 {
    font-weight: 700;
  }

  &.weight-800 {
    font-weight: 800;
  }

  &.bold {
    font-weight: bold;
  }

  &.size-12 {
    font-size: 1.2rem;
  }

  &.size-14 {
    font-size: 1.4rem;
  }

  &.size-16 {
    font-size: 1.6rem;
  }

  &.size-18 {
    font-size: 1.8rem;
  }

  &.red {
    color: red;
  }

  &.black {
    color: black;
  }

  &.white {
    color: black;
  }
}

.ant-popover {
  .ant-btn-sm {
    padding-bottom: 0.1rem;
  }

  .ant-btn-primary {
    color: $primary-color;

    &:hover {
      color: white;
    }
  }
}

.in-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.in-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.in-3-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.in-4-line {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.center-column {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-text {
  color: red;
}

.loading-spin {
  line-height: 0;
  margin-left: 1.2rem !important;

  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: white;
    }
  }
}

.row-center {
  @apply flex flex-row items-center;
}

.all-center {
  @apply flex flex-row items-center justify-center;
}

.loading-base {
  line-height: 0;

  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: white;
    }
  }
}

.loading-blue {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: rgb(0, 98, 255);
    }
  }
}

.loading-black {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: rgb(0, 0, 0);
    }
  }
}

.loading-primary {
  line-height: 0;
  transition: 0.3s;

  .ant-spin-dot {
    font-size: 1.8rem;

    .ant-spin-dot-item {
      background: $primary-color;
    }
  }
}

.ant-form-item-explain {
  margin-top: 0.5rem;
}

.none-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  text-decoration: none;
}

.desktop {
  display: inline-flex !important;

  @include max-media(999px) {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @include max-media(1000px) {
    display: inline-flex !important;
  }
}

.ant-card {
  border-radius: 0.8rem !important;
}

.Toastify__progress-bar {
  height: 0.2rem !important;
}

.ant-modal-content {
  border-radius: 0.8rem;

  .ant-modal-header {
    border-radius: 0.8rem 0.8rem 0 0;
  }

  .ant-modal-footer {
    text-align: center;

    .ant-btn-default {
      background-color: $primary-color;
      border-radius: 0.4rem;
      border-style: none;
      color: #fff;

      &:hover {
        background-color: $primary-hover;
      }

      &:focus {
        box-shadow: none !important;
      }
    }

    .ant-btn-primary {
      color: red !important;
      background-color: #4caf50;
      border-radius: 0.4rem;
      border-style: none;
      box-shadow: none !important;
      border-color: #4caf4f1b !important;

      &:hover {
        background-color: #3d9240;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.ant-form-item-label {
  font-weight: 600;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-left: 0.4rem;
  color: #ff4d4f;
  font-size: 1.4rem;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.btn-icon {
  &.red {
    svg {
      color: red;
    }

    &:hover {
      svg {
        color: rgb(211, 18, 18);
      }
    }
  }

  &.green {
    svg {
      color: #4caf50;
    }

    &:hover {
      svg {
        color: #378e3a;
      }
    }
  }

  &.yellow {
    svg {
      color: #ffba0a;
    }

    &:hover {
      svg {
        color: #e7ab11;
      }
    }
  }

  &.blue {
    svg {
      color: #0a89ff;
    }

    &:hover {
      svg {
        color: #157ddd;
      }
    }
  }
}

// Disable selection text
.none-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  text-decoration: none;
}

.ant-form .ant-form-item .ant-form-item-label,
.ant-form .ant-form-item .ant-form-item-control {
  @include max-media(575px) {
    flex: unset;
    max-width: 100%;
  }
}

.button-filter-table {
  height: 2.8rem !important;
  border-radius: 0.4rem !important;
}

.tox-toolbar {
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: white;
  }

  &::-webkit-scrollbar {
    border: none;
    height: 0.5rem;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #e7e7e7;
  }
}

.none-scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: white !important;
  }

  &::-webkit-scrollbar {
    border: none;
    width: 0rem !important;
    height: 0rem !important;
    background-color: white !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #dbdbdb !important;
  }
}

.chau-custom-scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: white !important;
  }

  &::-webkit-scrollbar {
    border: none;
    width: 0.4rem !important;
    background-color: white !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #dbdbdb !important;
  }
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar {
    border: none;
    width: 0.6rem;
    background-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #cacaca;
    cursor: pointer !important;
  }
}

.scrollable-h {
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: white;
  }

  &::-webkit-scrollbar {
    border: none;
    width: 0.4rem;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #f0f0f0;
  }
}

.w800-scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: white;
  }

  &::-webkit-scrollbar {
    border: none;
    width: 0.6rem;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #e7e7e7;
  }

  @include max-media(800px) {
    overflow-y: hidden;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 2rem;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #30232d3b;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #30232d3b;
}

// .ant-modal-wrap {
// 	z-index: 9999 !important;
// }

.ant-card-head-title {
  display: inline-flex;
  align-items: center;
}

.ant-card-extra {
  display: inline-flex;
  align-items: center;
}

.ant-divider-inner-text {
  line-height: 0;
}

.ant-divider {
  margin-bottom: 2.5rem !important;
}

.ant-upload {
  width: 100%;
}

.primary-search {
  .ant-input-wrapper {
    .ant-input {
      height: 3.6rem;
      border-radius: 0.6rem 0rem 0rem 0.6rem;
    }

    .ant-input-search-button {
      height: 3.6rem;
      border-radius: 0rem 0.6rem 0.6rem 0rem !important;
    }
  }
}

.register-form {
  .ant-form-item-label {
    margin-bottom: 0.5rem;
    padding: 0;

    label {
      font-weight: 500 !important;
      font-size: 1.4rem !important;
    }
  }

  .primary-input {
    height: 3.8rem;
    border-radius: 0.6rem;
    box-shadow: none !important;
    border: 0.1rem solid #d9d9d9;
    padding-top: 0.3rem;
  }

  .ant-form-item {
    width: 100% !important;
  }

  .ant-steps-item-title {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .ant-steps-item-description {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: -1rem;
  }

  .ant-steps-icon {
    font-weight: 700;
    margin-left: -0.1rem;
  }

  .ant-steps-label-vertical .ant-steps-item-content {
    // width: 15.0rem;
  }
}

[ant-click-animating-without-extra-node='true']::after {
  display: none;
}

.x-search {
  .ant-input {
    height: 2.8rem;
  }

  .ant-input-search-button {
    height: 3.8rem;
  }
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0 0.6rem 0.6rem 0;
}

.internet-online {
  @apply fixed bottom-[32px] right-[30px] z-[99999] bg-[#17be49];
  @apply p-[16px] rounded-[6px] flex items-center;

  #internet-status {
    @apply text-[#fff] text-[16px];
  }
}

.internet-offline {
  @apply fixed bottom-[32px] right-[30px] z-[99999] bg-[#e72f2b];
  @apply p-[16px] rounded-[6px] flex items-center;

  #internet-status {
    @apply text-[#fff] text-[16px];
  }
}

.styles-module_tooltip__mnnfp {
  font-size: 1.4rem !important;
  border-radius: 0.4rem !important;
}

.ant-modal-close-x {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  width: 5.4rem;
  height: 5.4rem;
}

.highter-skeleton {
  .ant-skeleton-content .ant-skeleton-title {
    height: 3rem;
  }
}

.text-16-600 {
  @apply font-[600] text-[16px];
}

.text-14-400 {
  @apply font-[400] text-[14px];
}

.text-black {
  color: rgb(0, 0, 0);
}

.table-row-main-text {
  font-weight: 500;
}

.table-row-sub-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #9d9d9d;
}

.btn-fullscreen {
  @apply w-[34px] h-[34px] rounded-[6px] all-center cursor-pointer;

  &.is-full {
    @apply bg-[#E53935] hover:bg-[#cf2c29] text-[#fff];
  }

  &.not-full {
    @apply bg-[#b02896] hover:bg-[#a4228c] text-[#fff];
  }
}

.fullscreen-body {
  .ant-card-bordered {
    border-style: none;
  }

  .ant-modal-body {
    padding: 0.8rem;
  }

  .ant-card-head {
    padding: 0.8rem;

    .ant-card-head-title {
      padding: 0rem;
    }
  }

  .ant-card-body {
    padding: 0.8rem;
  }
}

.card-min-padding {
  border: 0.1rem solid #dedede;

  .ant-card-body {
    @apply p-[16px];
  }
}

.btn-open-in-new-tab {
  @apply top-[-4px] right-[-4px] none-selection cursor-pointer z-50;
  @apply absolute w-[26px] h-[26px] bg-[#f1f1f1] hover:bg-[#e6e6e6] active:bg-[#f1f1f1] rounded-full all-center;
}

.ant-select-class-selected {
  .ant-select-selector {
    max-height: 8.4rem !important;
    display: block !important;
    padding-top: 0.6rem !important;
    position: relative;

    .ant-select-class-option {
      flex-direction: column !important;
      align-items: flex-start;
    }

    .ant-select-selection-item {
      padding: 0.4rem !important;
      height: unset !important;
      flex-direction: column;
      align-items: flex-start !important;
      line-height: unset !important;
    }

    .ant-select-item-option-name {
      font-weight: 600 !important;
    }
  }

  .ant-select-selection-placeholder {
    position: absolute !important;
    top: 0.4rem;
    left: 1.6rem;
  }

  .ant-select-selection-search-input {
    margin-top: 0.3rem !important;
  }
}

.ant-tree-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  height: 3rem !important;
}

.container-fluid {
  padding: 0;
}

// Update the layout
.ant-card-head {
  min-height: 4rem !important;
}

.ant-card-head-title {
  padding: 1.2rem 0 !important;
}

.ant-card-head {
  padding: 0 1.2rem !important;
}

.ant-card-body {
  padding: 1.2rem !important;
}

.ant-card-extra {
  padding: 1.2rem 1.2rem !important;
  margin-right: -1.2rem !important;
}

.ant-menu-item {
  height: 4rem !important;
}

.class-details-container {
  .ant-tabs-tabpane {
    @media screen and (max-width: 768px) {
      padding-left: 0rem !important;
    }
  }
}

.simple-menu-pro {
  .menu-child {
    left: 0 !important;

    &.false {
      width: 26rem !important;
    }
  }

  .app-header {
    width: 100% !important;

    .app-header-logo {
      &.open-no-ani {
        width: 26.4rem !important;
      }

      &.open {
        width: 26.4rem !important;
      }
    }
  }

  .app-content {
    &.false {
      @media screen and (min-width: 1000px) {
        width: calc(100% - 25.8rem);
      }

      @media screen and (max-width: 1000px) {
        width: calc(100%);
      }
    }

    &.close-app {
      width: calc(100%) !important;

      .breadcrumb {
        margin-left: -0.8rem !important;
      }
    }
  }

  .menu-bar .menu-child .app-header-logo {
    padding: 0rem !important;
  }

  .menu-child {
    &.false {
      img {
        height: 3.4rem !important;
      }
    }
  }

  .menu-child-body {
    padding: 0rem 1.6rem;
  }

  .ant-menu-item-selected {
    @apply shadow-sm;
  }

  .ant-menu-submenu-title {
    .ant-menu-title-content {
      margin-left: 0.2rem !important;
    }
  }

  .none-selected {
    background-color: transparent !important;
    color: #000 !important;
    @apply shadow-none;

    .ant-menu-title-content {
      color: #000 !important;

      div {
        color: #000 !important;
      }
    }
  }

  .ant-menu-title-content {
    color: #000;
  }
}

.cc-news-item-content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.card-beauty-header {
  .ant-card-head {

    // padding: .0rem !important;
    // max-width: .0rem !important;
    .ant-card-head-wrapper {}
  }
}

.inner-hidden {
  .fucking-chart {
    display: none !important;
  }
}

.vertical-timeline-element-icon {
  border: 0.3rem solid white !important;
  -webkit-box-shadow: 0 !important;
  box-shadow: none !important;
}



.row {
  --cg: 2.4rem;
  --rg: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--cg) / 2 * -1) calc(var(--rg) * -1);

  @include max($mobile) {
    --cg: 1rem;
  }
}

.col {
  width: 100%;
  padding: 0 calc(var(--cg) / 2);
  margin-bottom: var(--rg);

  &-11 {
    width: calc(11/12 * 100%);
  }

  &-10 {
    width: calc(10/12 * 100%);
  }

  &-9 {
    width: calc(9/12 * 100%);
  }

  &-8 {
    width: calc(8/12 * 100%);
  }

  &-7 {
    width: calc(7/12 * 100%);
  }

  &-6 {
    width: 50%;
  }

  &-5 {
    width: calc(5/12 * 100%);
  }

  &-4 {
    width: calc(4/12 * 100%);
  }

  &-3 {
    width: calc(3/12 * 100%);
  }

  &-2 {
    width: calc(2/12 * 100%);
  }

  &-1 {
    width: calc(1/12 * 100%);
  }

  &-5i {
    width: calc(100% / 5);
  }

  &-6i {
    width: calc(100% / 6);
  }

  &-4i {
    width: calc(100% / 4);
  }
}

.swiper.row {
  --rg: 0;
  flex-wrap: nowrap;
}


.btn {
  // Common
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  // Custom
  background: $red;
  color: white;
  padding: 1.4rem 2rem;
  border-radius: .8rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: var(--h-btn);
  pointer-events: visible;

  >* {
    position: relative;
    z-index: 2;
  }

  &-gr {
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  @include affter(var(--c-six));
  @include hoverAffter;

  &.--miw {
    min-width: 16.8rem;
  }

}

.re-head {
  margin-bottom: 1.6rem;
  text-align: center;

  .icon-center {
    width: 8rem;
    display: inline-block;

    @include max(700px) {
      width: 3rem;
    }
  }
}

.t-title {
  color: #2c0709;
  font-family: "SVN-Engine";
  font-size: 5.6rem;
  line-height: 1.1;
  text-transform: uppercase;

  @include max(700px) {
    font-size: 3.2rem;
  }
}

.re {
  &-label {
    margin-bottom: 0.8rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;

  }

  &-input {
    padding: 1rem 0;
    width: 100%;
    border: none;
    outline: none;
    display: block;
    border-bottom: .1rem solid $color-border-01;
    font-size: 1.6rem;
    background-color: transparent;

    &.second {
      border: .1rem solid $color-border-01;
      border-radius: .4rem;
      padding: 1.2rem;
      height: var(--h-input);
    }

    &:focus {
      border-color: var(--c-pri);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &:-webkit-autofill {
      // -webkit-text-fill-color: white !important;
    }

    @include input-placeholder {
      color: #6B7280;
    }
  }


}

.btn {
  // Common
  @include mid-flex;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  // Custom
  background: var(--c-pri);
  color: white;
  padding: 1.4rem 2rem;
  border-radius: .8rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: var(--h-btn);
  pointer-events: visible;
  transition: .2s ease-in-out;

  >* {
    position: relative;
    z-index: 2;
  }

  @include hover {
    color: white;
    background: rgba($color: $red, $alpha: .8);

  }


}

.full {
  width: 100%;
}

.re-head {
  margin-bottom: 1.6rem;
}


.t-title {
  font-size: clamp(2rem, 0.7324rem + 4.0563vw, 5.6rem);
}

.t12 {
  font-size: 1.2rem;
}

.skeleton-gr-inner,
.skeleton-gr {

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.re-block {
  padding: 1.6rem;
  border-radius: var(--rs);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}