// MIXINS
@mixin max-media($args) {
	@media screen and (max-width: $args) {
		@content;
	}
}

@mixin min-media($args) {
	@media screen and (min-width: $args) {
		@content;
	}
}

@mixin line-clamp($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $line;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* IE 10+ */
@mixin ie {

	@media screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		@content;
	}
}

@mixin br($radius) {
	border-radius: $radius;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

@mixin mid() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

@mixin mid-flex() {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

@mixin pos-full() {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@mixin pos-full-fixed() {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

@mixin hidden() {
	opacity: 0;
	visibility: hidden;
}

@mixin visible() {
	opacity: 1;
	visibility: visible;
}

@mixin overtext($args) {
	display: -webkit-inline-box;
	-webkit-line-clamp: $args;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin lh($lh, $fsz) {
	line-height: ($lh / $fsz);
}

//calc to tracking in psd => letter spacing to css
@mixin tracking($tracking) {
	letter-spacing: ($tracking / 1000) * 1em;
}

@mixin offset($col: 0) {
	margin-left: (100% / 12 * $col);
}

/* Custom scrollbar*/
@mixin custom-scrollbar($width: 10px, $thumb: #b1b1b1, $track: #fff) {
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-thumb {
		background: $thumb;
	}

	&::-webkit-scrollbar-track {
		background: $track;
	}
}

@mixin custom-vertical-scrollbar($height: 10px, $thumb: #b1b1b1, $track: #fff) {
	&::-webkit-scrollbar {
		height: $height;
	}

	&::-webkit-scrollbar-thumb {
		background: $thumb;
	}

	&::-webkit-scrollbar-track {
		background: $track;
	}
}

/*FONT SIZE*/
@mixin fz-65 {
	font-size: 6.5rem;

	@include max-media($bk-d-1200) {
		font-size: 6rem;
	}

	@include max-media($bk-d-992) {
		font-size: 5rem;
	}

	@include max-media($bk-d-768) {
		font-size: 4rem;
	}
}

@mixin fz-60 {
	font-size: 6rem;

	@include max-media($bk-d-1200) {
		font-size: 5rem;
	}

	@include max-media($bk-d-992) {
		font-size: 4.5rem;
	}

	@include max-media($bk-d-768) {
		font-size: 4rem;
	}
}

@mixin fz-50 {
	font-size: 5rem;

	@include max-media($bk-d-1200) {
		font-size: 4rem;
	}

	@include max-media($bk-d-992) {
		font-size: 3.6rem;
	}

	@include max-media($bk-d-768) {
		font-size: 3rem;
	}
}

@mixin fz-40 {
	font-size: 4rem;

	@include max-media($bk-d-1200) {
		font-size: 3.6rem;
	}

	@include max-media($bk-d-992) {
		font-size: 3.2rem;
	}

	@include max-media($bk-d-768) {
		font-size: 3rem;
	}
}

@mixin fz-36 {
	font-size: 3.6rem;

	@include max-media($bk-d-992) {
		font-size: 3rem;
	}

	@include max-media($bk-d-768) {
		font-size: 2.8rem;
	}
}

@mixin fz-30 {
	font-size: 3rem;

	@include max-media($bk-d-992) {
		font-size: 2.8rem;
	}

	@include max-media($bk-d-768) {
		font-size: 2.4rem;
	}
}

@mixin fz-28 {
	font-size: 2.8rem;

	@include max-media($bk-d-992) {
		font-size: 2.4rem;
	}

	@include max-media($bk-d-768) {
		font-size: 2.2rem;
	}
}

@mixin fz-24 {
	font-size: 2.4rem;

	@include max-media($bk-d-992) {
		font-size: 2.2rem;
	}

	@include max-media($bk-d-768) {
		font-size: 2rem;
	}
}

@mixin fz-22 {
	font-size: 2.2rem;

	@include max-media($bk-d-992) {
		font-size: 2rem;
	}

	@include max-media($bk-d-768) {
		font-size: 1.8rem;
	}
}

@mixin fz-20 {
	font-size: 2rem;

	@include max-media($bk-d-992) {
		font-size: 1.8rem;
	}
}

@mixin fz-18 {
	font-size: 1.8rem;

	@include max-media($bk-d-992) {
		font-size: 1.6rem;
	}
}

/*FONT SIZE - END*/

@mixin flex($align-item, $justify-content) {
	display: flex;
	align-items: $align-item;
	justify-content: $justify-content;
}

@mixin mobile {
	@media only screen and (max-width: $mobile) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (max-width: $tablet) {
		@content;
	}
}

@mixin large {
	@media only screen and (max-width: $large) {
		@content;
	}
}

@mixin largem {
	@media only screen and (max-width: $large-m) {
		@content;
	}
}

@mixin laptop {
	@media only screen and (max-width: $laptop) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (max-width: $desktop) {
		@content;
	}
}

@mixin mobilem {
	@media only screen and (max-width: $mobile-m) {
		@content;
	}
}

@mixin width-height($width, $height) {
	@media only screen and (max-width: $width) and (max-height: $height) {
		@content;
	}
}

@mixin absoluteCenter($direction: 'left') {
	position: absolute;

	@if $direction =='left' {
		left: 50%;
		transform: translateX(-50%);
	}

	@if $direction =='top' {
		top: 50%;
		transform: translateY(-50%);
	}

	@if $direction =='both' {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}


@mixin max($value) {
	@media screen and (max-width: $value) {
		@content;
	}
}

@mixin min-max($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin min($value) {
	@media screen and (min-width: $value) {
		@content;
	}
}

@mixin mid() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin imgPd($ver, $hori) {
	display: block;
	padding-top: calc((#{$ver} / #{$hori}) * 100%);
	position: relative;
	overflow: hidden;
}

@mixin imgCover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@mixin imgContain {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@mixin lc($value: 3) {
	display: -webkit-box;
	-webkit-line-clamp: $value;
	-webkit-box-orient: vertical;
	overflow: hidden;
}



@mixin hover($value: 1025px) {
	&:hover {
		@media screen and (min-width: $value) {
			@content;
		}
	}
}


@mixin clear {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

@mixin scroll-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}


@mixin full($l: 0, $t: 0, $r: 0, $b: 0) {
	left: $l;
	top: $t;
	right: $r;
	bottom: $b;
}

@mixin full-size($size: 0) {
	left: $size;
	top: $size;
	right: $size;
	bottom: $size;
}

@mixin full-second {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin posi-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

@mixin posi-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

@mixin hidden($x: 0, $y: 0) {
	opacity: 0;
	visibility: hidden;
	transform: translate($x, $y);
}

@mixin show {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
}



@mixin input-placeholder {
	&.placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		@content;
	}
}




@mixin pseudo() {
	content: '';
	position: absolute;
}



@mixin reset-input {
	background-color: transparent;
	width: 100%;
	font-family: var(--font-pri);
	border: none;
	outline: none;
}


@mixin affter($color: var(--c-pri)) {
	&::after {
		position: absolute;
		content: "";
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		background: $color;
		transition: all 0.4s ease;
		z-index: 1;
		pointer-events: none;
	}
}

@mixin hoverAffter {
	@include hover {
		&::after {
			left: 0;
			width: 100%;
		}
	}
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-ms-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	animation:#{$str};
	-webkit-animation:#{$str};
	-moz-animation:#{$str};
	-ms-animation:#{$str};
	-o-animation:#{$str};
}



@mixin font-pri() {
	font-family: var(--font-pri);
}

@mixin font-second() {
	font-family: var(--font-second);

}

@mixin gap($gap, $col) {
	width: calc(100% / $col - ($gap - ($gap / $col)));
}

@mixin borderArrow($p: down, $size: 5px, $color: #000) {
	width: 0;
	height: 0;

	@if ($p==left) {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	}

	@else if ($p==right) {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}

	@else if ($p==down) {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}

	@else {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	}
}