$blue: #1986da;
$black: #3c2e35;
$light-blue: #029686;
$normal-blue: #3f51b5;
$orange: #f18f00;
$white: #fff;
$red: #c82127;
$green: #239f40;
$pink: #c00060;
$purple: #9c28b1;
$grey: #f8f8f8;
$height: 10rem;
$height-sticker: 7rem;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-text: #575050;
$border-primary: 1px solid #eaeaea;
$bg-gradient: linear-gradient(90deg, #ff4e50 0%, #f9d423 100%);

$primary-color: #1b73e8;
$primary-color-dark: #0365c0;
$primary-color-light: #408cf0;
$primary-color-lightest: #99bff1;
$primary-hover: #1369da;

$second-color: #0346a8;
$second-color-light: #1250ad;
$second-hover: #003f9e;

$danger-hover: #e7cfcf;
$success-hover: #d0e7e2;
$warning-hover: #f7f1e0;
$color-success: #32c6a4;
$color-success-light: #d5faf1;

$primary-text: #2d2d2d;

$fs-12: 1.2vw;

//text-invoice
$text-mute: #bfbfcb;
$text-primary: #3f4254;
$text-report: #162b5b;

// LOADING COLOR
$color-top: #1b73e8;
$color-left: #1767cf;
$color-right: #3c85e3;

$mobile: 480px;
$mobile-m: 600px;
$tablet: 768px;
$large: 1024px;
$large-m: 1200px;
$desktop: 1400px;
$laptop: 1600px;



:root {
   --rs: .8rem;
   --h-btn: 4.2rem;
   --h-input: 4rem;
}

$color-border-01: rgba(0, 0, 0, 0.1);
//Responsive
$res-container: 1490px;
$res-mobile: 1199px;
$res-mobile-min: 1200px;

$res-tablet: 1024px;
$res-tablet-min: 1025px;

// $mobile: 700px;
// $mobile-min: 701px;


//Distance
// cubic
$cubic: cubic-bezier(0.72, 0.04, 0.49, 0.82);

:root {
   --h-btn: 4.4rem;
   --rs: .8rem;
   --c-pri: #c82127;
   --c-six: #c82127;
}