.container {
  background-color: #e1e4e8;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  @apply grid xl:grid-cols-3;
}

.container .content {
  background-color: #e1e4e8;
  @apply xl:col-span-2 h-[100%] xl:flex hidden relative items-center justify-center;
}

.container .formLogin {
  @apply xl:col-span-1 w-[100%] bg-[#fff] h-[100%] 2xl:py-[172px] py-[120px] xl:px-[80px] sm:px-[30%] px-[50px];
}

.container .formLogin .bgGradiant {
  background: #2686ed;
  @apply p-[2px] text-[#fff] rounded-md;
}

.container .formLogin .logoMona {
  height: auto !important;
}
/*# sourceMappingURL=Auth.module.css.map */