$primary-color: #505494;

.container {
  background-color: #e1e4e8;
  // background-image: url("bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  overflow-y: auto;
  display: flex;
  align-items: center;
  width: 100%;
  @apply grid xl:grid-cols-3;

  .content {
    background-color: #e1e4e8;
    @apply xl:col-span-2 h-[100%] xl:flex hidden relative items-center justify-center;
  }
  .formLogin {
    @apply xl:col-span-1 w-[100%] bg-[#fff] h-[100%] 2xl:py-[172px] py-[120px] xl:px-[80px] sm:px-[30%] px-[50px];
    .text {
    }
    .bgGradiant {
      background: #2686ed;
      @apply p-[2px] text-[#fff] rounded-md;
    }
    .logoMona {
      height: auto !important;
    }
  }
}
