.diaryContainer {
  @apply w-[100%] pb-[7rem];
}

@media (max-width: 1400px) {
  .diaryContainer {
    // @apply -translate-y-12;
  }
}

.titleSection {
  @apply relative;
  height: 35vw;
  width: 100%;
}

.union {
  @apply w-full;
}

.breadcrumb {
  @apply absolute flex w-full top-[35%] lg:top-[45%] xl:top-[55%] justify-center items-center gap-3 text-[#FFFFFF] text-[14px];
}

.title {
  @apply absolute flex w-full top-[55%] xl:top-[63%] justify-center gap-3 text-[14px];
  h1 {
    @apply text-[#FFFFFF] text-[24px] lg:text-[64px] xl:text-[96px];
    font-family: 'SVN-Engine';
  }
}

.gear {
  @apply absolute w-[180px] xl:w-[390px] top-[15%] xl:top-[40%] right-0 xl:-right-6;
}

.tabTitle {
  @apply text-center mt-36;
  img {
    @apply m-auto;
  }
  h2 {
    @apply font-bold xl:text-[64px] text-[48px] -translate-y-24 text-[#2C0709];
    font-family: 'SVN-Engine';
  }
}

.tabSection {
  @apply lg:flex;
  .tabSelect {
    @apply w-[70%] m-auto grid grid-cols-1 sm:flex lg:gap-1 xl:gap-12 font-bold text-[14px] xl:text-[20px];
    p {
      @apply relative flex justify-center gap-3 mt-3 cursor-pointer;
      &::before {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        transform: translateY(100%);
        width: 0;
        height: 3px;
        background-color: transparent;
        transition: 0.5s;
      }
      &:hover {
        @apply text-[#C82127];
        transition: 0.3s;
        &::before {
          width: 100%;
          background-color: #c82127;
        }
      }

      &.selected {
        @apply text-[#C82127];
        transition: 0.3s;
        &::before {
          width: 100%;
          background-color: #c82127;
        }
      }
    }
    img {
      @apply hidden lg:block translate-y-2;
    }
  }
  .sort {
    @apply flex lg:w-[35%] m-auto align-middle justify-center lg:justify-end items-center;
    p {
      @apply lg:text-[16px] mt-1.5 w-auto whitespace-nowrap;
    }
    .diarySort {
      @apply w-[180px];
    }
  }
}

@media (max-width: 1280px) {
  .tabSelect {
    p {
      @apply w-[16rem] mx-auto;
    }
  }
}

.blogList {
  @apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-12 mt-16;

  .blogItem {
    .blogImage {
      @apply w-full relative cursor-pointer overflow-hidden;
      img,
      .img {
        width: 100%;
        transition: 0.5s ease-in-out;
        object-fit: cover;
        height: calc(350px - 5vw);
        width: 100%;
      }
      .viewBlog {
        @apply flex flex-col justify-center text-center absolute w-[100px] h-[100px] top-[35%] left-[37%] rounded-full opacity-0 bg-[#FFFFFF] pt-6 z-10;
        transition: opacity 0.5s;

        span {
          @apply text-[14px] w-full font-bold;
        }
        img {
          @apply w-[28px] mx-auto;
        }
      }
      &:before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 124, 33, 0.6);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 1;
        border-radius: 80px 2.4rem;
      }
      &:hover {
        img {
          @apply delay-100 duration-300 ease-in-out;
          border-radius: 80px 2.4rem;
        }
        &:before {
          opacity: 1;
        }
        .viewBlog {
          @apply opacity-70 delay-100 duration-300 ease-in-out;
        }
      }
    }
    .blogTitle {
      @apply mt-6 mb-6;
      span {
        @apply text-[14px] lg:text-[16px];
      }
      a {
        @apply text-[18px] lg:text-[22px] font-bold mt-3 hover:text-green;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.paginationBar {
  @apply flex justify-center align-middle mt-12;
}

.galleryContainer {
  column-count: 4;
  margin: 0 auto;
  position: relative;
  // background: linear-gradient(to bottom, white 10%, white 30%, white 60%, white 100%);
  .imageItem {
    width: 100%;
    height: auto;
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
    img {
      width: 100%;
      transition: 0.5s ease-in-out;
    }
    .viewImage {
      @apply w-full h-full flex items-center justify-center top-0 text-center absolute z-10 opacity-0;
      transition: opacity 0.5s;
      img {
        @apply w-[24px] h-[24px] mx-auto z-20;
      }
    }
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 124, 33, 0.6);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      z-index: 1;
      border-radius: 80px 24px;
    }
    &:hover {
      .imageAlbum {
        @apply delay-100 duration-300 ease-in-out;
        border-radius: 80px 24px;
      }
      &:before {
        opacity: 1;
      }
      .viewImage {
        @apply opacity-100 delay-100 duration-300 ease-in-out;
      }
    }
  }
}

.bgLinear {
  position: absolute;
  // display: flex;
  flex-shrink: 0;
  height: 280px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(360deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.seeMoreSection {
  @apply w-full text-center;
  // box-shadow: 0 -15px 3px -3px black, 0 5px 3px -3px white;
  height: 200px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 1024px) {
  .galleryContainer {
    column-count: 3;
  }
}
@media only screen and (max-width: 640px) {
  .galleryContainer {
    column-count: 2;
  }
}
@media only screen and (max-width: 450px) {
  .galleryContainer {
    column-count: 1;
  }
}
