.accountContainer {
  @apply w-[100%] bg-[#E9F5EC];
}

.accountBg {
  @apply pb-[15rem] bg-[#E9F5EC] translate-y-[80px];
}

.accountBox {
  @apply xl:max-w-[1200px] lg:max-w-[1000px] h-auto lg:flex m-auto bg-[#FFFFFF] rounded-[12px] mb-[6rem];

  .accountBoxLeft {
    @apply lg:w-[24%] xl:w-[25.5%] bg-[#239F40] lg:rounded-tl-[12px] lg:rounded-bl-[12px] pt-[20px] lg:pt-[50px] pl-[10px] xl:pl-[37px] pb-[20px];

    .boxLeftHead {
      @apply flex gap-[10px] lg:gap-[5px] xl:gap-[20px];

      img {
        @apply w-[70px] h-[70px] rounded-full;
      }

      div {
        p {
          @apply text-[24px] text-[#FFFFFF] font-bold;
        }

        span {
          @apply text-[14px] text-[#FFFFFF] underline decoration-1;
        }
      }
    }

    ul {
      @apply mt-[20px] lg:mt-[40px];

      li {
        @apply h-[64px] p-[20px] rounded-l-[30px] lg:rounded-r-[0px] rounded-r-[30px] lg:mr-0 mr-4 flex gap-[10px] cursor-pointer whitespace-nowrap;

        &.active {
          @apply bg-[#FFFFFF];
          img {
            filter: invert(57%) sepia(57%) saturate(5832%) hue-rotate(107deg)
              brightness(93%) contrast(73%);
          }
          p {
            @apply font-bold text-[#239F40];
          }
        }
        img {
          @apply w-[18px] h-[18px] mt-1.5;
        }
        p {
          @apply text-[#FFFFFF];
        }
      }
    }
  }
}
