.container {
  position: relative;
  width: 100%;
  padding-left: 0px;
  background-color: #f3f5f8;
  height: fit-content;
  font-family: "Montserrat", sans-serif !important;
}

.main {
  /* transition: 0.3s; */
  @apply w-[100%] mt-[100px];
}

.footer,
.header {
  /* transition: 0.3s; */
}
