@keyframes shake {

	0%,
	100% {
		transform: translateY(0);
	}

	25%,
	75% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(5px);
	}
}

.shake-y {
	animation: shake 2s linear infinite;
}

@keyframes flip {
	0% {
		transform: perspective(800px) rotateY(0);
	}

	50% {
		transform: perspective(800px) rotateY(180deg);
	}

	100% {
		transform: perspective(800px) rotateY(0);
	}
}

.flip {
	animation: flip 2s infinite;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(10deg);
	}

	30% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(10deg);
	}

	70% {
		transform: rotate(-10deg);
	}

	90% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.swing {
	animation: swing 1s infinite;
	transform-origin: top center;
}

@keyframes shake-horizontal {

	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.animation-cua-lan {
	animation: shake-horizontal 2s infinite;
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(-10deg);
	}

	40% {
		transform: rotate(10deg);
	}

	60% {
		transform: rotate(-10deg);
	}

	80% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.wiggle {
	animation: wiggle 1s infinite;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
	}

	50% {
		box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
	}
}

.glow {
	animation: glow 1.5s infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 2s infinite linear;
}


@keyframes trin {

	from {
		transform: rotate3d(0, 0, 1, 0deg);
	}

	20%,
	32%,
	44%,
	56%,
	68% {
		transform: rotate3d(0, 0, 1, 0deg);
	}

	23%,
	35%,
	47%,
	59%,
	71% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	26%,
	38%,
	50%,
	62%,
	74% {
		transform: rotate3d(0, 0, 1, 0deg);
	}

	29%,
	41%,
	53%,
	65%,
	77% {
		transform: rotate3d(0, 0, 1, -15deg);
	}

	80% {
		transform: rotate3d(0, 0, 1, 0deg);
	}

}

.trin-trin {
	animation-name: trin;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spinner{
  to {
    transform: rotate(1turn);
  }
}
.spinner{
  transform: translate(-50%,-50%);
}
.spinner-icon{
  animation: spinner 2s infinite linear;
}