.app-footer {
    width: 100%;
    position: relative;
    color: #fff;
    z-index: 9;
    // height: 600px;
    .bg-footer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        .img {
            width: 100%;
            height: 100%;
            >img {
                width: 100%;
                display: block;
                height: 100%;
                object-fit: cover;
            }
        }
        >img {
            width: 100%;
            display: block;
            height: 100%;
        }
    }
    .containers {
        .inner {
            padding-top: 10rem;
            padding-bottom: 10rem;
            .logo-footer {
                padding-top: 6rem;
                margin-bottom: 4rem !important;
            }
            @include tablet {
                padding-top: 2rem;
            }
            @include mobile {
                padding-top: 0;
            }
        }
        .logo-footer {
            @include flex(center, center);
            margin: 0 auto;
            width: 25%;
            margin-bottom: 10rem;
            padding-top: 5rem;
            @include max-media(1300px) {
                margin-bottom: 2rem;
            }
            @include max-media(1200px) {
                width: 25%;
                margin-bottom: 4rem;
                padding-top: 3rem;
            }
        }
        @include max-media(1200px) {
            bottom: 70%;
        }
        @include max-media(1100px) {
            bottom: 75%;
        }
        @include max-media(900px) {
            bottom: 80%;
        }
        @include tablet {
            display: none;
        }
    }
    .img-position {
        position: absolute;
        z-index: 2;
        bottom: 60%;
        width: 20%;
        left: 5%;
        transition: all 0.3s;
        pointer-events: none;
        @include max-media(1600px) {
            bottom: 70%;
        }
        @include max-media(1200px) {
            bottom: 75%;
        }
        @include max-media(1000px) {
            bottom: 80%;
        }
        // @include max-media(900px) {
        //     bottom: 80%;
        // }
        @include tablet {
            display: none;
        }
    }
    .logo-footer {
        @include flex(center, center);
        margin: 0 auto;
        width: 25%;
        margin-bottom: 10rem;
        padding-top: 6rem;
        @include desktop {
            width: 20%;
            margin-bottom: 4rem;
            padding-top: 3rem;
        }
        @include max-media(1300px) {
            margin-bottom: 2rem;
            padding-top: 2rem;
        }
        @include max-media(1200px) {
            width: 25%;
            padding-top: 4rem;
            margin-bottom: 5rem;
        }
    }
    .content-inners {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 8rem;
        @include large {
            flex-wrap: wrap;
            padding-bottom: 1rem;
        }
        .info {
            width: 30rem;
            padding: 0 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include tablet {
                margin-bottom: 1.2rem;
                width: 50%;
            }
            .info-inner {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                // padding-bottom: 3rem;
                flex-direction: column;
                gap: 6px;
                @include tablet {
                    flex-wrap: wrap;
                    padding-bottom: 2rem;
                }
                @include mobile {
                    // align-items: center;
                    font-size: 14px;
                }
                .info-item {
                    display: flex;
                    gap: 1rem;
                    .icon {
                        margin-top: 0.4rem;
                        flex-shrink: 0;
                        img {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                    }
                    .text-group {
                        .text {
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 150%;
                            /* 2.4rem */
                        }
                        .subtext {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 150%;
                            /* 2.1rem */
                        }
                    }
                }
                .info {
                    width: 30rem;
                    padding: 0 1.2rem;
                    @include tablet {
                        margin-bottom: 1.2rem;
                        width: 50%;
                    }
                    .info-inner {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        margin-bottom: 2rem;
                    }
                    .tags {
                        width: 11.5rem;
                        height: 4.3rem;
                        flex-shrink: 0;
                    }
                }
                .catalog {
                    padding: 0 1.2rem;
                    @include tablet {
                        margin-bottom: 1.2rem;
                        width: 50%;
                    }
                    .catalog-inner {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        @include max-media(1300px) {
                            gap: 1rem;
                        }
                        .item-cata {
                            @include flex(center, center);
                            gap: 1rem;
                            cursor: pointer;
                            &.active {
                                .text {
                                    >span {
                                        color: #239f40;
                                        font-size: 1.6rem;
                                        font-weight: 700;
                                    }
                                }
                            }
                            //left
                            // clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 39% 50%, 0% 0%);
                            //right
                            //clip-path: polygon(100% 0%, 65% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                            .text {
                                width: 12rem;
                                text-align: center;
                                position: relative;
                                &::before {
                                    position: absolute;
                                    content: '';
                                    background: #239f40;
                                    left: -2rem;
                                    width: 1rem;
                                    height: 1rem;
                                    top: 50%;
                                    transform: translate(-2rem, -50%);
                                    flex-shrink: 0;
                                    transition: 0.3s;
                                    opacity: 0;
                                    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 39% 50%, 0% 0%);
                                }
                                &::after {
                                    position: absolute;
                                    content: '';
                                    background: #239f40;
                                    right: -2rem;
                                    width: 1rem;
                                    height: 1rem;
                                    top: 50%;
                                    transform: translate(2rem, -50%);
                                    flex-shrink: 0;
                                    transition: 0.3s;
                                    opacity: 0;
                                    clip-path: polygon(100% 0%, 65% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                                }
                                &:hover {
                                    >span {
                                        color: #239f40;
                                        font-weight: 700;
                                    }
                                    &::before,
                                    &:after {
                                        transform: translate(0, -50%);
                                        opacity: 1;
                                    }
                                }
                                >span {
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    line-height: 150%;
                                    /* 2.1rem */
                                }
                            }
                        }
                    }
                }
                .about {
                    width: fit-content;
                    padding: 0 1.2rem;
                    @include tablet {
                        margin-bottom: 2rem;
                        width: 50%;
                    }
                    .about-inner {
                        position: relative;
                        width: 100%;
                        .item-about {
                            width: 100%;
                            .info-top {
                                width: 100%;
                                margin-bottom: 1rem;
                                @include flex(center, flex-start);
                                @include tablet {
                                    justify-content: center !important;
                                }
                                .text {
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                    line-height: 150%;
                                    /* 2.4rem */
                                }
                                .social {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 5rem;
                                    gap: 1rem;
                                    img {
                                        width: 2.4rem;
                                    }
                                }
                            }
                            .info-bottom {
                                width: 100%;
                                margin-left: auto;
                                @include tablet {
                                    margin-left: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                            .copy-right {
                                gap: 0.6rem;
                                margin-top: 3rem;
                            }
                        }
                    }
                    @include tablet {
                        width: 100%;
                    }
                }
            }
            .tags {
                width: 11.5rem;
                height: 4.3rem;
                flex-shrink: 0;
            }
        }
        .catalog {
            padding: 0 1.2rem;
            @include tablet {
                margin-bottom: 1.2rem;
                width: 50%;
            }
            .catalog-inner {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                @include max-media(1300px) {
                    gap: 1rem;
                }
                .item-cata {
                    @include flex(center, center);
                    gap: 1rem;
                    cursor: pointer;
                    &.active {
                        .text {
                            >span {
                                color: #239f40;
                                font-size: 1.6rem;
                                font-weight: 700;
                            }
                        }
                    }
                    //left
                    // clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 39% 50%, 0% 0%);
                    //right
                    //clip-path: polygon(100% 0%, 65% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                    .text {
                        width: 12rem;
                        // text-align: center;
                        position: relative;
                        // &::before {
                        //     position: absolute;
                        //     content: '';
                        //     background: #239f40;
                        //     left: -2rem;
                        //     width: 1rem;
                        //     height: 1rem;
                        //     top: 50%;
                        //     transform: translate(-2rem, -50%);
                        //     flex-shrink: 0;
                        //     transition: 0.3s;
                        //     opacity: 0;
                        //     clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 39% 50%, 0% 0%);
                        //     @media screen and (max-width: 380px) {
                        //         left: -.3rem;
                        //     }
                        //     @media screen and (max-width: 340px) {
                        //         display: none;
                        //     }
                        // }
                        // &::after {
                        //     position: absolute;
                        //     content: '';
                        //     background: #239f40;
                        //     right: -2rem;
                        //     width: 1rem;
                        //     height: 1rem;
                        //     top: 50%;
                        //     transform: translate(2rem, -50%);
                        //     flex-shrink: 0;
                        //     transition: 0.3s;
                        //     opacity: 0;
                        //     clip-path: polygon(100% 0%, 65% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                        //     @media screen and (max-width: 380px) {
                        //         right: -.3rem;
                        //     }
                        //     @media screen and (max-width: 340px) {
                        //         display: none;
                        //     }
                        // }
                        &:hover {
                            >span {
                                color: #239f40;
                                font-weight: 700;
                            }
                            // &::before,
                            // &:after {
                            //     transform: translate(0, -50%);
                            //     opacity: 1;
                            // }
                        }
                        >span {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 150%;
                            /* 2.1rem */
                        }
                    }
                }
            }
        }
        .about {
            width: fit-content;
            padding: 0 1.2rem;
            @include tablet {
                margin-bottom: 2rem;
                width: 50%;
            }
            .about-inner {
                position: relative;
                width: 100%;
                height: 100%;
                .item-about {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .info-top {
                        width: 100%;
                        margin-bottom: 1rem;
                        @include flex(center, flex-start);
                        @include tablet {
                            justify-content: center !important;
                        }
                        .text {
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 150%;
                            /* 2.4rem */
                        }
                        .social {
                            display: flex;
                            align-items: center;
                            margin-left: 5rem;
                            gap: 1rem;
                            img {
                                width: 2.4rem;
                            }
                        }
                    }
                    .info-bottom {
                        width: 100%;
                        margin-left: auto;
                        @include tablet {
                            margin-left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .copy-right {
                        gap: 0.6rem;
                        margin-top: 3rem;
                    }
                }
            }
            @include large {
                width: 100%;
                .about-inner {
                    .item-about {
                        .info-top {
                            justify-content: center;
                        }
                        .info-bottom {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
            @include tablet {
                width: fit-content;
                .about-inner {
                    .item-about {
                        .info-top {
                            justify-content: center;
                        }
                        .info-bottom {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}