.headerContainer {
  @apply w-[100%] fixed z-50;
  background-color: #fff;
}

.content-header {
  @include flex(center, space-between);
  height: inherit;
  width: 100%;
  @include desktop {
    gap: 4rem;
  }
  @include large {
    gap: 1rem;
  }
}

.app-header {
  border-bottom: 0.5rem solid #c82127;
  @apply fixed transition-all duration-[0.3s] z-50 flex items-center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: $height;
  @include max-media(1400px) {
    height: $height-sticker;
  }
  &.sticky-header {
    height: $height-sticker;
    &.mobile {
      left: unset;
      right: 0;
    }
    .menu {
      > ul > li {
        line-height: $height-sticker;
      }
    }
  }
  &.mobile {
    width: calc(100% - 25rem);
    left: unset;
    right: 0;
  }
  @include desktop {
    gap: 3rem;
  }
  .logo {
    width: 12%;
    > a img {
      width: 100%;
    }
    @include max-media(900px) {
      width: 10%;
    }
    @include tablet {
      width: 18%;
    }
    @include largem {
      display: none;
    }
  }
  .visible-menu {
    display: none;
    cursor: pointer;
    @include largem {
      display: block;
    }
    button {
      font-size: 2.2rem;
    }
    button:hover {
      color: #c82127;
      transition: 0.3s;
    }
    img {
      @include mobile {
        // display: none;
        width: 50%;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include largem {
      display: none;
    }
    .menu-wrapper {
      .relative.group {
        &:nth-last-child(1) {
          .header-menu-item {
            .header-menu-child {
              right: 100%;
              left: auto;
              .header-menu-child {
                right: 100%;
                left: auto;
              }
            }
          }
        }
      }
    }
    > ul {
      display: flex;
      height: inherit;
      margin: 0;
      align-items: center;
      // @include desktop {
      // 	gap: 1rem;
      // }
      > li {
        padding: 0 1.5rem;
        position: relative;
        line-height: 10rem;
        height: 100%;
        display: flex;
        align-items: center;
        &:hover {
          .sub-menu {
            margin-top: 0;
            visibility: visible;
            opacity: 1;
          }
        }
        > a {
          display: flex;
          color: #382e2e;
          position: relative;
          padding: 0.6rem 0;
          line-height: 20px;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            width: 0;
            height: 0.1rem;
            background-color: transparent;
            transition: 0.5s;
          }
          > span {
            text-align: center;
            font-family: 'Roboto';
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 27px */
            @include max-media(1400px) {
              font-size: 1.6rem;
            }
          }
          &:hover {
            color: $green !important;
            transition: 0.3s;
            &::before {
              width: 100%;
              background-color: currentColor;
            }
          }
        }
      }
      .sub-menu {
        position: absolute;
        left: 1.5rem;
        white-space: nowrap;
        transition: all, 0.3s;
        text-transform: none;
        top: calc(100% + 0.3rem);
        border-bottom-right-radius: 2.4rem;
        border-bottom-left-radius: 2.4rem;
        background: #fff;
        padding: 2rem 0;
        max-width: 100rem;
        min-width: 30rem;
        width: auto;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
        margin-top: 1rem;
        .inner-sub {
          // overflow: scroll;
          // max-height: 50vh;
          .item {
            @include flex(center, space-between);
            padding: 1rem 0;
            border-bottom: 0.1rem solid #f5f5f5;
            cursor: pointer;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              transform: translateY(100%);
              width: 0;
              height: 0.1rem;
              background-color: transparent;
              transition: 0.5s;
            }
            &:hover {
              &::before {
                width: 100%;
                background-color: $red;
              }
              .icons {
                .name {
                  color: $red;
                }
              }
            }
            &:last-child {
              border: 0;
            }
            &.active {
              .icons {
                .name {
                  color: $red;
                }
              }
            }
            .icons {
              display: flex;
              align-items: center;
              gap: 1rem;
              .name {
                color: #2c0709;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 150%;
                /* 24px */
              }
            }
          }
        }
      }
    }
    .menuActive {
      color: $green !important;
      transition: 0.3s;
      position: relative;
      .img {
        position: absolute;
        top: -0.6rem;
        width: 1.6rem;
        height: 1.6rem;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        > img {
          width: 100%;
          height: 100%;
        }
      }
      > span {
        font-weight: 700;
      }
    }
  }
  .sticky {
    display: flex;
    gap: 2rem;
    align-items: center;
    .icon-search {
      .img {
        // width: 1.8rem;
        // height: 1.8rem;
      }
    }
    > button {
      .img {
        // width: 2rem;
        // height: 2rem;
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .nation {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      i {
        color: #d9d9d9;
      }
      .img {
        width: 2.2rem;
        height: 2.2rem;
        > img {
          border-radius: 100%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.wrapper-menu {
  .wrapper-child-menu {
    display: none !important;
    padding: 1.5rem 0;
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    background: #fff;
    .menu-child {
      @apply grid-flow-row w-[200px];
      display: grid !important;
    }
  }
  .wrapper-child-2-menu {
    padding: 1.5rem 0;
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    background: #fff;
  }
  &:hover > .wrapper-child-menu {
    display: block !important;
    transition: all 0.3;
    transition-duration: 500ms;
    transition-property: display;
  }
}
