::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #007134;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #239f40;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #f1f1f1;
}

.app {
  // background-color: #f8f7f7;
  overflow: hidden;
}

.containers {
  width: 100%;
  max-width: 123rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  @include max-media(1200px) {
    padding: 0 4rem;
  }
  @include max-media(768px) {
    padding: 0 2rem;
  }
}

.app-main {
  width: 100%;
  z-index: 3;
  padding-top: $height;
  &.isScroll {
    padding-top: $height-sticker;
  }
  @include max-media(1400px) {
    padding-top: $height-sticker;
  }
}

.social-fixed {
  position: fixed;
  z-index: 999;
  bottom: 20rem;
  display: flex;
  flex-direction: column;
  right: 3.2rem;
  @include tablet {
    background-color: white;
    bottom: 0;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    right: auto;
    text-transform: uppercase;
    font-weight: 300;
  }
  .a-tag {
    @include tablet {
      width: 50%;
      padding: 0.4rem 0.15rem;
      margin: 0 0.2rem 0 0.25rem;
    }
  }
  button {
    width: 50%;
    @include tablet {
      margin-bottom: 0;
      padding: 0.3rem 0.5rem;
      background: #007134;
      padding: 1rem 0;
      margin: 0 0.4rem 0 0.15rem;
    }
    border-radius: 8px;
  }
  .phone-button {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    padding: 0.4rem 0.6rem 0.4rem 0rem;
    .contact-desktop {
      display: block;
    }
    .contact-mobile {
      display: none;
    }
    @include tablet {
      margin-bottom: 0;
      padding: 0.4rem 0.6rem 0.4rem 0.6rem;
      background: #007134;
      display: flex;
      justify-self: center;
      justify-content: center;
      font-size: 12px;
      color: white;
      padding: 1.4rem 0;
      .contact-desktop {
        display: none;
      }
      .contact-mobile {
        display: block;
      }
    }
    &:hover {
      .text {
        opacity: 1;
        &::after {
          width: 100%;
        }
      }
    }
    .icon {
      @include flex(center, center);
      width: 3.2rem;
      height: 3.2rem;
      background: #fff;
      border-radius: 50%;
      margin: 0 auto;
      > img {
        width: 2rem;
        height: 2rem;
      }
    }
    .text {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 150%;
      /* 24px */
      content: none;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      text-align: center;
      right: 0;
      top: 50%;
      transform: translate(calc(0), -50%);
      white-space: nowrap;
      padding: 1.2rem 4.6rem 1.2rem 1rem;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s;
      @include tablet {
        font-size: 1.2rem;
      }
      &::after {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: #e10600;
        border-radius: 2rem;
        transition: width 0.5s;
        z-index: -1;
      }
    }
  }
  .zalo-button {
    width: 3.2rem;
    height: 3.2rem;
    .icon-zalo {
      display: block;
    }
    .text-zalo {
      display: none;
    }
    @include tablet {
      width: 50%;
      height: 100%;
      font-size: 12px;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      margin: 0 0.45rem 0 0.1rem;
      padding: 1.4rem 0;
      border-radius: 0 !important;
      .icon-zalo {
        display: none;
      }
      .text-zalo {
        display: block;
      }
    }
  }
}

.back-to-top-button {
  position: fixed;
  z-index: 999;
  bottom: 9rem;
  right: 3.6rem;
  padding: 0.6875rem;
  padding-bottom: 1.75rem;
  text-align: center;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  &:hover {
    .car-focus {
      opacity: 1;
    }
  }
  .img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.625rem;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  .car-focus {
    position: absolute;
    top: 0;
    left: -0.4rem;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &::after {
    content: '';
    position: absolute;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    bottom: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #239f40 50%, rgba(0, 0, 255, 0) 100%);
    opacity: 0.5;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    animation: slideIn 0.6s forwards;
    // box-shadow: 0 0 0 10px rgba(85, 85, 85, 0.3);
  }
  .anima {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .triangle {
      display: block;
      text-align: center;
      display: flex;
      justify-content: center;
      z-index: 2;
      margin: 0 auto;
      &:nth-child(1) {
        animation: BTT 1.5s linear 0.6s infinite;
      }
      &:nth-child(2) {
        animation: BTT 1.5s linear 0.3s infinite;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes BTT {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.app-content {
  width: 100%;
}

// Modifire Antd
.breadcrumb-banner {
  .ant-breadcrumb {
    @media screen and (max-width: 1200px) {
      margin: 0 5.5rem;
    }
    > ol > li {
      display: flex;
    }
    .ant-breadcrumb-separator {
      color: #fff;
    }
    .ant-breadcrumb-text {
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}

.separator-breadcrumb {
  width: 0.6rem;
  height: 0.6rem;
  clip-path: polygon(60% 0%, 100% 50%, 60% 100%, 0% 100%, 44% 50%, 0% 0%);
  background: #fff;
}

.breadcrumb-head {
  .ant-breadcrumb {
    > ol {
      align-items: center;
      // flex-wrap: nowrap;
    }
    li {
      color: #382e2e;
      display: flex !important;
      // display:inline-block;
      width: fit-content;
      // // white-space: nowrap;
      // text-overflow: ellipsis;
      // @include max-media(750px) {
      //     max-width: 350px;
      //     // overflow: hidden;
      // }
      // @include max-media(600px) {
      //     max-width: 250px;
      //     // overflow: hidden;
      // }
      // @include max-media(450px) {
      //     max-width: 150px;
      //     // overflow: hidden;
      // }
      // @include max-media(310px) {
      //     max-width: 100px;
      //     // overflow: hidden;
      // }
      .ant-breadcrumb-link {
        > a {
          color: #382e2e;
        }
      }
    }
  }
  .separator-breadcrumb {
    background: #382e2e;
  }
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartButton__mqf2X button {
  height: 4.4rem !important;
  border-radius: 5.4rem !important;
  border-width: 0.1rem !important;
  padding: 1rem 2rem !important;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartButton__mqf2X button:last-child img {
  top: 1.4rem !important;
  height: 1.6rem !important;
  width: 1.6rem !important;
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_wrapperInfo___axf4
  .MiniCart_cartItemImage__HYabr {
  border-radius: 1.2rem !important;
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_wrapperInfo___axf4
  .MiniCart_cartItemInfo__bPIbr
  .MiniCart_quantity__1FX7p {
  margin-top: 1.2rem !important;
  height: 3.2rem !important;
  width: 9.2rem !important;
  border-radius: 4.6rem;
  border-width: 0.1rem;
  align-items: center;
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_wrapperInfo___axf4
  .MiniCart_cartItemInfo__bPIbr
  .MiniCart_quantity__1FX7p
  img {
  width: 1.2rem !important;
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_wrapperInfo___axf4
  input[type='checkbox'] {
  width: 1.5rem !important;
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_price__VSMeb {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  font-size: 1.4rem !important;
}

.MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartList__U3And {
}

.MiniCart_miniCartContainer__Yz3A0
  .MiniCart_cartList__U3And
  .MiniCart_cartItem__0lLXp
  .MiniCart_wrapperInfo___axf4 {
  gap: 1.2rem !important;
  flex: 1;
  margin-right: 12px;
}

.MiniCart_cartHidden__hMAoh {
  transform: translateX(64.6rem) !important;
}

@media screen and (min-width: 640px) {
  .MiniCart_container__XYa01 {
    width: 50rem !important;
  }
  .MiniCart_miniCartContainer__Yz3A0 .MiniCart_cartButton__mqf2X button:last-child img {
    left: 5.5rem !important;
  }
  .MiniCart_miniCartContainer__Yz3A0
    .MiniCart_cartList__U3And
    .MiniCart_cartItem__0lLXp
    .MiniCart_wrapperInfo___axf4
    .MiniCart_cartItemImage__HYabr {
    width: 7rem !important;
    height: 7rem !important;
  }
  .MiniCart_miniCartContainer__Yz3A0
    .MiniCart_cartList__U3And
    .MiniCart_cartItem__0lLXp
    .MiniCart_wrapperInfo___axf4
    .MiniCart_cartItemInfo__bPIbr
    p {
    font-size: 1.6rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .MiniCart_container__XYa01 {
    width: 54.6rem !important;
  }
  .MiniCart_miniCartContainer__Yz3A0
    .MiniCart_cartList__U3And
    .MiniCart_cartItem__0lLXp
    .MiniCart_price__VSMeb {
    font-size: 2rem !important;
  }
  .MiniCart_miniCartContainer__Yz3A0 .MiniCart_total___87pz p {
    font-size: 2rem !important;
  }
}

.BreadcrumbHead_breadcrumbHead__2EiSn {
  @media screen and (min-width: 1380px) {
    width: 100% !important;
    max-width: 123rem !important;
    height: 100% !important;
    margin: 0 auto !important;
    padding: 0 1.5rem !important;
  }
  @include max-media(1200px) {
    padding: 0 3rem !important;
  }
  @include max-media(768px) {
    padding: 0 3rem !important;
  }
}

.BreadcrumbHead_breadcrumbHead__2EiSn .BreadcrumbHead_breadcrumb___YNXY {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ant-breadcrumb {
  font-size: 1.4rem;
}

.ant-breadcrumb-separator {
  margin: 0 0.8rem;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_leftSection__J5N05
  .ProductDetail_swiperContainer__XWWXM {
  margin-top: 2rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_leftSection__J5N05
  .ProductDetail_swiperContainer__XWWXM
  .ProductDetail_listImage__gUEZQ {
  height: 7.4rem !important;
  @media screen and (max-width: 800px) {
    height: initial !important;
    .swiper {
    }
  }
}

.ProductDetail_productDetailSection__tMRgt .ProductDetail_rightSection__hN3xB h1 {
  font-size: 3.2rem;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemCode___f_tK {
  gap: 0.4rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemRate__cFPZc {
  font-size: 2rem !important;
  gap: 1rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_leftSection__J5N05
  .ProductDetail_swiperContainer__XWWXM
  .ProductDetail_iconSwiper__POyZC {
  width: 3.2rem !important;
  height: 3.2rem !important;
  img {
    width: 50% !important;
    height: 50% !important;
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_leftSection__J5N05
  .ProductDetail_swiperContainer__XWWXM
  .ProductDetail_listImage__gUEZQ
  .ProductDetail_imageItem__MfUkq {
  width: initial !important;
  height: initial !important;
  aspect-ratio: 1/1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem !important;
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemRate__cFPZc
  .ProductDetail_rating_star__Xp6DL
  > li {
  margin-right: 0.4rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemRate__cFPZc
  .ProductDetail_rating_star__Xp6DL
  svg {
  width: 1.6rem !important;
  height: 1.6rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_related__7p7AP
  .ProductDetail_item_related__jHKDV {
  border-radius: 0.5rem !important;
  border-width: 0.1rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_related__7p7AP
  .ProductDetail_item_related__jHKDV
  .ProductDetail_item_related_detail__HEtdw {
  width: 15rem !important;
  border-radius: 0.5rem !important;
  font-size: 1.4rem !important;
  height: 100%;
}

.ant-rate {
  font-size: 2rem;
}

.ant-radio-wrapper {
  font-size: 1rem !important;
  margin-right: 0.8rem !important;
  + p {
    font-size: 1.2rem;
  }
}

.ant-radio {
  font-size: 1.4rem;
  &-inner {
    width: 1.6rem;
    height: 1.6rem;
    &::after {
      width: 1.6rem;
      height: 1.6rem;
      margin-top: -0.8rem;
      margin-left: -0.8rem;
      border-radius: 1.6rem;
    }
  }
}

.ProductDetail_productDetailSection__tMRgt {
  gap: 3rem !important;
  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    > * {
      width: 100% !important;
    }
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO {
  margin-top: 1rem !important;
  @include largem {
    flex-wrap: wrap;
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemPrice__F1WV1 {
  margin-top: 2rem !important;
  gap: 1rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemPrice__F1WV1
  p:first-child {
  font-size: 2.4rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_contact__7e07V {
  margin-top: 2rem !important;
  gap: 1rem !important;
  img {
    width: 1.2rem;
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemQuantity__AwN_c
  .ProductDetail_quantity__DB81Q {
  gap: 0.5rem !important;
  border-radius: 4.6rem !important;
  border-width: 0.1rem !important;
  padding: 0.6rem 1rem !important;
  button img {
    width: 1.2rem;
  }
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_itemQuantity__AwN_c
  .ProductDetail_quantity__DB81Q
  input {
  width: 4rem !important;
}

.ProductDetail_productDetailSection__tMRgt
  .ProductDetail_rightSection__hN3xB
  .ProductDetail_boxInfo__fG4zO
  .ProductDetail_infoProduct__AnB9E
  .ProductDetail_btnContainer__omYs4
  button {
  height: 4.4rem !important;
  width: 17.6rem !important;
  border-radius: 5.4rem !important;
  padding: 1rem 2rem !important;
  > div {
    position: relative;
    .spinner {
      transform: translate(-50%, -50%);
    }
  }
}

.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  padding-right: 1.8rem;
  line-height: 3rem;
}

.ant-select {
  font-size: 1.4rem;
}

.ant-select-arrow {
  right: 1.1rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.ProductDetail_mainSection__0KNRD .ProductDetail_tabTile__lN0tx ul li {
  margin-bottom: 5rem !important;
  margin-top: 0.6rem !important;
  font-size: 1.8rem !important;
  @include large {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem !important;
  }
}

.ProductDetail_mainSection__0KNRD {
  margin-top: 10rem !important;
  @include large {
    margin-top: 4rem !important;
  }
  @include tablet {
    flex-direction: column;
    .ProductDetail_mainContent__fE_lh {
      width: 100% !important;
    }
    .ProductDetail_tabTile__lN0tx {
      width: 100% !important;
      > ul {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        li {
          flex-shrink: 0;
        }
      }
    }
  }
}

.ProductDetail_mainSection__0KNRD .ProductDetail_mainContent__fE_lh {
  padding-left: 4rem !important;
  padding-right: 5rem !important;
  @include large {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.ProductDetail_mainSection__0KNRD
  .ProductDetail_mainContent__fE_lh
  .ProductDetail_detailItemContainer___qnMY
  h3 {
  font-size: 2.4rem !important;
}

.ProductDetail_mainSection__0KNRD
  .ProductDetail_mainContent__fE_lh
  .ProductDetail_detailItemContainer___qnMY
  .ProductDetail_flexItem__A_5WK {
  margin-top: 2.1rem !important;
  flex-wrap: wrap;
  gap: 1rem;
}

.ProductDetail_mainSection__0KNRD
  .ProductDetail_mainContent__fE_lh
  .ProductDetail_detailItemContainer___qnMY
  .ProductDetail_flexItem__A_5WK
  .ProductDetail_itemDetail__wKFw5
  .ProductDetail_item__iwhx3 {
  padding-bottom: 1.6rem !important;
  gap: 0.4rem !important;
}

.ProductDetail_mainSection__0KNRD .ProductDetail_tabTile__lN0tx {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  @media screen and (max-width: 1024px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.ProductDetail_mainSection__0KNRD
  .ProductDetail_mainContent__fE_lh
  .ProductDetail_detailItemContainer___qnMY
  .ProductDetail_flexItem__A_5WK
  .ProductDetail_imageDetail__6bSBm {
  gap: 1.2rem !important;
  flex-wrap: wrap;
  img {
    width: 14.3rem !important;
    height: 14.3rem !important;
  }
}

.ProductDetail_promotionTitle__tIBxo img {
  width: 12.9rem;
}

.ProductDetail_promotionTitle__tIBxo h2 {
  font-size: 4rem !important;
  @media screen and (min-width: 1280px) {
    font-size: 6.4rem !important;
  }
}

.Login_loginContainer__RF5w_ {
  @media screen and (min-width: 1024px) {
    height: 75rem !important;
  }
  @media screen and (min-width: 1280px) {
    height: 85rem !important;
  }
  @media screen and (min-width: 1480px) {
    height: 85rem !important;
  }
}

.Login_subtract__6ZpYD {
  height: 95rem !important;
  @media screen and (min-width: 1024px) {
    width: 95rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 76rem !important;
  }
}

.Login_car__S9O85 {
  @media screen and (min-width: 1024px) {
    width: 54rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 64rem !important;
  }
}

.Login_logo__Ftcau {
  width: 13.6rem !important;
  height: 5.2rem !important;
}

.Login_verticalLogo__liuI9 {
  width: 6rem !important;
}

.Login_stripes__k2CRe {
  width: 5.6rem !important;
}

.Login_loginPageTab__syqsg {
  width: 32.4rem !important;
  border-radius: 4rem !important;
  @media screen and (min-width: 768px) {
    width: 38.4rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 48.4rem;
  }
}

.Login_loginForm__z63qy {
  .form-login {
    width: 32.4rem;
    @media screen and (min-width: 768px) {
      width: 38.4rem;
    }
    @media screen and (min-width: 1024px) {
      width: 32rem;
    }
    @media screen and (min-width: 1280px) {
      width: 48.4rem;
    }
    input[type='password'] ~ div img {
      width: 1.6rem;
    }
  }
}

.Login_formLabel__ivHpa {
  font-size: 1.4rem !important;
}

.Login_loginInput__UbfyO {
  padding: 0.8rem !important;
  font-size: 1.4rem !important;
  &::-webkit-input-placeholder {
    font-size: 1.4rem !important;
  }
  &::-moz-input-placeholder {
    font-size: 1.4rem !important;
  }
}

.Login_loginPageTab__syqsg {
  width: 32.4rem !important;
  border-radius: 4rem !important;
  @media screen and (min-width: 768px) {
    width: 30.4rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 48.4rem !important;
  }
}

.Login_loginTab__oeOwP {
  line-height: 2.4rem !important;
  padding: 0.7rem 2rem 1rem 2rem !important;
  width: 16rem !important;
  height: 4rem !important;
  border-radius: 4rem !important;
  font-size: 1.6rem !important;
  border-width: 0.1rem !important;
  @media screen and (min-width: 768px) {
    width: 20rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 23.7rem !important;
  }
}

.ant-space-item .icon-user img {
  width: 1.6rem;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_leftSectionTitle__sa5lj
  div
  span {
  --tw-translate-y: 80% !important;
  min-width: 2.9rem !important;
  height: 2.9rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1rem !important;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_leftSectionTitle__sa5lj
  div
  h1 {
  font-size: 3.2rem !important;
  @media screen and (min-width: 1280px) {
    font-size: 4.8rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_leftSectionTitle__sa5lj
  button {
  height: 4.4rem !important;
  width: 21rem !important;
  border-radius: 5.4rem !important;
  padding: 1rem 2rem !important;
  div {
    gap: 0.5rem !important;
    img {
      width: 1.4rem !important;
      height: 1.4rem !important;
    }
    p {
      font-size: 1.6rem !important;
    }
  }
}

.ShoppingCart_cartDetail__k72Gr,
.CartStepper_cartStepperContainer__Q7JXI {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  @media screen and (min-width: $large) {
    margin-top: 10rem !important;
    max-width: 123rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1 {
  // margin-top: 4rem !important;
  padding-top: 4rem !important;
  width: 100%;
  // @media screen and (max-width: 480px) {
  //     width: 90% !important;
  // }
  // @media screen and (min-width: 640px) {
  //     width: 37.6rem !important;
  // }
  // @media screen and (min-width: 1024px) {
  //     padding-top: 0 !important;
  // }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  h3 {
  font-size: 2.4rem !important;
  // margin-bottom: 3rem !important;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  .ShoppingCart_summaryInfo__jiVpL {
  margin-bottom: 2rem !important;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  .ShoppingCart_summaryInfo__jiVpL
  p:first-child {
  font-size: 1.6rem !important;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  .ShoppingCart_voucher__hpHY1 {
  margin-bottom: 3rem !important;
  height: 4rem !important;
  border-radius: 5.4rem !important;
  input {
    border-radius: 5.4rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  button {
    height: 4rem !important;
    width: 10.6rem !important;
    padding: 0.8rem 2rem !important;
    font-size: 1.4rem !important;
    border-radius: 5.4rem !important;
    @media screen and (min-width: 640px) {
      font-size: 1.6rem !important;
    }
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  .ShoppingCart_summaryInfo__jiVpL.ShoppingCart_total__eyfzn
  p {
  font-size: 2rem !important;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_rightSection__Zfque
  .ShoppingCart_summaryContainer__vikr1
  .ShoppingCart_orderButton__uDHX2 {
  width: 18.4rem !important;
  height: 4.4rem !important;
  border-radius: 5.4rem !important;
  padding: 1rem 2rem !important;
  img {
    width: 1.6rem;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartInfoHead__McNla:first-child {
  height: 6rem !important;
  @media screen and (min-width: 1280px) {
    font-size: 2rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartItem__7kws5
  .ShoppingCart_product__EKpdn {
  gap: 2rem;
  @media screen and (max-width: 480px) {
    gap: 0;
  }
  > img {
    width: 9rem !important;
    height: 9rem !important;
    border-radius: 1.2rem !important;
  }
  @media screen and (max-width: 500px) {
    margin-left: 0.5rem;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartItem__7kws5
  .ShoppingCart_product__EKpdn
  .ShoppingCart_itemInfo__HiWix
  .ShoppingCart_itemTitle__Onrbl {
  font-size: 1.8rem !important;
  @media screen and (min-width: 640px) {
    font-size: 1.8rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartInfoHead__McNla {
  height: 15rem !important;
  justify-content: space-between;
  @media screen and (max-width: 640px) {
    height: 12rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartItem__7kws5
  .ShoppingCart_product__EKpdn
  .ShoppingCart_itemInfo__HiWix
  .ShoppingCart_itemCode__29kra {
  font-size: 1.4rem !important;
  margin-top: 1.7rem !important;
  @media screen and (max-width: 700px) {
    margin-top: 0.6rem !important;
  }
  @media screen and (min-width: 640px) {
    font-size: 1.4rem !important;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartItem__7kws5
  .ShoppingCart_itemQuantity__uH4rK {
  height: 3.3rem !important;
  width: 10.5rem !important;
  border-radius: 4.6rem !important;
  justify-content: space-between;
  .w-\[20px\] {
    width: 2rem;
    height: 2rem;
  }
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartInfoHead__McNla
  div:nth-child(4) {
  width: 25%;
}

.ShoppingCart_cartDetail__k72Gr
  .ShoppingCart_leftSection__2bMo4
  .ShoppingCart_cartInfo__foeKr
  .ShoppingCart_cartItem__7kws5
  .ShoppingCart_itemPrice__G9E0v {
  font-size: 1.6rem !important;
  @media screen and (max-width: 480px) {
    font-size: 1.3rem !important;
  }
  @media screen and (min-width: 1280px) {
    font-size: 2rem !important;
  }
}

.CartStepper_cartStepperContainer__Q7JXI
  .CartStepper_cartStepper__OudVR
  .CartStepper_step__27qp5
  > {
  img {
    width: 25rem;
  }
}

.CartStepper_cartStepperContainer__Q7JXI
  .CartStepper_cartStepper__OudVR
  .CartStepper_step__27qp5
  .CartStepper_stepInfo__Uueu5 {
  img {
    width: 2rem !important;
    height: 2rem !important;
    @media screen and (max-width: 375px) {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
    @media screen and (min-width: 640px) {
      width: 2.5rem !important;
      height: 2.5rem !important;
    }
  }
  p {
    font-size: 1.6rem !important;
  }
}

.BillOfLading_billFormSearch__UCcpX {
  padding: 3rem 2.5rem !important;
  button {
    margin-top: 4.2rem !important;
    height: 4.4rem !important;
    width: 13rem !important;
    padding: 1rem 2rem !important;
    img {
      width: 1.8rem;
    }
    @media screen and (max-width: 1023px) {
      width: 100% !important;
      justify-content: center;
    }
  }
}

.BillOfLading_tabTitle__gI8T7 {
  img {
    width: 12.9rem;
  }
  h2 {
    font-size: 4rem !important;
    @media screen and (min-width: 1280px) {
      font-size: 6.4rem !important;
    }
  }
}

.DiaryDetail_diaryDetail__JCahL {
  width: 100% !important;
  max-width: 123rem !important;
  height: 100% !important;
  margin: 1.2rem auto 0 !important;
  padding: 0rem 1.5rem !important;
  @include max-media(1200px) {
    padding: 0 4rem !important;
  }
  @include max-media(768px) {
    padding: 0 2rem !important;
  }
}

.DiaryDetail_diaryDetail__JCahL .DiaryDetail_leftSection__15JbD span {
  border-radius: 3.5rem !important;
  font-size: 1.6rem !important;
}

.DiaryDetail_diaryDetail__JCahL .DiaryDetail_leftSection__15JbD h1 {
  font-size: 2.4rem !important;
  @media screen and (min-width: 1024px) {
    font-size: 3.2rem !important;
  }
  @media screen and (min-width: 1280px) {
    font-size: 4rem !important;
  }
}

.DiaryDetail_diaryDetail__JCahL
  .DiaryDetail_leftSection__15JbD
  .DiaryDetail_intro__cgAB7
  .DiaryDetail_description__PY4y3 {
  p {
    font-size: 1.6rem !important;
  }
  img {
    width: 1.6rem !important;
  }
}

.DiaryDetail_diaryDetail__JCahL
  .DiaryDetail_leftSection__15JbD
  .DiaryDetail_intro__cgAB7
  .DiaryDetail_socialIcon__9vkj5 {
  img {
    width: 2.4rem;
  }
}

.DiaryDetail_diaryDetail__JCahL .DiaryDetail_leftSection__15JbD .DiaryDetail_diaryContent__J8mcH p {
  font-size: 1.6rem !important;
}

.DiaryDetail_diaryDetailContainer__BQ_U2 {
  padding-bottom: 10.5rem;
}

.DiaryDetail_diaryDetail__JCahL
  .DiaryDetail_rightSection__2yWsJ
  .DiaryDetail_categories__xHDEr
  ul
  li
  a
  .DiaryDetail_arrow___RMU3 {
  width: 1.6rem;
}

.DiaryDetail_diaryDetail__JCahL
  .DiaryDetail_rightSection__2yWsJ
  .DiaryDetail_relatedDiary__GMgqd
  h3,
.DiaryDetail_diaryDetail__JCahL .DiaryDetail_rightSection__2yWsJ .DiaryDetail_categories__xHDEr h3 {
  @media screen and (min-width: 1024px) {
    font-size: 2.4rem !important;
  }
}

.main-content-policy {
  p {
    text-align: justify;
    margin: 1rem 0;
  }
}
