.wrap-menu-small {
	display: none;
	@include tablet {
		display: block;
	}
	.menu-bar {
		@apply h-full fixed top-0 left-0 flex z-[101];
		overflow: hidden;
		transition: 0.2s width;

		.right-menu {
			@apply fixed top-0 left-0 w-full h-full hidden z-0 bg-[rgba(0,0,0,0.137)];
			&.active {
				display: block;
			}
		}

		@include max-media(1000px) {
			width: 0;
			&.mobile {
				width: 330px;
			}
		}

		.menu-parent {
			@apply relative w-[70px] h-full z-10;
			background: $primary-color;

			.menu-parent-logo {
				@apply w-full h-[65px] flex items-center justify-center;
			}

			.logo-img {
				width: 40px;
			}

			.menu-parent-body {
				@apply pt-[15px] pl-[6px];

				.bg-white {
					background-color: #fff !important;
				}

				.list-menu {
					list-style-type: none;

					li {
						transition: 0.3s;
						position: relative;

						// background: red;

						// width: 50%;

						b:nth-child(1) {
							@apply w-[80%] bg-[#f8f7f7] block absolute right-0 top-[calc(-1rem-1px)];
							height: calc(1rem + 2px);
							transition: 0.3s;

							&::before {
								@apply absolute top-[-2px] right-0 w-[calc(100%+1px)] h-[calc(100%+1px)];
								content: '';
								background-color: $primary-color;
								border-bottom-right-radius: 2rem;
								transition: 0.3s;
							}
							&.open {
								background-color: #fff;
							}
						}

						b:nth-child(2) {
							@apply w-[80%] absolute right-0 bottom-[calc(-1rem-1px)] h-[calc(1rem+2px)] block bg-[#f8f7f7];
							transition: 0.3s;

							&::before {
								@apply absolute bottom-[-2px] right-0 w-[calc(100%+1px)] h-[calc(100%+1px)];
								content: '';
								background-color: $primary-color;
								border-top-right-radius: 2rem;
								transition: 0.3s;
							}
							&.open {
								background-color: #fff;
							}
						}

						&.active {
							a {
								color: $primary-color;
								background: #fff;
							}
						}

						a {
							@apply cursor-pointer text-[#fff] block relative;
							padding: 14px 0 14px 16px;
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
						}

						svg {
							width: 22px;
							pointer-events: none;
						}

						&.open-menu {
							b:nth-child(1) {
								background-color: #fff;
							}
							b:nth-child(2) {
								background-color: #fff;
							}
							&.active {
								a {
									background: #fff;
								}
							}
						}

						&:hover {
							b:nth-child(1) {
								background-color: #fff;
							}
							b:nth-child(2) {
								background-color: #fff;
							}
							&.active {
								a {
									background: #fff;
								}
							}
						}
					}
				}
			}
		}

		.menu-child-bg {
			@apply fixed w-full h-full top-0 left-0 hidden;
			background: transparent;
			z-index: 8;

			&.close-app {
				display: none;
			}
			&.open {
				display: block;
			}
		}

		.main-menu-mark {
			@apply bg-[#1b73e8] w-[14px] h-[14px] absolute top-[-4px] left-[-4px];
		}

		.menu-child {
			transition: 0.3s width;
			box-shadow: 10px 9px 15px #0000000d;
			z-index: 9;
			.logo-img {
				margin: 0 auto;
				padding: 16px;
				padding-bottom: 0;
			}
			@apply w-[240px] bg-[#fff] fixed  top-[65px] h-[calc(100vh-65px)];

			@include max-media(1000px) {
				@apply h-[100vh] absolute top-0;
			}

			.anticon {
				img {
					opacity: 0.6;
					width: 16px;
				}
			}

			&.close-app {
				width: 0;
				box-shadow: none;

				&.hover-open {
					.menu-child-body {
						@apply w-[240px] block;
					}
				}

				.menu-child-body {
					border-top-right-radius: 1rem;
					border-bottom-right-radius: 1rem;
					box-shadow: 10px 0px 15px #0000000d;
					height: auto !important;
					@apply fixed w-0 bg-[#fff] hidden;
					@include max-media(1000px) {
						padding-top: 65px;
					}
					ul {
						border-bottom-right-radius: 1rem;
					}
				}

				.ant-menu-inline {
					&.scroll {
						overflow: auto;
						overflow-x: hidden;
						height: 400px;
						&::-webkit-scrollbar-track {
							border-radius: 10px;
							background-color: white;
						}
						&::-webkit-scrollbar {
							border: none;
							width: 4px;
							background-color: #f5f5f5;
						}
						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							background-color: #e7e7e7;
						}
					}
				}
			}

			&.open {
				width: 250px;
				animation: ShowMenuChild 0.5s forwards;
				@keyframes ShowMenuChild {
					0% {
						left: -100%;
					}
					100% {
						left: 80px;
					}
				}
			}

			&.isHover {
				width: 0;
				box-shadow: none;
			}

			.ant-menu-inline {
				border-right: none;
			}

			.app-header-logo {
				@apply w-full h-[65px] hidden items-center;
				padding: 0 25px;
				padding-right: 0;
				border-bottom: 1px solid #ebeef6;
				transition: 0.2s width;
				@include max-media(1000px) {
					display: flex;
				}
				p {
					margin: 0;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 20px;
					color: $primary-color;
					white-space: pre;
				}
			}
		}

		&.close-app {
			.ant-menu-item-group-title {
				display: none !important;
			}
		}

		.menu-child-body {
			padding: 0 16px;
			overflow-y: auto;
			overflow-x: hidden;
			height: 100% !important;
			@apply py-[16px];
			.ant-menu {
				background: transparent !important;
				border: 0;
			}
			&.change-height {
				padding-right: 5px;
				padding-bottom: 15px;

				& > ul.ant-menu {
					height: 75vh;
					overflow-y: scroll;
					overflow-x: hidden;
					&::-webkit-scrollbar-track {
						border-radius: 10px;
						background-color: white;
					}
					&::-webkit-scrollbar {
						border: none;
						width: 4px;
						background-color: #f5f5f5;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 10px;
						background-color: #e7e7e7;
					}
				}
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: white;
			}
			&::-webkit-scrollbar {
				border: none;
				width: 4px;
				background-color: #f5f5f5;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: #e7e7e7;
			}
		}

		@media (max-width: 767px) {
			.menu-child-body {
				@apply pb-[70px];
			}
		}

		.ant-menu {
			@apply text-[#000] h-auto w-full;
			.ant-menu-inline {
				background: transparent;
			}
			.ant-menu-submenu {
				color: #504f56;
				.ant-menu-submenu-title {
					border-radius: 6px;
					padding: 8px !important;

					.ant-menu-submenu-arrow {
						color: $primary-color !important;
					}
					&:active {
						background-color: #e5e5e5 !important;
					}
					&:hover {
						background: #f0f0f0;
						color: $primary-color;
						svg,
						.ant-menu-submenu-arrow {
							color: $primary-color;
						}
					}
				}
			}
			.ant-menu-item-group-list {
				width: 100%;
				padding: 0 8px;
				padding-left: 6px;
			}
			.ant-menu-submenu-title {
				@apply flex items-center;
			}
			.ant-menu-item-group {
				@apply w-full mb-[15px];

				.ant-menu-submenu-arrow {
					color: rgb(84 84 84 / 85%);
				}

				svg {
					transition: 0.3s;
					@apply text-[16px] text-[#717171] w-[16px];
				}

				.ant-menu-item-group-title {
					@apply w-full text-[16px] uppercase font-bold pl-[14px] text-[#000000];
				}
			}

			li.ant-menu-submenu {
				font-weight: 500;
				svg {
					transition: 0.3s;
					@apply text-[16px] text-[#333333] w-[16px];
				}
			}

			li.ant-menu-item {
				transition: 0.3s;
				padding: 0 16px;

				@apply flex items-center text-[#504f56] rounded-[6px] ml-0 font-[500];

				a {
					text-decoration: none;
					@apply font-[400] text-[14px] text-[#333333];

					&:hover {
						text-decoration: none;
						color: $primary-color;
					}
				}

				svg {
					font-size: 17px;
					color: #333333;
					transition: 0.3s;
				}

				&.ant-menu-item-active {
					background: #f0f0f0;
				}
				&:active {
					background-color: #e5e5e5 !important;
				}

				&.ant-menu-item-selected {
					color: $primary-color;
					background: #1b73e817;

					&:after {
						border-right: 0px solid $primary-color;
						display: none;
						transition: 0s;
					}
					span {
						color: $primary-color;
					}
					svg {
						color: $primary-color !important;
						transition: 0.3s;
					}
					a {
						color: $primary-color !important;
					}
				}

				&:hover {
					color: $primary-color;
					transition: 0.3s;
					span {
						color: $primary-color;
						transition: 0.3s;
					}
					svg {
						color: $primary-color;
						transition: 0.3s;
					}
				}

				span {
					transition: 0.3s;
					vertical-align: middle;
				}
			}
		}
	}
}
.ant-menu-item {
	border-radius: 20px !important;
}
.ant-menu-item-selected {
	color: $orange;
	border-radius: 20px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: #f7f4e9;
	border-radius: 20px;
	box-shadow: 0px 95px 38px rgba(0, 0, 0, 0.01), 0px 54px 32px rgba(0, 0, 0, 0.05), 0px 24px 24px rgba(0, 0, 0, 0.09),
		0px 6px 13px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.ant-menu-submenu-popup > .ant-menu {
	@include min-media(800px) {
		border-radius: 1rem;
	}
}

.menu-child-body-element {
	&.scroll {
		overflow: auto;
		height: 400px;
		overflow-x: hidden;
	}
}

.styles-module_show__2NboJ {
	z-index: 999999999999 !important;
}
