.primary-input {
	height: 36px;
	border-radius: 6px !important;
	box-shadow: none !important;
	border: 1px solid #d9d9d9;
	&:hover {
		outline: 0px;
		box-shadow: none;
		border: 1px solid #b9b9b9 !important;
	}
	&:focus {
		outline: 0px;
		box-shadow: none;
		border: 1px solid #9e9e9e;
	}
	.ant-select-selector {
		outline: 0px;
		box-shadow: none;
		border: 0px solid #9e9e9e !important;
	}
}

.ant-form-item-has-error {
	.is-error {
		border-color: #ff4d4f !important;
	}
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	height: 100%;
	max-height: 36px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1px;
	.ant-select-selection-item {
		height: 36px;
		display: flex;
		align-items: center;
	}
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
	outline: 0px;
	box-shadow: none;
	border: 1px solid #9e9e9e;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
	background-color: #f1f1f1;
}

.ant-select-status-error {
	border-color: #ff4d4f;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
	color: #fff;
	background: $primary-color;
	border-radius: 4px;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
	border: 1px solid $primary-color;
	border-radius: 4px;
}

.ant-form-vertical {
	.ant-form-item-label {
		width: 100%;
	}
}

.tox-statusbar {
	display: none !important;
}

.custom-view-editor {
	img {
		display: inline-block;
	}
	li {
		list-style-type: disc;
	}
}

.notification-card {
	.ant-card-head {
		min-height: 0px;
		height: 36px;
		padding: 0 0px;
	}
	.ant-card-head-title {
		padding: 0px;
	}
	.ant-card-extra {
		padding: 0px;
	}
	.ant-card-body {
		padding: 0 0px;
		padding-top: 10px;
	}
}

.ant-picker-range {
	.ant-picker-input {
		input {
			padding: 8px 0px !important;
		}
	}
}

$granola: #b1b1b1;
$strawberry: #01b446;

.gauge {
	circle {
		stroke-width: 9;
	}

	.rail {
		fill: transparent;
		stroke: $granola;
	}

	.progress {
		fill: transparent;
		stroke-linecap: round;
	}

	.green {
		stroke: $strawberry;
	}

	.yellow {
		stroke: rgb(236, 213, 0);
	}

	.orange {
		stroke: rgb(244, 114, 45);
	}

	.red {
		stroke: rgb(240, 52, 52);
	}
}

.center {
	display: inline-block;
	position: absolute;
	top: 28px;
	right: 22px;
}

.card-none-bottom {
	.ant-card-body {
		padding-bottom: 0px;
	}
}

.mini-table {
	.ant-table-body {
		max-height: calc(100vh - 550px) !important;
	}
}

.flex-all-center {
	@apply flex items-center justify-center;
}

.image-table {
	@apply w-[60px] h-[60px] rounded-lg;
	img {
		@apply w-full h-full object-contain rounded-lg;
	}
}
