.menu-bar-small {
    .menu {
        align-items: center;
        justify-content: center;
        height: 100%;
        >ul {
            height: inherit;
            margin: 0;
            align-items: center;
            >li {
                padding: 0.5rem 1.5rem;
                position: relative;
                line-height: 10rem;
                height: 100%;
                align-items: center;
                border-bottom: 1px solid #e5e5e5;
                &:first-child {
                    &:hover {
                        .sub-menu {
                            margin-top: 0;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                >a {
                    display: flex;
                    color: #382e2e;
                    position: relative;
                    padding: 0.6rem 0;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translateY(100%);
                        width: 0;
                        height: 1px;
                        background-color: transparent;
                        transition: 0.5s;
                    }
                    >span {
                        text-align: center;
                        font-family: "Roboto";
                        font-size: 2rem;
                        line-height: 150%;
                    }
                    &:hover {
                        color: $green !important;
                        transition: 0.3s;
                        &::before {
                            width: 100%;
                            // background-color: $green;
                        }
                    }
                }
            }
            .active-menu {
                transition: 0.3s;
                .sub-menu {
                    white-space: nowrap;
                    transition: all, 0.3s;
                    text-transform: none;
                    .inner-sub {
                        .item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 1rem 0;
                            width: 100%;
                            cursor: pointer;
                            // &::before {
                            //   content: "";
                            //   bottom: 0;
                            //   left: 0;
                            //   width: 0;
                            //   height: 1px;
                            //   background-color: transparent;
                            //   transition: 0.5s;
                            // }
                            // &:hover {
                            //   &::before {
                            //     width: 100%;
                            //     background-color: $red;
                            //   }
                            //   .icons {
                            //     .name {
                            //       color: $red;
                            //     }
                            //   }
                            // }
                            &:last-child {
                                border: 0;
                            }
                            // &.active {
                            //   .icons {
                            //     .name {
                            //       color: $red;
                            //     }
                            //   }
                            // }
                            .icons {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                // .icon {
                                // }
                                .name {
                                    color: #2c0709;
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                    line-height: 150%;
                                    /* 24px */
                                }
                            }
                        }
                    }
                }
            }
            .un-active {
                display: none;
                transition: 0.3s;
            }
        }
        .menuActive {
            color: $green !important;
            transition: 0.3s;
            position: relative;
            .img {
                position: absolute;
                top: -0.6rem;
                width: 1.6rem;
                height: 1.6rem;
                margin: auto;
                left: 50%;
                transform: translateX(-50%);
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
            >span {
                font-weight: 700;
            }
        }
    }
}