.ant-table .ant-table-container::before,
.ant-table .ant-table-container::after {
  display: none !important;
}

.size-pd-16 {
  .ant-card-body {
    padding: 16px;
  }
}

.ant-table-cell-fix-right {
  transition: 0 !important;
}

.custom-footer-table {
  padding: 6px 15px;
  color: #fff;
  background: #b43f43;
  font-weight: 600;
  margin-right: 1rem;
  border-radius: 6px;
}

.wrap-table {
  .ant-table-cell-row-hover {
    background-color: unset !important;
  }
  .ant-table-body {
    .ant-table-row {
      &.active {
        background-color: #ffed95 !important;
        &:hover {
          background-color: #ffed95 !important;
        }
        .ant-table-cell-fix-right {
          background-color: #ffed95 !important;
        }
      }
    }
  }
  .ant-table-pagination.ant-pagination {
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .table-row-active {
    background-color: #ffed95 !important;
    .ant-table-cell-fix-right {
      background-color: #ffed95 !important;
    }
  }
  .expanded__row-title {
    @apply font-semibold;
  }
  .row-light,
  .table-row-light {
    background-color: #ffffff;
  }
  .row-dark,
  .table-row-dark {
    background-color: #f0f0f0;
    .ant-table-cell-fix-left {
      background-color: #f0f0f0 !important;
    }
    .ant-table-cell-fix-right {
      background-color: #f0f0f0 !important;
    }
  }
  .active {
    .ant-table-cell-fix-left {
      background-color: #dedede !important;
    }
    .ant-table-cell-fix-right {
      transition-duration: 0;
      background-color: #dedede !important;
    }
  }

  .ant-table-cell-scrollbar {
    box-shadow: none;
  }

  .active-column-search {
    font-weight: 500;
    color: $primary-color;
    > *:not(.ant-table-filter-column) {
      font-weight: 500;
      color: $primary-color !important;
    }
  }
  .ant-table-wrapper {
    tr.ant-table-expanded-row > td,
    tr.ant-table-expanded-row:hover > td {
      background: #fff9ef;
    }
  }
  .ant-table-expanded-row {
    .wrap-table {
      padding: 10px;
    }
    .ant-table {
      margin: 0 !important;
    }
    .ant-table-expanded-row-fixed {
      width: 100% !important;
    }
  }
  .ant-pagination {
    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      border-radius: 4px !important;
      border-color: $primary-color;

      &.ant-pagination-item-active a {
        color: $primary-color;
      }

      a,
      button {
        border-radius: 4px !important;
      }
    }
    .ant-pagination-item-link {
      &:hover {
        color: $primary-color;
      }
    }
  }

  .ant-table-filter-column {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-end !important;

    .ant-table-filter-column-title {
      padding: 12px 0.3em 12px 8px !important;
      display: inline-block;
      vertical-align: middle;
      flex: 0;
    }
    .ant-table-column-title {
      flex: 1 1;
    }
    .ant-table-filter-trigger {
      margin-right: 0px;
      width: 24px !important;
      height: 24px !important;
      background: transparent !important;
      border-radius: 4px !important;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-table-filter-trigger:hover {
      background: rgba(255, 255, 255, 0.7) !important;
    }
    .ant-dropdown-open {
      background: rgba(255, 255, 255, 0.7) !important;
      color: black;
    }
  }

  .table-medium {
    width: 75%;
    @include max-media(800px) {
      width: 100%;
    }
  }

  .table-small {
    width: 72%;
    @include max-media(800px) {
      width: 100%;
    }
  }

  .table-super-small {
    width: 50%;
    @include max-media(800px) {
      width: 100%;
    }
  }

  .ant-table-empty .ant-table-content {
    overflow: hidden !important;
  }
  .ant-table-scroll-horizontal .ant-table-content {
    &::-webkit-scrollbar-track {
      background-color: white;
    }

    &::-webkit-scrollbar {
      height: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b1b1b1;
    }
  }

  .ant-table-container {
    box-shadow: 0px 5px 20px #00000017;
    border-radius: 0.575rem !important;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.2em;
    width: 1px;
    background: #fff !important;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    content: "";
  }

  .ant-table-thead {
    tr {
      th {
        padding: 6px 16px !important;
        padding-left: 15px !important;
        background: $primary-color;
        color: white;
        border-bottom: none;
        white-space: nowrap;
      }
    }
    tr:first-child {
      th {
        &:nth-child(1) {
          border-top-left-radius: 8px !important;
          border-right: 0px solid #1a1a1a !important;
        }
        &:last-child {
          border-top-right-radius: 8px !important;
          border-right: 0px solid #1a1a1a !important;
        }
      }
    }
    th.ant-table-column-has-sorters {
      &:hover {
        background: $primary-color;
      }
    }
  }

  &.have-checkbox {
    .ant-table-selection-column {
      display: block;
    }

    .ant-table-thead {
      tr:first-child {
        th {
          &:nth-child(1) {
            border-top-left-radius: 8px !important;
          }
          &:nth-child(2) {
            border-top-left-radius: 0 !important;
          }

          &:last-child {
            border-top-right-radius: 8px !important;
          }
        }
      }
    }
  }

  .ant-table-tbody {
    padding: 10px !important;
    td {
      padding: 5px 15px;
      transition: 0.3s;

      p {
        margin: 0;
      }
      .content-notification {
        @include line-clamp(1);
      }
    }

    tr.ant-table-row {
      td:before {
        display: block;
        width: 1px;
        background: #cccccc;
        position: absolute;
        right: 0px;
        top: 10px;
        bottom: 10px;
        content: "";
      }
    }

    .ant-table-cell {
      transition: background 0s !important;

      &:last-child:before {
        width: 0px;
      }

      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }

    tr.row-light:hover {
      td {
        background: #dedede !important;
      }
    }

    tr.table-row-light:hover {
      td {
        background: #dedede !important;
      }
    }

    tr.table-row-dark:hover {
      td {
        background: #dedede !important;
      }
    }

    tr.row-dark:hover {
      td {
        background: #dedede !important;
      }
    }

    tr.ant-table-row:focus {
      td {
        background: #dedede !important;
        transition: 0.3s;
      }
    }

    .ant-table-row-selected {
      td {
        background: #dedede;
      }
    }
    .ant-table-row-success {
      background-color: #ffffff;
    }
    .ant-table-row-fail {
      background-color: #fbfbfb;
    }

    tr.ant-table-measure-row {
      td {
        padding: 0 !important;
      }
    }
  }
}

.ant-pagination {
  display: flex;
  align-items: center;

  .ant-pagination-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    border-radius: 4px !important;
    border-color: $primary-color;
    margin-top: 1px;
    &.ant-pagination-item-active {
      margin-top: 1px;
    }

    &.ant-pagination-item-active a {
      color: $primary-color;
    }

    a,
    button {
      border-radius: 4px !important;
    }
  }
  .ant-pagination-item-link {
    &:hover {
      color: $primary-color;
    }
  }
}

// NESTED TABLE
.nested-table {
  margin-top: 20px;
  .ant-table-expanded-row-fixed::after {
    display: none;
  }
  .active-column-search {
    font-weight: 500;
    color: rgb(61, 61, 61);
    > *:not(.ant-table-filter-column) {
      font-weight: 500;
      color: rgb(61, 61, 61) !important;
    }
  }
  .ant-table-wrapper {
    tr.ant-table-expanded-row > td,
    tr.ant-table-expanded-row:hover > td {
      background: #fff9ef;
    }
  }
  .ant-table-thead {
    tr {
      th {
        padding: 6px 16px !important;
        padding-left: 15px !important;
        background: #cbcbcb;
        color: #424242;
        border-bottom: none;
        white-space: nowrap;
        // background: #eee;
        // color: #3e3e3e;
      }
    }
  }
}
.table {
  margin-bottom: 0;
}
.table-drop tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}
.table-drop tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}
.video-table .wrap-table .table-row-dark {
  background-color: rgb(165 165 165 / 12%);
}
.video-table {
  .wrap-table {
    .ant-table-container {
      box-shadow: 0px 5px 20px #00000017;
      border-radius: 0.575rem !important;
    }
    .ant-table-thead {
      tr {
        th {
          padding: 9px 16px !important;
          padding-left: 15px !important;
          background: #d2d6df;
          color: rgb(0, 0, 0);
          border-bottom: none;
          white-space: nowrap;
        }
      }
      tr:first-child {
        th {
          &:nth-child(1) {
            border-top-left-radius: 8px !important;
          }
          &:last-child {
            border-top-right-radius: 8px !important;
          }
        }
      }
    }
    &.have-checkbox {
      .ant-table-selection-column {
        display: block;
      }
      .ant-table-thead {
        tr:first-child {
          th {
            &:nth-child(1) {
              border-top-left-radius: 8px !important;
            }
            &:nth-child(2) {
              border-top-left-radius: 0 !important;
            }
            &:last-child {
              border-top-right-radius: 8px !important;
            }
          }
        }
      }
    }
    .ant-table-tbody {
      td {
        padding: 6px 15px !important;
        padding-left: 15px !important;
        transition: 0.3s;
        p {
          margin: 0;
        }
        .content-notification {
          @include line-clamp(1);
        }
      }
      tr.ant-table-row:hover {
        td {
          background: #c3c3c3 !important;
          transition: 0.3s;
        }
      }
      tr.ant-table-row:focus {
        td {
          background: #c3c3c3 !important;
          transition: 0.3s;
        }
      }
      .ant-table-row-selected {
        td {
          background: #c3c3c3;
        }
      }
      .ant-table-row-success {
        background-color: #ffffff;
      }
      .ant-table-row-fail {
        background-color: #fbfbfb;
      }
      tr.ant-table-measure-row {
        td {
          padding: 0 !important;
        }
      }
    }
    &.table-expand {
      .ant-table-thead {
        tr:first-child {
          th {
            &:nth-child(1) {
              border-top-left-radius: 8px !important;
            }
            &:last-child {
              border-top-right-radius: 8px !important;
            }
          }
        }
      }
    }
  }
}

.ant-table.ant-table-middle .ant-table-tbody > tr > td {
  padding: 8px 15px;
}
