.breadcrumbContainer {
    @apply bg-[#F5F5F5] top-0;
}

.breadcrumbHead {
    @apply xl:max-w-[1230px] sm:w-[80%] lg:w-[85%] h-full m-auto px-[15px] flex;
    .iconHead {
        @apply absolute left-0 -translate-x-3 hidden sm:flex;
        img:last-child {
            @apply -translate-x-3
        }
    }

    .breadcrumb {
        @apply  py-[10px];
    }
}
