.TypeCarContainer {
  @apply w-[100%] pb-[7rem];
}

@media (max-width: 1400px) {
  .TypeCarContainer {
    @apply -translate-y-12;
  }
}

.titleSection {
  @apply relative mb-[150px];
}

.breadcrumb {
  @apply absolute flex w-full top-[30%] sm:top-[15%] lg:top-[10%] xl:top-[5%] justify-center gap-3 text-[#FFFFFF] text-[14px];
}

.title {
  @apply absolute flex w-full top-[50%] sm:top-[30%] lg:top-[10%] xl:top-[5%] justify-center gap-3 text-[14px];
  h1 {
    @apply text-[#FFFFFF] text-[32px] lg:text-[64px] xl:text-[128px];
    font-family: "SVN-Engine";
  }
}

.gear {
  @apply absolute w-[180px] lg:w-[280px] xl:w-[340px] top-[15%] xl:top-[45%] right-0 xl:-right-6 hidden sm:block;
}

.hyundaiCar {
  @apply absolute w-[280px] lg:w-[560px] xl:w-[740px] top-[100%] sm:top-[55%] xl:top-[32%] left-[15%] sm:left-[35%] lg:left-[26%];
}

.categories {
  @apply w-full sm:flex flex-wrap gap-[5px] mb-[30px];
  .categoryItem {
    @apply py-[10px] px-[20px] text-[16px] xl:text-[18px] font-bold text-[#031230] cursor-pointer;
    &:hover {
      @apply text-[#239F40] bg-[#E9F5EC] rounded-[40px];
    }

    &.categorySelected {
      @apply text-[#239F40] bg-[#E9F5EC] rounded-[40px];
    }
  }
}

.paginationBar {
  @apply flex justify-center align-middle mt-16;
}
