.productDetailSection {
  @apply flex gap-[30px] mt-[100px];
  .leftSection {
    @apply w-[36%];
    .itemImage {
      @apply w-full h-[432px] relative rounded-[24px];
      img {
        // @apply rounded-[24px];
      }

      .hot {
        @apply absolute top-0 right-0;

        .bg {
          @apply m-[10px];
          img {
            @apply w-[48px] h-[48px] rounded-[24px];
          }
        }

        .text {
          @apply absolute top-2/4 right-2/4 translate-x-2/4 -translate-y-2/4 text-[16px] text-[#fff] font-bold;
        }
      }
    }
    .swiperContainer {
      @apply flex w-full relative mt-[20px] justify-between items-center;
      .listImage {
        @apply w-[80%] h-[74px];
        .imageItem {
          @apply w-[74px] h-[74px];
          img {
            @apply w-full rounded-[12px];
          }
        }

        .selectedImage {
          @apply border-[2px] border-[green] rounded-[12px];
        }
      }
      .iconSwiper {
        @apply w-[32px] h-[32px] rounded-full flex items-center justify-center cursor-pointer;
        img {
          @apply w-[16px] h-[16px];
          filter: invert(57%) sepia(57%) saturate(5832%) hue-rotate(107deg) brightness(93%)
            contrast(73%);
        }
        &:hover {
          @apply bg-[#239F40];
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
  .rightSection {
    @apply w-[100%];
    .flashSale {
      @apply sm:flex justify-between bg-[#C82127] py-[7px] px-[10px] rounded-[6px] mb-3;
      p:first-child {
        @apply text-[#F6C74D] font-bold;
      }
      .countdown {
        @apply flex gap-[10px];
        p {
          @apply text-[#FFFFFF];
        }

        .time {
          @apply bg-black p-[2px] rounded-[2px] mx-[2px];
        }
      }
    }
    h1 {
      @apply text-[32px] font-bold text-[#2C0709];
    }
    .boxInfo {
      @apply flex gap-3 w-full mt-[10px];
      .infoProduct {
        .itemCode {
          @apply flex gap-[4px];
          p:last-child {
            @apply font-bold;
          }
        }
        .itemRate {
          @apply flex gap-[10px] mt-[20px] items-center;
          span {
            @apply font-bold;
            &.rate {
              @apply text-[#F6C64D];
            }
          }
          p.stroke {
            @apply text-[#CCCCCC] translate-y-0.5;
          }
          .rate,
          .rateNum {
            @apply translate-y-1;
          }

          .rating_star {
            svg {
              @apply w-[16px] h-[16px];
            }

            & > li {
              @apply mr-[4px];
            }
          }
        }
        .itemPrice {
          @apply flex gap-[10px] mt-[20px] items-center;
          p:first-child {
            @apply text-[#C82127] text-[24px] font-bold;
          }
        }
        .related {
          @apply flex flex-wrap gap-3 mt-6 w-full;
          .item_related {
            @apply border border-solid border-[#cdcbcb] rounded-[5px] hover:bg-[#f4f3f3] flex items-start;
            .item_related_detail {
              @apply font-semibold px-3 py-2 text-[14px] w-[150px] text-center rounded-[5px];
            }
          }
        }
        .contact {
          @apply flex gap-[10px] mt-[20px] font-bold;
        }
        .itemQuantity {
          @apply flex gap-[7px] mt-[38px] items-center;
          .quantity {
            @apply flex gap-[5px] py-[6px] px-[10px] border-[1px] border-[#EEEEEE] rounded-[46px];
            input {
              @apply w-[40px] text-center;
              -webkit-appearance: none;
              margin: 0;
              &:focus {
                @apply outline-none;
              }
            }
          }
        }
        .btnContainer {
          @apply flex gap-[8px] mt-[20px];
          button {
            @media (max-width: 400px) {
              width: 14rem !important;
              margin-bottom: 2rem;
            }
            @apply w-[17.6rem] h-[44px] py-[10px] px-[20px] flex items-center justify-center border-[1px] border-[#239F40] rounded-[54px] font-bold focus:bg-[#239F40] focus:text-white;
            &:first-child {
              @apply hover:bg-[#239F40];
            }
            &:last-child {
              @apply bg-[#239F40] hover:bg-[#007134];
            }
          }
        }
      }

      .deliveryBox {
        @apply w-full h-fit bg-[#E9F5EC] rounded-[24px] p-[20px];
        p:first-child {
          @apply font-bold;
        }
        .selectBox {
          @apply sm:flex gap-[8px] w-full mt-[5px];
          input {
            @apply w-[50%];
          }
        }
        .shippingPrice {
          @apply grid gap-[4px] mt-[20px];
          p:first-child {
            @apply font-bold;
          }
        }
        .shippingDescription {
          @apply flex gap-[8px] mt-[20px] text-[14px] items-start;
          i {
            margin-top: 0.5rem;
            color: #239f40;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.mainSection {
  @apply w-full h-auto flex py-[30px] bg-[#F5F5F5] rounded-[24px] mt-[100px];
  .tabTile {
    @apply w-[21%] px-[40px] border-r-[1px] border-[#E1E1E1];
    ul li {
      @apply mb-[50px] text-[18px] font-bold cursor-pointer hover:text-[#239F40] mt-[6px];
      &.active {
        @apply text-[#239F40];
      }
    }
  }
  .mainContent {
    @apply w-[79%] pl-[40px] pr-[50px];
    .detailItemContainer {
      h3 {
        @apply text-[#C82127] text-[24px] font-bold;
      }
      .flexItem {
        @apply flex justify-between mt-[21px];
        .itemDetail {
          // @apply ;
          .item {
            @apply flex gap-[4px] mb-[16px];
            p:first-child {
              @apply font-bold;
            }
          }
        }
        .imageDetail {
          @apply flex gap-[12px];
          img {
            @apply w-[143px] h-[143px];
          }
        }
      }
      .itemDescription {
        @apply mt-[15px];
      }
    }
  }
}

.promotionTitle {
  @apply text-center mt-36;

  img {
    @apply m-auto;
  }

  h2 {
    @apply font-bold xl:text-[64px] text-[48px] -translate-y-24 text-[#2C0709];
    font-family: 'SVN-Engine';
  }

  p {
    @apply -translate-y-24 text-[#382E2E];
  }
}

.swiperSaleContainer {
  @apply flex w-full relative justify-between items-center max-w-[1330px] pb-[100px] m-auto px-[15px];
  .listImage {
    @apply w-[90%];
    .productItem {
      @apply w-[282px] relative rounded-[40px] border-[1px] border-[#E0E0E0] cursor-pointer;
      .image {
        @apply relative w-full;
        &:before {
          position: absolute;
          content: '';
          inset: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.5);
          border-top-left-radius: 2.4rem;
          border-top-right-radius: 2.4rem;
          transition: all 0.3s linear;
        }
        &:hover {
          &:before {
            background: none;
          }
        }
        img {
          @apply w-[282px] object-cover;
        }
      }
      .productField {
        @apply text-center py-[20px];
        .productName {
          @apply font-bold;
        }
        div {
          @apply flex gap-[10px] justify-center items-center;
          p:first-child {
            @apply font-bold text-[#C82127];
          }
        }
      }
      .voucher {
        @apply absolute top-[3%] right-[3%];
        .bg {
          @apply relative;
          img {
            @apply w-[52px] h-[52px] relative;
          }
          p {
            @apply absolute top-[30%] left-[18%] text-[#FFFFFF] text-[14px] font-bold;
          }
        }
      }
    }
  }
  .iconSwiper {
    width: 40px !important;
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center cursor-pointer z-20 absolute border border-[#239F40] bg-white;
    img {
      @apply w-[16px] h-[16px];
      filter: invert(57%) sepia(57%) saturate(5832%) hue-rotate(107deg) brightness(93%)
        contrast(73%);
    }
    &:hover {
      @apply bg-[#239F40];
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

//Review tab
.productReviewContainer {
  .flexItemRate {
    @apply w-full flex gap-[34px];
    .leftRate {
      @apply w-[12%];
      .leftRateNumber {
        span {
          @apply font-bold;
          &:first-child {
            @apply text-[48px] text-[#F6AF15];
          }
          &:last-child {
            @apply text-[24px];
          }
        }
      }
    }
    .rightRate {
      @apply w-[80%] mt-[24px];
      .filterRate {
        @apply w-full flex gap-[10px];
        button {
          @apply w-[86px] h-[32px] flex justify-center items-center rounded-[100px] border-[1px] border-[#239F40];
          &:hover,
          &.active {
            @apply bg-[#239F40] text-[#FFFFFF] font-bold;
          }
        }
      }
      .question {
        @apply flex gap-[4px] mt-[14px];
        span {
          @apply text-[#C82127] font-bold;
        }
      }
    }
  }
  .listReview {
    @apply w-full mt-[30px];
    .reviewItem {
      @apply w-full flex gap-[10px] pb-[20px] pt-[24px] border-b-[1px] border-[#E1E1E1];
      &:last-child {
        @apply border-none;
      }
      .avatar {
        @apply w-[5%];
        img {
          @apply w-[32px] h-[32px];
        }
      }
      .reviewMain {
        @apply w-[95%];
        .reviewAccount {
          @apply flex justify-between;
          div {
            @apply flex gap-[10px];
            p {
              @apply font-bold;
            }
            img {
              @apply ml-[10px];
            }
          }
          p:last-child {
            @apply text-[14px] text-[#7F8080];
          }
        }
        .review {
          @apply mt-[10px];
        }
        .listImage {
          @apply flex gap-[10px] mt-[10px];
          img {
            @apply w-[74px] h-[74px] rounded-[12px];
          }
        }
      }
    }
    .paginationBar {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      margin-top: 30px;
    }
  }
  .invite {
    @apply text-center mt-[50px];
    span {
      @apply text-[#C82127] font-bold;
    }
  }
}

//Empty review
.emptyContainer {
  .empty {
    @apply text-center mt-[10px] mb-[60px];
    img {
      @apply m-auto;
    }
    h3 {
      @apply mt-[30px] text-[24px] text-[#C82127] font-bold;
    }
    p {
      @apply mt-[10px];
    }
  }
  .flexItem {
    @apply flex gap-[30px] items-center;
    h3 {
      @apply text-[24px] text-[#C82127] font-bold;
    }
  }
  .qualify {
    @apply flex gap-[10px] mt-[38px] items-center;
    p {
      @apply font-bold;
    }
    img {
      @apply -translate-y-0.5;
    }
  }
  .reviewForm {
    @apply flex gap-[24px] justify-between mt-[20px];
    .formItem {
      @apply w-[50%] relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }

      .formInput {
        @apply lg:w-full border-0 border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5] p-[10px] mt-2;

        &::placeholder {
          color: #cccccc;
          font-size: 14px;
        }
      }

      .formUnderline {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #239f40;
        transition: 0.4s linear;
      }

      .formInput:focus {
        outline: none;
      }

      .formInput:focus ~ .formUnderline {
        @apply w-[90%] ml-[10px] lg:w-[100%] lg:ml-0;
        transition: 0.5s linear;
      }

      .hidePw {
        @apply absolute w-[16px] h-[16px] bottom-5 right-[2%] cursor-pointer;
      }
    }
  }
  .writeReview {
    .formItem {
      @apply relative mt-[20px];

      p {
        @apply text-[16px] font-bold text-[#2C0709] mb-[10px];

        span {
          @apply text-[#C82127];
        }
      }

      textarea {
        @apply w-full h-[88px] p-[10px] resize-none border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5];

        &::placeholder {
          color: #c9c9c9;
          font-size: 14px;
        }
      }

      .formUnderline {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #239f40;
        transition: 0.4s linear;
        transform: translateY(-7px);
      }

      textarea:focus {
        outline: none;
      }

      textarea:focus ~ .formUnderline {
        width: 100%;
        transition: 0.5s linear;
      }
    }
  }
  .actionReview {
    @apply flex justify-between mt-[30px];
    .btnContainer {
      @apply flex gap-[50px] items-center;
      button.upload {
        @apply w-[233px] h-[44px] bg-[#E9F5EC] border-[1px] border-[#239F40] text-[#239F40] font-bold rounded-[40px] py-[7px] px-[20px] flex justify-center items-center gap-[1px];
      }
      // div {
      //     @apply flex gap-[10px] items-center;
      // }
    }
    button.sendReview {
      @apply w-[150px] h-[44px] bg-[#239F40] border-[1px] border-[#239F40] hover:bg-[#007134] text-[#FFFFFF] font-bold rounded-[40px] py-[10px] px-[20px] flex justify-center items-center gap-[5px];
    }
  }
}

//Comment tab
.productCommentContainer {
  .flexItem {
    @apply sm:flex gap-[8px] items-center;
    h3 {
      @apply text-[24px] text-[#C82127] font-bold;
    }
  }
  .question {
    @apply flex gap-[4px];
    span {
      @apply text-[#C82127] font-bold;
    }
  }
  .listComment {
    @apply w-full mt-[30px];
    .commentItem {
      @apply w-full flex gap-[10px] pb-[20px] pt-[24px] border-b-[1px] border-[#E1E1E1];
      &:last-child {
        @apply border-none;
      }
      .avatar {
        @apply w-[5%];
        img {
          @apply w-[32px] h-[32px] rounded-full;
        }
      }
      .commentMain {
        @apply w-[95%];
        .commentAccount {
          @apply flex justify-between;
          div {
            @apply flex gap-[10px];
            p {
              @apply font-bold;
            }
            img {
              @apply ml-[10px];
            }
          }
          p:last-child {
            @apply text-[14px] text-[#7F8080];
          }
        }
        .comment {
          @apply mt-[10px];
        }
        .replyComment {
          @apply flex gap-[10px] mt-[10px] font-semibold;
        }
        .boxComment {
          padding: 0 6px;
          max-height: 450px;
          overflow-y: scroll;
        }
      }
    }
    .paginationBar {
      display: flex;
      justify-content: center;
      vertical-align: middle;
      margin-top: 30px;
    }
    .replyItem {
      @apply pt-[20px] pb-0;
    }
    .invite {
      @apply text-center mt-[50px];
      span {
        @apply text-[#C82127] font-bold;
      }
    }
  }
}

//Empty comment
.emptyCommentContainer {
  .empty {
    @apply text-center mt-[10px];
    img {
      @apply m-auto;
    }
    h3 {
      @apply mt-[30px] text-[24px] text-[#C82127] font-bold;
    }
    p {
      @apply mt-[10px];
    }
  }
  .flexItem {
    @apply flex gap-[30px] mt-[30px] items-center;
    h3 {
      @apply text-[24px] text-[#C82127] font-bold;
    }
  }
  .reviewForm {
    @apply flex gap-[24px] justify-between mt-[30px];
    .formItem {
      @apply w-[50%] relative;

      p {
        @apply text-[16px] font-bold text-[#2C0709];

        span {
          @apply text-[#C82127];
        }
      }

      .formInput {
        @apply lg:w-full border-0 border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5] p-[10px] mt-2;

        &::placeholder {
          color: #cccccc;
          font-size: 14px;
        }
      }

      .formUnderline {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #239f40;
        transition: 0.4s linear;
      }

      .formInput:focus {
        outline: none;
      }

      .formInput:focus ~ .formUnderline {
        @apply w-[90%] ml-[10px] lg:w-[100%] lg:ml-0;
        transition: 0.5s linear;
      }

      .hidePw {
        @apply absolute w-[16px] h-[16px] bottom-5 right-[2%] cursor-pointer;
      }
    }
  }
  .writeReview {
    .formItem {
      @apply relative mt-[20px];

      p {
        @apply text-[16px] font-bold text-[#2C0709] mb-[10px];

        span {
          @apply text-[#C82127];
        }
      }

      textarea {
        @apply w-full h-[88px] p-[10px] resize-none border-b-[1px] border-[#CCCCCC] bg-[#F5F5F5];

        &::placeholder {
          color: #c9c9c9;
          font-size: 14px;
        }
      }

      .formUnderline {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #239f40;
        transition: 0.4s linear;
        transform: translateY(-7px);
      }

      textarea:focus {
        outline: none;
      }

      textarea:focus ~ .formUnderline {
        width: 100%;
        transition: 0.5s linear;
      }
    }
  }
  .actionReview {
    @apply flex justify-between mt-[30px];
    .btnContainer {
      @apply flex gap-[50px] items-center;
      button.upload {
        @apply w-[233px] h-[44px] bg-[#E9F5EC] border-[1px] border-[#239F40] text-[#239F40] font-bold rounded-[40px] py-[7px] px-[20px] flex justify-center items-center gap-[1px];
      }
      // div {
      //     @apply flex gap-[10px] items-center;
      // }
    }
    button.sendReview {
      @apply w-[150px] h-[44px] bg-[#239F40] border-[1px] border-[#239F40] hover:bg-[#007134] text-[#FFFFFF] font-bold rounded-[40px] py-[10px] px-[20px] flex justify-center items-center gap-[5px];
    }
  }
}
