.diaryDetailContainer {
  @apply w-full h-[100%];
}

.diaryDetail {
  margin-top: 80px !important;
  @apply max-w-[1230px] mt-[12rem] m-auto px-[15px] pb-[7rem] lg:flex justify-between;

  .leftSection {
    @apply lg:w-[70%];
    span {
      @apply px-7 py-3 bg-[#239F40] rounded-[35px] text-[#FFFFFF] font-bold text-[16px];
    }
    h1 {
      @apply xl:text-[40px] lg:text-[32px] text-[24px] font-bold mt-6;
    }
    .intro {
      @apply flex justify-between mt-8;
      .description {
        @apply flex w-[80%] gap-3 align-middle;
        p {
          @apply text-[#7F8080] text-[16px] leading-6 mt-2;
        }
        img {
          @apply w-[16px];
        }
      }
      .socialIcon {
        @apply flex gap-2;
      }
    }
    .detailImage {
      @apply w-full mt-12;
      img {
        @apply w-full;
      }
    }

    .diaryContent {
      @apply mt-6 border-b-[1.8px] border-[#CCCCCC];
      p {
        @apply mt-8 mb-16 text-[16px] text-justify;
      }
      h4 {
        @apply font-bold lg:text-[20px] lg:leading-[30px] text-[#239F40];
      }
    }

    .recentDiary {
      @apply mt-12 flex gap-8 sm:flex-row flex-col sm:justify-between;
      .recentItem {
        @apply sm:w-[50%] relative py-[19px] px-[36px] rounded-[14px] cursor-pointer;
        p {
          @apply translate-x-0;
        }
        .recentTitle {
          @apply flex items-start gap-6 translate-x-0;
          p {
            @apply font-bold;
          }
          i {
            @apply mt-2;
          }
        }
        &:before {
          content: '';
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 124, 33, 0.6);
          opacity: 0;
          transition: opacity 0.5s;
          z-index: 0;
          border-radius: 14px;
        }
        &:hover {
          background-image: url(../../../../public/image/Rectangle-6.png);
          color: #ffffff;
          &:before {
            opacity: 1;
          }
          .prev,
          .next {
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    // .recentItemActive {
    //   background-image: url(../../../../public/image/Rectangle-6.png);
    //   color: #ffffff;

    //   &:before {
    //     content: '';
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 124, 33, 0.6);
    //     opacity: 1 !important;
    //     transition: opacity 0.5s;
    //     z-index: 1000;
    //     border-radius: 14px;
    //   }
    // }
  }

  .rightSection {
    @apply lg:w-[28%];
    .categories {
      @apply w-full rounded-3xl bg-[#F5F5F5] py-[2rem] px-[2rem];
      h3 {
        @apply mb-8 font-bold lg:text-[24px];
      }
      ul li a {
        @apply flex justify-between mt-6;
        .arrow {
          @apply block;
        }
        .greenArrow {
          @apply hidden;
        }
        &:hover {
          @apply text-[#239F40];
          .arrow {
            @apply hidden;
          }
          .greenArrow {
            @apply block;
          }
        }
      }
    }
    .relatedDiary {
      @apply mt-12 w-full rounded-3xl bg-[#F5F5F5] py-[2rem] px-[2rem];
      h3 {
        @apply mb-8 font-bold lg:text-[24px] text-[#C82127];
      }
      ul li {
        @apply flex gap-2 pb-[20px];
        &:not(:last-child) {
          @apply border-b-[1.5px] border-[#DFDFDF];
        }
        &:not(:first-child) {
          @apply mt-[20px];
        }
        .relatedDiaryImage {
          @apply w-[30%] h-[78px] relative cursor-pointer;
          img.imageItem {
            @apply w-[78px] h-auto;
          }
          span {
            @apply absolute top-[30%] left-[30%] z-10 hidden;
          }
          &:before {
            content: '';
            position: absolute;
            inset: 0;
            width: 78px;
            height: 100%;
            background: rgba(0, 124, 33, 0.6);
            opacity: 0;
            transition: opacity 0.5s;
            z-index: 1;
            border-radius: 28px 12px;
          }
          &:hover {
            img {
              @apply delay-100 duration-300 ease-in-out;
              border-radius: 28px 12px;
            }
            &:before {
              opacity: 1;
            }
            span {
              @apply block delay-100 duration-300 ease-in-out;
            }
          }
        }
        .relatedDiaryTitle {
          @apply w-[70%];
          p {
            @apply text-[#2C0709] font-bold text-[16px];
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
          a {
            @apply flex gap-3;
            .arrow {
              @apply block;
            }
            .greenArrow {
              @apply hidden;
            }
            &:hover {
              p {
                @apply text-[#239F40];
              }
              .arrow {
                @apply hidden;
              }
              .greenArrow {
                @apply block;
              }
            }
          }
        }
      }
    }
  }
}
